<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="background-color: #007bffb5">
      <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">iTran</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar" style="background-color: #007bffb5">
      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Admin</a>
        </div>
      </div>-->
      <!-- Sidebar Menu -->
      <nav class="mt-2">

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                ภาพรวมการขนส่ง
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                เนื้อหา
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>ข่าวสาร</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>โปรโมชั่น</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>ข่าวสาร</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/delivery" class="nav-link">
              <i class="nav-icon fa fa-list-alt"></i>
              <p>การจัดส่ง</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/customerprofile" class="nav-link">
              <i class="fas fa-user nav-icon"></i>
              <p>ลูกค้า</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-user nav-icon"></i>
              <p>คนขับรถ</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-truck"></i>
              <p>รถ</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-money-check-alt"></i>
              <p>ข้อมูลทางการเงิน</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-shield-alt"></i>
              <p>
                ความปลอดภัย
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>ข้อมูลแอดมิน</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>จัดการเอกสิทธฺ์แอดมิน</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>จัดการตำแหน่งแอดมิน</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>
                ศูนย์ความช่วยเหลือ
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>คำถามที่พบบ่อย</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>ร้องเรียน/แนะนำ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>อีเมล์</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>แชท</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>ข้อกำหนดการใช้งาน</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="margin-left:20px">
                  <i class=""></i>
                  <p>ข้อกำหนดการตลาด</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">ข้อมูล มาสเตอร์</li>
          <li class="nav-item">
            <a href="/corporatetype" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>ประเภทนิติบุคคล</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/title" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>คำนำหน้านาม</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-car"></i>
              <p>
                รถยนต์
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/cartype" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ประเภทรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/carlist" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>รายการรถ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/cardescription" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>รายละเอียดรถ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/carspecification" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ความสูงรถ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/carfeature" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ลักษณะพิเศษ</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                ที่อยู่
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/country" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ประเทศ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/region" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ภูมิภาค</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/province" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>จังหวัด</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/district" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>อำเภอ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/subdistrict" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ตำบล</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-box-open"></i>
              <p>
                สินค้า
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/producttype" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ประเภทสินค้า</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/productpackaging" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>แพ็คเกจสินค้า</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-box"></i>
              <p>
                คอนเทนเนอร์
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/containertype" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ประเภทคอนเทนเนอร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/containerspecification" class="nav-link" style="margin-left:20px">
                  <i></i>
                  <p>ลักษณะคอนเทนเนอร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/energysavingdevice" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>อุปกรณ์ประหยัดพลังงาน</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/userlevel" class="nav-link">
              <i class="fas fa-user-tie nav-icon"></i>
              <p>ระดับผู้ใช้</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/orderingcancelstatus" class="nav-link">
              <i class="fas fa-ban nav-icon"></i>
              <p>สถานะยกเลิก</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Pages
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/country" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Country</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/region" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Region</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/province" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Province</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/district" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>District</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/subdistrict" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Subdistrict</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/title" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Title</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-truck-moving"></i>
                  <p>
                    Car
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/cartype" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CarType</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/carlist" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CarList</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/cardescription" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CarDescription</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/carspecification" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CarSpecification</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/carfeature" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CarFeature</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-box-open"></i>
                  <p>
                    Product
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/producttype" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ProductType</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/productpackaging" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ProductPackaging</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-user"></i>
                  <p>
                    User
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/userlevel" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>UserLevel</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/orderingcancelstatus" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>OrderingCancelStatus</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="/welcomeinformation" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>WelcomeInformation</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/corporatetype" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>CorporateType</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-envelope-open-text"></i>
                  <p>
                    Register
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/registerinformation" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>RegisterInformation</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/registerdocument" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>RegisterDocument</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-boxes"></i>
                  <p>
                    Container
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/containertype" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ContainerType</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/containerspecification" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>ContainerSpecification</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="/energysavingdevice" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Energysavingdevice</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <!-- <footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="#">Your Site</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.0
    </div>
  </footer> -->
</div>
<!-- ./wrapper -->
