<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>สถานะยกเลิก</h1>
        </div>
       
      </div>
    </div>
  </section>
  <div class="page-body">
    <div class="table-action">
      <div class="search">
        <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
        <div class="btn btn-search" (click)="filter(search)">
          ค้นหา
        </div>
      </div>
      <div class="action">
        <div class="btn btn-create" [routerLink]="['/manageorderingcancelstatus']" routerLinkActive="router-link-active">
          <i class="fas fa-plus"></i> สร้าง
        </div>
      </div>
    </div>
    <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
        
          <th>ประเภท(TH)
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'module'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up"(click)="orderBy('module')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'module'"  class="all fas fa-chevron-up"(click)="orderBy('module')"></i>
          </th>
          <th>ชื่อ (TH)
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name_TH'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name_TH'"  class="all fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
          </th>
          <th>Name(EN)
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name_ENG'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name_ENG'" class="fas fa-chevron-up"(click)="orderBy('name_ENG')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name_ENG'"  class="all fas fa-chevron-up"(click)="orderBy('name_ENG')"></i>
          </th>
          <th>ลำดับ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'sequence'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'sequence'" class="fas fa-chevron-up"(click)="orderBy('sequence')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'sequence'"  class="all fas fa-chevron-up"(click)="orderBy('sequence')"></i>
          </th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      
          <!-- {{a[0].name_TH}} -->
        <tr *ngFor="let orderingcancelstatus of orderingcancelstatuses.data">
          <td>{{orderingcancelstatus.module}}</td>       
          <td>{{orderingcancelstatus.name_TH}}</td>
          <td>{{orderingcancelstatus.name_ENG}}</td>
          <th>{{orderingcancelstatus.sequence}}</th>
          <td>
            <div class="input-group input-group-sm ">
              <label class="pure-material-checkbox">
                <p *ngIf="orderingcancelstatus.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i
                    class="fas fa-check"></i></p>
              </label>
            </div>
            <td class="d-flex">
              <div class=" btn-edit" routerLink="/manageorderingcancelstatus/{{orderingcancelstatus.id}}">
                <i class="fas fa-edit"></i>
              </div>
              <div class=" btn-delete">
                <i class="fas fa-trash" (click)="onDelete(orderingcancelstatus.id)"></i>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="page-footer my-3">
      <app-table-pagination [count]="orderingcancelstatuses.itemCount" [page]="orderingcancelstatuses.pageNumber" [limit]="orderingcancelstatuses.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>
  <ng-template #data_not_found>
    <p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
  </ng-template>