

<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>{{form.firstNameEN}} {{form.lastNameTH}}</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">
  <!-- <div class="mt-1">
    <p>รูปลูกค้า</p>
    <div class="mt-2" style="background-color: #333; height:150px; width:150px; border-radius: 50%;overflow: hidden;
      border: #eee solid 1px;">
      <img onerror="this.src='assets/images/user.png';" [src]="image" alt="" class="w-100 h-100" />
    </div>
  </div> -->
  <div class="avatar-upload mb-4 mt-2">
  <div class="avatar-edit">
      <!-- <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" /> -->
      <input type="file"  accept=".png, .jpg, .jpeg" class="custom-file-input" name="image" id="image" aria-label="Small"
      required (change)="handleFileInput('image',$event.target.files)">
      <label for="image"><i style="margin: 25% 0px;  color: #757575;" class="fas fa-camera"></i></label>
  </div>
  <div class="avatar-preview">
      <div id="imagePreview" style="border-radius: 50%;overflow: hidden;"  >
        <img class="w-100 h-100"  onerror="this.src='assets/images/user.png';" [src]="image" alt="" />
      </div>
  </div>
</div>

<!-- <div *ngIf="image" class="mt-2" style="background-color: #333; height:150px; width:150px; border-radius: 50%;overflow: hidden; border: #eee solid 1px;">
    <img class="w-100"  [src]="image" alt="" />
  </div>
  <div class="input-group input-group-sm ">
    <input type="file" accept="image/*" class="custom-file-input" name="image" id="image" aria-label="Small"
      required (change)="handleFileInput('image',$event.target.files)">
    <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
      style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
    <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
  </div>
  
  <span class="form-error" *ngIf="isFormSubmit && !form.imageprofile">
    Please enter image.
  </span> -->


  <div class="row  mt-4">
    <div class="col">

      <!-- <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label" for="file">เเก้ไขรูปโปรไฟล์</p>
        <div class="col-sm-9">
        <div class="input-group input-group-sm ">
          <input type="file" accept="image/*" class="custom-file-input" name="image" id="image" aria-label="Small"
             (change)="handleFileInput('image',$event.target.files)">
          <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
            style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
            
          <label class="custom-file-label" for="inputGroupFile04">
            <div *ngIf="!form.imageprofile">Choose File</div>
            <div *ngIf="form.imageprofile">{{users.imageprofile.name}}</div>
          </label>
        </div>
      </div>
      </div> -->

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">ประเภทของแอดมิน</p>
        <div class="col-sm-9">
          <select class="form-control" [(ngModel)]="form.role">
            <option *ngFor="let r of role" [ngValue]="r.id">{{r.nameTH}}</option>
          </select>
        </div>
      </div>



      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">คำนำหน้าชื่อ</p>
        <div class="col-sm-9  d-flex">
          <div class="form-check col-form-label" *ngFor="let title of contactpersontitles; let i = index;">
            <input class="form-check-input" name="contactPersonTitle" type="radio" id="contactPersonTitle-{{i}}"
              [(ngModel)]="form.title" [value]='title.id'>
            <label class="form-check-label col-sm-3" for="contactPersonTitle-{{i}}">
              {{title.name_TH}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>




  <div class="row">
    <div class="col">

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-3 col-form-label">ชื่อ <br>(EN)</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.firstNameEN">
        </div>
      </div>
      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-3 col-form-label">ชื่อ <br> (TH)</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.firstNameTH">
        </div>
      </div>



    </div>
    <div class="col">

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">ชื่อกลาง (EN)</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.middleNameEN">
        </div>
      </div>
      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">ชื่อกลาง (TH)</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.middleNameTH">
        </div>
      </div>


    </div>
    <div class="col">

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">นามสกุล (EN)</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.lastNameTH">
        </div>
      </div>
      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">นามสกุล (TH)</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.lastNameEN">
        </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">เลขบัตรประชาชน</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.identityNumber">
        </div>
      </div>
      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">หมายเลขโทรศัพท์</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.phoneNumber">
        </div>
      </div>

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">expiredDate</p>
        <div class="col-sm-9">
          <ngx-datepicker class="w-100"  [(ngModel)]="form.expiredDate" [options]="options"></ngx-datepicker>

        </div>
      </div>


    </div>
    <div class="col">

      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">วันเกิด</p>
        <div class="col-sm-9">
          <ngx-datepicker class="w-100"  [(ngModel)]="form.birthday" [options]="options"></ngx-datepicker>

        </div>
      </div>
      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">อีเมล</p>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="form.email">
        </div>
      </div>
      <div class="row mb-3">
        <p for="inputEmail3" class="col-sm-2 col-form-label">activated</p>
        <div class="col-sm-9 date">
          <ngx-datepicker  class="w-100 " [(ngModel)]="form.activated" [options]="options"></ngx-datepicker>
          
        </div>
      </div>
     
    </div>
  </div>




  <div>
    <div class="row justify-content-end">
      <putton type="submit" (click)="onSubmit()" class="btn btn-submit mx-2">ยืนยัน</putton>
      <a routerLink="/adminprofile" class="btn cancel" style="margin-right: 5px">ยกเลิก</a>
    </div>
  </div>


</div>