<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>การจัดการสิทธิเเอดมิน</h4>
        </div>    
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="page-body">

    <div class="table-action">
        <div class="search">
          <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
          <div class="btn btn-search" (click)="filter(search)">
            ค้นหา
          </div>
        </div>
        <div class="action">
          <div class="btn btn-create" [routerLink]="['/managepermission']" routerLinkActive="router-link-active">
            <i class="fas fa-plus"></i> สร้าง
          </div>
        </div>
        
      </div>
    <div class="table-body">
        <table id="example1" class="table table-hover table-bordered table-striped">    
      <thead>
        <tr>
          <th>บทบาท</th>
          <th>การอนุญาติ</th>
          <th>เเก้ไขครั้งล่าสุด</th>
          <th>เเก้ไขโดย</th>
          <th></th>




        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let role of roles.data">
          <td>{{role.nameTH}}</td>
          <td>{{role.countmenu}}</td>
          <td>{{role.modified | date: 'YYYY/MM/dd HH:MM'}}</td>
          <td>{{role.modifiedBy}}</td>
        
          <td class="d-flex">           
            <div class=" btn-edit" routerLink="/managepermission/{{role.id}}" routerLinkActive="router-link-active">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(role.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table> 
</div>

    <div class="page-footer my-3">
      <app-table-pagination [count]="roles.itemCount" [page]="roles.pageNumber" [limit]="roles.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>
  