<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>รถ</h4>
        </div>    
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="page-body">
    <div *ngIf="show ===1">
    <select  class="form-control form-control-sm mb-4 col-2" [(ngModel)]="cartype" (change)="filter()" >
      <option value="">ทั้งหมด</option>
      <option value="personal">บุคคลธรรมดา</option>
      <option value="corporate">นิติบุคคล</option>

    </select>
    <hr>
    </div>
    <div class="table-action">
      <div class="search">
        <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
        <div class="btn btn-search" (click)="filter()">
          ค้นหา
        </div>
      </div>
      
      
    </div>
    <div class="table-body">
      <table id="example1" class="table  table-bordered table-striped">
      <thead>
        <tr>
          <th>รูปรถ</th>
          <th *ngIf="cartype ==='personal' || cartype ===''">ทะเบียนรถ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'carRegistration'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'carRegistration'" class="fas fa-chevron-up"(click)="orderBy('carRegistration')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'carRegistration'"  class="all fas fa-chevron-up"(click)="orderBy('carRegistration')"></i>
          </th>
          <th  *ngIf="cartype ==='personal' || cartype ===''">ชื่อ-นามสกุลคนขับ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name'" class="fas fa-chevron-up"(click)="orderBy('name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name'"  class="all fas fa-chevron-up"(click)="orderBy('name')"></i>
          </th>
          <th *ngIf="cartype ==='corporate'">ชื่อนิติบุคคล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'corporateName'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'corporateName'" class="fas fa-chevron-up"(click)="orderBy('corporateName')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !=='corporateName'"  class="all fas fa-chevron-up"(click)="orderBy('corporateName')"></i>
          </th> 
          <th *ngIf="cartype ==='corporate'">เลขนิติบุคคล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'corporateNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'corporateNumber'" class="fas fa-chevron-up"(click)="orderBy('corporateNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !=='corporateNumber'"  class="all fas fa-chevron-up"(click)="orderBy('corporateNumber')"></i>
          </th> 
          <th *ngIf="cartype ==='corporate'">จำนวนรถ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'countCar'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'countCar'" class="fas fa-chevron-up"(click)="orderBy('countCar')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !=='countCar'"  class="all fas fa-chevron-up"(click)="orderBy('countCar')"></i>
          </th>  
          <th>หมายเลขโทรศัพท์
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'phoneNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'phoneNumber'" class="fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'phoneNumber'"  class="all fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
          </th>
          <th>อุณหภูมิ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'temperature'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'temperature'" class="fas fa-chevron-up"(click)="orderBy('temperature')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'temperature'"  class="all fas fa-chevron-up"(click)="orderBy('temperature')"></i>
          </th>
          <th>วันที่ลงทะเบียน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th>สถานะ</th>
          <th></th>


        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let drivercar of drivercars.data" >
          <td>   
            <div class="row justify-content-center" >
              <img *ngIf="cartype ==='personal' || cartype ===''" onerror="this.src='assets/images/user.png';" style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;" src="{{drivercar?.carFiles | imageFilter: 'CarPicture'}}" alt=""> 
              <img *ngIf="cartype ==='corporate'" onerror="this.src='assets/images/user.png';" style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;" src="{{drivercar?.driverFiles | imageFilter: 'profilepicture'}}" alt=""> 
            </div>
          </td>         
           <td *ngIf="cartype ==='personal' || cartype ===''">{{drivercar?.carRegistration}}</td>
           <td *ngIf="cartype ==='personal' || cartype ===''">{{drivercar?.driverName}}</td>
           <td *ngIf="cartype ==='corporate'">{{drivercar?.corporateName}}</td>
          <td *ngIf="cartype ==='corporate'">{{drivercar?.corporateNumber}}</td>
          <td *ngIf="cartype ==='corporate'">{{drivercar?.countCar}}</td>
          <td>{{drivercar?.driverPhoneNumber}}</td>
          <td>{{drivercar?.temperature}}</td>
          <td>{{drivercar?.created}}</td>
          <td>
            <p *ngIf="drivercar.status === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>  

          </td>
          <td class="d-flex">           
            <div *ngIf="cartype ==='personal' || cartype ===''" class=" btn-edit" routerLink="/managecarprofile/{{drivercar?.id}}" routerLinkActive="router-link-active">
              <i class="fas fa-edit"></i>
            </div>
            <!-- ตรงยี้เปลี้ยน rounter เป็น function getcarbyownerid ส้ง driverid ไปเเล้วดูว่ามีตัวไหนบ้าง -->
            <div *ngIf="cartype ==='corporate'" class=" btn-edit" (click)="getDriverCarByOwnerId(drivercar?.driverId)">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(drivercar?.id)"></i>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="page-footer my-3">
      <app-table-pagination [count]="drivercars.itemCount" [page]="drivercars.pageNumber" [limit]="drivercars.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
  