<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>รายละเอียดอีเมล</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">อีเมล</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="page-body">
      
      <table class="css-table table table-boarderBottom">
        <tbody>
          
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ชื่อนามสกุล
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input disabled  type="text" class="form-control col-6" [(ngModel)]="emails.customer.name"   >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ประเภท
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input disabled  type="text" class="form-control col-6"  placeholder="EN" value="customer" >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ข้อความ
              </p>
            </td>
            <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input disabled  type="text" class="form-control col-6"  placeholder="EN" [(ngModel)]="emails.message" >
                </div>
              </td>
          </tr>
          <tr>
        </tbody>
    
        </table>
      
  
      <div style="text-align:right">
        <button routerLink="/email" type="button" class="btn btn-defualt" >กลับ</button>
      </div>
  </div>

  