<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ระดับผู้ใช้งาน</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" (keydown.enter)="filter(search)"/>
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/manageuserlevel']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            ประเภท
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'module'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up" (click)="orderBy('module')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'module'" class="all fas fa-chevron-up" (click)="orderBy('module')"></i>
          </th>
          <th>
            level
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'level'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'level'" class="fas fa-chevron-up" (click)="orderBy('level')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'level'" class="all fas fa-chevron-up" (click)="orderBy('level')"></i>
          </th>
          <th>
            ชื่อ (TH)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'name_TH'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up" (click)="orderBy('name_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'name_TH'" class="all fas fa-chevron-up" (click)="orderBy('name_TH')"></i>
          </th>
          <th>
            Name (EN)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'name_ENG'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'name_ENG'" class="fas fa-chevron-up" (click)="orderBy('name_ENG')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'name_ENG'" class="all fas fa-chevron-up" (click)="orderBy('name_ENG')"></i>
          </th>
          <th>
            วันที่สร้าง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'created'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up" (click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'created'" class="all fas fa-chevron-up" (click)="orderBy('created')"></i>
          </th>
          <th>
            วันที่แก้ไขล่าสุด
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'modified'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'modified'" class="fas fa-chevron-up" (click)="orderBy('modified')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'modified'" class="all fas fa-chevron-up" (click)="orderBy('modified')"></i>
          </th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userlevel of userlevels.data">
          <td>{{userlevel.module}}</td>
          <td>{{userlevel.level}}</td>
          <td>{{userlevel.name_TH}}</td>
          <td>{{userlevel.name_ENG}}</td>
          <td>{{userlevel.created | date}}</td>
          <td>{{userlevel.modified | date}}</td>
          <td>
            <div class="input-group input-group-sm ">
              <label class="pure-material-checkbox">
                <p *ngIf="userlevel.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check">
                  <i class="fas fa-check"></i>
                </p>
              </label>
            </div>
          </td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/manageuserlevel/{{userlevel.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(userlevel.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="userlevels.itemCount" [page]="userlevels.pageNumber" [limit]="userlevels.pageSize"
      (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
<ng-template #data_not_found>
  <p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
</ng-template>
