$primary: #1023c4;
.page-link {
    color: $primary !important;
    font-weight: bold;
}


.page-link.step {
    color: $primary !important;
}

.page-link.avtive {
    color: #ffffff !important;
    background-color: $primary !important;
    opacity: 1;
}
.page-count{
    display: flex;
    align-items: center;
    margin: 0;
}
.pagination {
    @media screen and(max-width: 400px) {
        display: inline-block !important;
    }
}

.page-item {
    @media screen and(max-width: 400px) {
        display: inline-block !important;
    }
}

.page-item:first-child .page-link {
    @media screen and(max-width: 400px) {
        border-radius: 0px !important;
    }
}

.page-item:last-child .page-link {
    @media screen and(max-width: 400px) {
        border-radius: 0px !important;
    }
}
.page-dot {
    padding: 3px 13px;
}
