<div class="row">
  <div class="col-12 col-md-6">
    <span class="justify-content-start">
      แสดง
      {{ (page === 1 ? 1 : ((page - 1) * limit) + 1) }}
      ถึง
      {{ (page * limit) > count ? count : page * limit }}
      จาก
      {{ count }}
      รายการ
    </span>
  </div>
  <div class="col-12 col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="page !== 1">
          <a class="page-link step" aria-label="Previous" style="cursor: pointer;" (click)="p()">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li (click)="s(item)" *ngFor="let item of getPageArray() ; let i = index">
          <a *ngIf="(item <= (page + 3)) && (item >= (page - 3)) " class="page-link {{ item == page ? 'avtive' : '' }}"
            style="cursor: pointer;">
            {{ item }}
          </a>
        </li>
        <li *ngIf="lastPage-5 >= page" class="page-dot">
          <a>
            ...
          </a>
        </li>
        <li (click)="s(lastPage)" *ngIf="lastPage - 5 >= page">
          <a class="page-link {{ lastPage == page ? 'avtive' : '' }}" style="cursor: pointer;">
            {{ lastPage }}
          </a>
        </li>
        <li class="page-item" *ngIf="getPageNext()">
          <a class="page-link step" aria-label="Next" style="cursor: pointer;" (click)="n()">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
