<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ระดับลูกค้า</h1>
      </div>
    </div>
  </div>
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/managecustomerlevelcharacteristic']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ระดับ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'level'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'level'" class="fas fa-chevron-up"(click)="orderBy('level')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'level'"  class="all fas fa-chevron-up"(click)="orderBy('level')"></i>
          </th>
          <th>จำนวนดาว
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'star'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'star'" class="fas fa-chevron-up"(click)="orderBy('star')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'star'"  class="all fas fa-chevron-up"(click)="orderBy('star')"></i>
          </th>
          <th>จำนวนการเรียกรถ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'requestCar'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'requestCar'" class="fas fa-chevron-up"(click)="orderBy('requestCar')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'requestCar'"  class="all fas fa-chevron-up"(click)="orderBy('requestCar')"></i>
          </th>
          <th>จำนวนการยกเลิกงาน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'cancelAmount'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'cancelAmount'" class="fas fa-chevron-up"(click)="orderBy('cancelAmount')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'cancelAmount'"  class="all fas fa-chevron-up"(click)="orderBy('cancelAmount')"></i>
          </th>
          <th>มูลค่ารวม
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'orderValue'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'orderValue'" class="fas fa-chevron-up"(click)="orderBy('orderValue')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'orderValue'"  class="all fas fa-chevron-up"(click)="orderBy('orderValue')"></i>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of customerLevelCharacteristics.data">
          <td>{{item.level}}</td>
          <td>{{item.star}}</td>
          <td>{{item.requestCar}}
          <td>{{item.cancelAmount}}</td>
          <td>{{item.orderValue}}</td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/managecustomerlevelcharacteristic/{{item.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(item.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page-footer my-3">
    <app-table-pagination [count]="customerLevelCharacteristics.itemCount" [page]="customerLevelCharacteristics.pageNumber" [limit]="customerLevelCharacteristics.pageSize"
                          (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
