<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>แชท</h4>
        </div>    
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="page-body">
    <div class="table-action">
      <div class="search">
        <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
        <div class="btn btn-search" (click)="filter(search)">
          ค้นหา
        </div>
      </div>
      
    </div>
  
    <div class="table-body">
        <table id="example1" class="table table-hover table-bordered table-striped">      
        <thead>
          <tr>
            <th>ชื่อ-นามสกุล</th>
            <th>ประเภท</th>
            <th>ข้อความ</th>
            <th>วันที่ทำรายการ</th>
            <th>Actions</th>
          </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let i of chat.result">
          <td>{{i.fullName}}</td>
          <td>{{i.role}}</td>
          <td>{{i.content}}</td>

          <td>{{i.timeStamp | date:'dd/MM/yyyy HH:mm'}}</td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/managetitle/{{i.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(i.id)"></i>
            </div>
          </td>
          <!-- <td class="d-flex">
    <div class=" btn-view"  routerLink="/manageFAQ/{{i.id}}" routerLinkActive="router-link-active">
      <i class="far fa-eye"></i>
    </div>
    <div class=" btn-delete">
      <i class="fas fa-trash" (click)="onDelete(i.id)"></i>
    </div>
  </td> -->
        </tr>
      </tbody>
    </table> 
  </div>
  
    <!-- <div class="page-footer my-3">
      <app-table-pagination [count]="i.itemCount" [page]="FAQs.pageNumber" [limit]="FAQs.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div> -->
  </div>
