<div class="page-container">
  <div class="page-warp px-0">
    <div class="page-content">
      <h3>ประกาศ</h3>
    </div>
  </div>

  <div class="page-body">
    <div class="table-action">
      <div class="search">
        <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="body.keyword" />
        <div class="btn btn-search" (click)="fetchData()">
          ค้นหา
        </div>
      </div>
      <div class="action">
        <div class="btn btn-create" [routerLink]="['./create']" routerLinkActive="router-link-active">
          <i class="fas fa-plus"></i> สร้าง
        </div>
      </div>
    </div>

    <div class="table-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>หัวเรื่อง</th>
            <th>รายละเอียด</th>
            <th>วันที่เริ่ม</th>
            <th>วันที่สิ้นสุด</th>

            <th>เปิดใช้งาน</th>

            <th>ประเภท</th>
            <th>แก้ไขครั้งล่าสุด</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items.data">
            <td>{{item.title}}</td>
            <td class="long-text">
              {{item.detail | stripHtml}}
            </td>
            <td>{{item.startDate | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{item.endDate | date:'dd/MM/yyyy  HH:mm'}}</td>

            <td>
              {{item.isActive ? 'Yes' : 'No'}}
            </td>

            <td>
              <span
                *ngIf="(item.targetCustomerType && item.targetDriverType) || (!item.targetCustomerType && !item.targetDriverType)">ทั้งหมด</span>
              <span
                *ngIf="(!item.targetCustomerType && item.targetDriverType) || (item.targetCustomerType && !item.targetDriverType)">
                {{item.targetCustomerType}}
                {{item.targetDriverType}}
              </span>
            </td>
            <td>{{ item?.modified | date:'dd/MM/yyyy  HH:mm'}}</td>

            <td class="d-flex">
              <div class=" btn-view" [routerLink]="['./detail/',item.id]" routerLinkActive="router-link-active">
                <i class="far fa-eye"></i>
              </div>
              <div class=" btn-edit" [routerLink]="['./edit/',item.id]" routerLinkActive="router-link-active">
                <i class="fas fa-edit"></i>
              </div>
              <div class=" btn-delete">
                <i class="fas fa-trash" (click)="onDelete(item.id)"></i>
              </div>
            </td>
          </tr>
          <tr *ngIf="items.data.length == 0">
            <td colspan="11">
              <p class="text-center w-100 m-0">ไม่พบข้อมูล</p>
            </td>

          </tr>
        </tbody>
      </table>
    
    </div>
    <div class="page-footer my-3">
      <app-table-pagination [count]="items.itemCount" [page]="items.pageNumber" [limit]="items.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>

</div>
