<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>ข้อกำหนดการตลาด</h4>
        </div>    
      </div>
    </div>
  </section>
  
  <div class="page-body">
    
    <div class="mb-3" style="text-align:right">
      <div class="btn btn-create" style="background: #0cd6cc;border-radius: 7px;color: white; width: fit-content; padding: 6px 18px;" [routerLink]="['/manageconsentmarketing']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
    <div class="table-body">
        <table id="example1" class="table table-hover table-bordered table-striped">      
        <thead>
        <tr>
          <th>เวอร์ชัน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'version'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'version'" class="fas fa-chevron-up"(click)="orderBy('version')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'version'"  class="all fas fa-chevron-up"(click)="orderBy('version')"></i>
          </th>
          <th>รายละเอียด
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name_TH'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name_TH'"  class="all fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
          </th>
          <th>วันที่สร้าง
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th>สร้างโดย
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'createdBy'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'createdBy'" class="fas fa-chevron-up"(click)="orderBy('createdBy')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'createdBy'"  class="all fas fa-chevron-up"(click)="orderBy('createdBy')"></i>
          </th>
          <th>สาธารณะ</th>
          <th></th>
  
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let consentMarketing of consentMarketings.data" >
          <td>{{consentMarketing.version}}</td>
          <td style="max-width: 450px;"><div class="text-dis">{{consentMarketing.name_TH | stripHtml}}</div></td>
          <td>{{consentMarketing.created| date: 'YYYY/MM/dd HH:mm'}}</td>
          <td>{{consentMarketing.createdBy}}</td>
          <td>
            <p *ngIf="consentMarketing.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>  
          </td> 
          <td class="d-flex">
            <div class=" btn-view"  routerLink="/detailconsentmarketing/{{consentMarketing.id}}" routerLinkActive="router-link-active">
              <i class="far fa-eye"></i>
            </div>
            <div class=" btn-edit" *ngIf="consentMarketing.active !== true" routerLink="/manageconsentmarketing/{{consentMarketing.id}}" routerLinkActive="router-link-active">
                <i class="far fa-edit"></i>
              </div>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
  </div>
  <ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
  