<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4>ข้อมูลการเงิน</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">

  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter()">
        ค้นหา
      </div>
    </div>
   
  </div>
  <div class="table-body">
    <table id="example1" class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>เลขพัสดุ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'trackingCode'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'trackingCode'" class="fas fa-chevron-up"(click)="orderBy('trackingCode')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'trackingCode'"  class="all fas fa-chevron-up"(click)="orderBy('trackingCode')"></i>
        </th>
          <th >ชื่อลูกค้า
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'customer'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'customer'" class="fas fa-chevron-up"(click)="orderBy('customer')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'customer'"  class="all fas fa-chevron-up"(click)="orderBy('customer')"></i>
          </th>
          <th>วิธีการชำระเงิน 
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'channel'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'channel'" class="fas fa-chevron-up"(click)="orderBy('channel')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'channel'"  class="all fas fa-chevron-up"(click)="orderBy('channel')"></i>
          </th>
          <th>สถานะการจ่าย  
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'status'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'status'" class="fas fa-chevron-up"(click)="orderBy('status')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'status'"  class="all fas fa-chevron-up"(click)="orderBy('status')"></i>
          </th>
          <th>วันที่ทำรายการ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let orderingpayment of orderingpayments.data">
          <td>{{orderingpayment.trackingCode}}</td>
          <td>{{orderingpayment.customer}}</td>
          <td>{{orderingpayment.channel}}</td>
          <td><span [ngStyle]="{ 'color': orderingpayment?.statusColor}">{{orderingpayment?.statusName}}</span></td>
          <td>{{orderingpayment.created | date: 'YYYY/MM/dd HH:MM'}}</td>
          <td class="d-flex">
            <div class=" btn-view" routerLink="/detailpayment/{{orderingpayment.id}}"
              routerLinkActive="router-link-active">
              <i class="far fa-eye"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(orderingpayment.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="orderingpayments.itemCount" [page]="orderingpayments.pageNumber"
      [limit]="orderingpayments.pageSize" (onPrevious)="previous()" (onNext)="next()"
      (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>