.page-content-wrapper {
  background-color: #fff;
  padding: 1rem 1.25rem;
}

.card-body {
  padding: 0 1.25rem 1rem 1.25rem;
}

thead, td, th {
  border: none;
}

td, a {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  box-shadow: 2px 2px 10px 1px #eeeeee;
}

thead {
  background-color: #E6F4FF;
}

.submit {
  color: rgb(129, 129, 129);
  border: none;
}

b, th {
  font-weight: 500;
  color: #195c8f;
}

.css-tabel-container {
  overflow-y: hidden;
  overflow-x: auto;
}

h4 {
  color: rgb(129, 129, 129);
}

.color-box {
  background-color: #F8F8F8;
  width: 100%;
  padding: 16px
}
body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
  small {
      display: block;
      font-size: 15px;
      padding-top: 8px;
      color: gray;
  }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  .avatar-edit {
      position: absolute;
      right: 25px;
      z-index: 1;
      bottom: 10px;
      input {
          display: none;
          + label {
              text-align: center;
              display: inline-block;
              width: 34px;
              height: 34px;
              margin-bottom: 0;
              border-radius: 100%;
              background: #FFFFFF;
              border: 1px solid transparent;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
              cursor: pointer;
              font-weight: normal;
              transition: all .2s ease-in-out;
              &:hover {
                  background: #f1f1f1;
                  border-color: #d6d6d6;
              }
              // &:after {
              //     content: "\f040";
              //     font-family: 'FontAwesome';
              //     color: #757575;
              //     position: absolute;
              //     top: 10px;
              //     left: 0;
              //     right: 0;
              //     text-align: center;
              //     margin: auto;
              // }
          }
      }
  }
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      // border-radius: 100%;
      // border: 6px solid #F8F8F8;
      // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      > div {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
      }
  }
}
.con-img {
  position: relative;
}
.image {
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #353535;
  
}

.con-img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.none{
  display: none;
}
