<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4 *ngIf="driver.driverType !== 'personal'">{{driver?.name}}</h4>
        <h4 *ngIf="driver.driverType === 'personal'">{{driver?.name}}</h4>
      </div>
    </div>
  </div>
</section>
<div class="card-body">
  <div class="page-content-wrapper">
    <div class="row mt-2">
      <div class="col-6">
        <b *ngIf="driver.driverType !== 'personal'">โลโก้</b>
        <b *ngIf="driver.driverType === 'personal'">รูปคนขับ</b>
        <!-- <div class="mt-2" style="background-color: #333; height:150px; width:150px; border-radius: 50%;overflow: hidden;
        border: #eee solid 1px;">
          <img onerror="this.src='assets/images/user.png';" class="w-100 h-100"
            src="{{driver?.files | imageFilter: 'profilepicture'}}">
        </div> -->

        <div class="avatar-upload mb-4 mt-2">
          <div class="avatar-edit">
            <!-- <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" /> -->
            <input type="file" accept=".png, .jpg, .jpeg" class="custom-file-input" name="image" id="image"
              aria-label="Small" required (change)="handleFileInput('image',$event.target.files)">
            <label for="image"><i style="margin: 25% 0px;  color: #757575;" class="fas fa-camera"></i></label>
          </div>
          <div class="avatar-preview">
            <div id="imagePreview" style=" border-radius: 50%;overflow: hidden;">
               <div class="con-img">
            <img class="image w-100 h-100"  style="object-fit: cover;" onerror="this.src='assets/images/user.png';" [src]="image" alt=""/>
            <div class="overlay">
              <div class="text">
                  <div class="text">
                   <a  class="btn btn-submit w-100"  [href]="image">View</a>
                  <a class="btn btn-submit mt-1 w-100" download="imageProfile.jpg"  href="data:image/jpeg;base64,{{driver.imageProfile}}">Download</a> 
              </div>
              </div>
            </div>
          </div>
              <!-- <img class="w-100 h-100" style="object-fit: cover;" onerror="this.src='assets/images/user.png';" [src]="image" alt="" /> -->
            </div>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="pr-3" style="margin: auto; top: 0;  position: absolute;  right: 0; text-align: right">
          <b style="color:#000 ;">วันที่ลงทะเบียน</b><br>
          <b>{{driver?.created| date: 'YYYY/MM/dd HH:MM'}}</b><br>
          <div *ngIf="driver.driverType !== 'personal'"><b>จำนวนรถ</b></div>
          <div *ngIf="driver.driverType !== 'personal'"><b>{{driver?.countcar}}</b></div>


          <b [ngStyle]="{ 'color': driver?.verifyStatusObj.color}">{{driver?.verifyStatusObj.th}}</b><br>


        </div>

      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div class="row mb-3">
          <b class="col-form-label col-sm-2">กระเป๋าสตางค์(บาท)</b>
          <div class="col-sm-9">
            <input type="text" class="form-control" value="" placeholder="ไม่พบข้อมูล">
          </div>
        </div>

        <div class="row mb-3" *ngIf="driver.driverType !== 'personal' ">
          <b class="col-sm-2 col-form-label">ประเภทนิติบุคคล</b>
          <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="form.corporateTypeId">
              <option *ngFor="let c of corporateType" [ngValue]="c.id">{{c.name_TH}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row mb-3">
          <b class="col-sm-2 col-form-label">ระดับผู้ใช้งาน<span class="required">*</span></b>
          <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="form.level">
              <option *ngFor="let level of driverlevels" [ngValue]="level.level">{{level.name_TH}}</option>
            </select>
            <span class="form-error" *ngIf="isFormSubmit && !form.level">
              Please enter level.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-6 d-flex">
        <b class="col-form-label col-sm-2">ข้อกำหนด</b>
        <div class="form-check col-form-label w-75">
          <div *ngFor="let item of termCondition;" style="margin-left: 5x;">
            <input class="form-check-input" type="checkbox" name="termAndCondition" [checked]="item.isUserAccept"
              disabled="disabled">
            <label>
              {{item.section}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="driver.driverType !== 'personal'">
      <div class="col">
        <div class="row mb-3">
          <b class="col-sm-2 col-form-label">ชื่อนิติบุคคล<span class="required">*</span></b>
          <div class="col-sm-9">
            <input type="email" class="form-control" [(ngModel)]="form.name">
            <span class="form-error" *ngIf="!isFormSubmit && !form.name">
              Please enter name.
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row mb-3">
          <b class="col-sm-2 col-form-label">เลขนิติบุคคล<span class="required">*</span></b>
          <div class="col-sm-9">
            <input type="email" class="form-control" [(ngModel)]="form.identityNumber" disabled>
            <!--            
            <span class="form-error" *ngIf="isFormSubmit && !form.identityNumber">
              Please enter IdentityNumber.
            </span>
          <span class="form-error" *ngIf="!isformatidentityNumber">
            Please check format identityNumber.
          </span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="driver.driverType === 'personal' ">
      <b class="col-sm-1 col-form-label">คำนำหน้าชื่อ<span class="required">*</span></b>
      <div class="col-sm-9  d-flex">
        <div class="form-check col-form-label" *ngFor="let title of contactpersontitles; let i = index;">
          <input class="form-check-input" name="contactPersonTitle" type="radio" id="contactPersonTitle-{{i}}"
            [(ngModel)]="form.titleId" [value]='title.id'>
          <label class="form-check-label col-sm-3" for="contactPersonTitle-{{i}}">
            {{title.name_TH}}
          </label>
          <span class="form-error" *ngIf="isFormSubmit && !form.titleId">
            Please enter title.
          </span>
        </div>
      </div>
    </div>
    <div class="{{displaybox}}">

      <div class="row" *ngIf="driver.driverType !== 'personal'">
        <div class="col-6 d-flex">
          <b class="col-form-label w-25">คำนำหน้าชื่อ<span class="required">*</span></b>
          <div class="w-75 d-flex">
            <div class="form-check col-form-label " *ngFor="let title of contactpersontitles; let i = index;">
              <input class="form-check-input" type="radio" id="contactpersontitles-{{i}}"
                [(ngModel)]="form.contactPersonTitle" [checked]="driver.contactPersonTitle.id == title.id"
                name="contactPersonTitle" [value]='title.id'>
              <label class="form-check-label col-sm-3" for="contactpersontitles-{{i}}">
                {{title.name_TH}}
              </label>
              <span class="form-error" *ngIf="isFormSubmit && !form.contactPersonTitle">
                Please enter title.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="row mb-3">
            <b *ngIf="driver.driverType === 'personal' " for="inputEmail3" class="col-sm-2 col-form-label">ชื่อ<span
                class="required">*</span></b>
            <b *ngIf="driver.driverType !== 'personal' " for="inputEmail3"
              class="col-sm-2 col-form-label">ชื่อผู้ติดต่อ<span class="required">*</span></b>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="form.firstName" placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.firstName">
                Please enter firstName.
              </span>
            </div>
          </div>
          <div class="row mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">นามสกุล<span class="required">*</span></b>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="form.lastName" placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.lastName">
                Please enter lastName.
              </span>
            </div>
          </div>
          <div class="row mb-3" *ngIf="driver.driverType === 'personal'">
            <b class="col-sm-2 col-form-label">วันเกิด<span class="required">*</span></b>
            <div class="col-sm-9">
              <ngx-datepicker class="w-100" [(ngModel)]="form.birthday" [options]="options"></ngx-datepicker>
              <span class="form-error" *ngIf="isFormSubmit && !form.birthday">
                Please enter birthday.
              </span>
            </div>
          </div>

          <div class="row ">
            <b for="inputPassword3" class="col-sm-2 col-form-label">อีเมล<span class="required">*</span></b>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="form.email" (change)="checkEmail()"
                placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.email">
                Please enter email.
              </span>
              <span class="form-error" *ngIf="!isformatemail">
                Please check format email.
              </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">ชื่อกลาง</b>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="form.middleName" placeholder="ไม่มีข้อมูล">
            </div>
          </div>
          <div class="row" *ngIf="driver.driverType === 'personal' ">
            <b for="inputEmail3" class="col-sm-2 col-form-label">เลชบัตรประชาชน<span class="required">*</span></b>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="form.identityNumber" disabled
                placeholder="ไม่มีข้อมูล">
              <!-- <span class="form-error" *ngIf="isFormSubmit && !form.identityNumber">
                  Please enter IdentityNumber.
                </span>
              <span class="form-error" *ngIf="!isformatidentityNumber">
                Please check format identityNumber.
              </span> -->
            </div>
          </div>
          <div class="row">
            <b for="inputPassword3" class="col-sm-2 col-form-label">หมายเลขโทรศัพท์<span class="required">*</span></b>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="form.phoneNumber" disabled placeholder="ไม่พบข้อมูล">
              <!-- <span class="form-error" *ngIf="isFormSubmit && !form.phoneNumber">
                Please enter phoneNumber.
              </span>
              <span class="form-error" *ngIf="!isformatphone">
                Please check format PhoneNumber.
              </span> -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;">
      <b for="inputPassword3" class="mt-5">ที่อยู่<span class="required">*</span></b>
      <div class="row mt-3">
        <div class="col">
          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">ประเทศ</b>
            <div class="col-sm-11 mt-2">
              <select class="form-control" [(ngModel)]="form.countryId" (change)="getAllProvince($event.target.value)">
                <option disabled [ngValue]="null">เลือกประเทศ</option>
                <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name_TH}}</option>
              </select>
              <span class="form-error" *ngIf="isFormSubmit && !form.countryId">
                Please selcet country.
              </span>
            </div>
          </div>

          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">เขต/อำเภอ</b>
            <div class="col-sm-11 mt-2">
              <select class="form-control" [(ngModel)]="form.districtId"
                (change)="getAllSubdistrict($event.target.value)">
                <option disabled [ngValue]="null">เลือกเขต/อำเภอ</option>
                <option *ngFor="let district of districts" [ngValue]="district.id">{{district.name_TH}}</option>
              </select>
              <span class="form-error" *ngIf="isFormSubmit && !form.districtId">
                Please selcet district.
              </span>
            </div>
          </div>
          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">รหัสไปรษณีย์</b>
            <div class="col-sm-11 mt-2">
              <input type="text" class="form-control" [(ngModel)]="form.postcode" placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.postcode">
                Please enter postcode.
              </span>
            </div>
          </div>
          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">ซอย</b>
            <div class="col-sm-11 mt-2">
              <input type="text" class="form-control" [(ngModel)]="form.alley" placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.alley">
                Please enter alley.
              </span>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">จังหวัด</b>
            <div class="col-sm-11 mt-2">
              <select class="form-control" [(ngModel)]="form.provinceId" (change)="getAllDistrict($event.target.value)">
                <option disabled [ngValue]="null">เลือกจังหวัด</option>
                <option *ngFor="let province of provinces" [ngValue]="province.id">{{province.name_TH}}</option>
              </select>
              <span class="form-error" *ngIf="isFormSubmit && !form.provinceId">
                Please select province.
              </span>
            </div>
          </div>
          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">เเขวง/ตำบล</b>
            <div class="col-sm-11 mt-2">
              <select class="form-control" [(ngModel)]="form.subdistrictId">
                <option disabled [ngValue]="null">เลือกเเขวง/ตำบล</option>
                <option *ngFor="let subdistrict of subdistricts" [ngValue]="subdistrict.id">{{subdistrict.name_TH}}
                </option>
              </select>
              <span class="form-error" *ngIf="isFormSubmit && !form.subdistrictId">
                Please select subdistrict.
              </span>
            </div>
          </div>
          <div class="mb-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">ถนน</b>
            <div class="col-sm-11 mt-2">
              <input type="text" class="form-control" [(ngModel)]="form.road" placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.road">
                Please enter road.
              </span>
            </div>
          </div>
          <div class="md-3">
            <b for="inputPassword3" class="col-sm-2 col-form-label">ชื่อสถานที่/เลขที่/อาคาร/หมู่บ้าน/หมู่</b>
            <div class="col-sm-11 mt-2">
              <input type="text" class="form-control" [(ngModel)]="form.address" placeholder="ไม่มีข้อมูล">
              <span class="form-error" *ngIf="isFormSubmit && !form.address">
                Please enter address.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="pt-4 ">
        <b class="col-sm-2 col-form-label mr-2">สถานะ</b>
        <input type="checkbox" [(ngModel)]="form.status" [checked]="form.status" style="transform: scale(1.3);">
      </div>
    </div>

    <div class="row my-4">
      <div class="col-12">
        <a class="mt-4 p-2 text-center button-small" (click)="btnClick();"
          style="background-color: rgb(48, 48, 48); width: 20%; color: #fff; border-radius: 50px; ">
          ที่อยู่การออกใบเสร็จ/ใบกำกับภาษี
        </a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <div class="row mb-3">
          <b class="col-sm-2 col-form-label">faecbook</b>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="form.facbook" placeholder="ไม่พบข้อมูล">
          </div>
        </div>
        <div class="row mb-3">
          <b for="inputPassword3" class="col-sm-2 col-form-label">Twitter</b>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="form.twitter" placeholder="ไม่พบข้อมูล">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row mb-3">
          <b class="col-sm-2 col-form-label">Line</b>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="form.line" placeholder="ไม่พบข้อมูล">
          </div>
        </div>
        <div class="row mb-3">
          <b for="inputPassword3" class="col-sm-2 col-form-label">WeChat</b>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="form.wechat" placeholder="ไม่พบข้อมูล">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 d-flex flex-row">
      <div class="d-flex flex-column" *ngFor="let file of driver.files">
        <div class="mr-5 d-flex flex-column" *ngIf="driver.driverType === 'personal' && file.documentType ==='IdCard'">
          <b>รูปบัตรประชาชน</b>
          <div class="con-img">
            <img class="mt-2 image" src="https://itrans-test-content.humantix.cloud/{{file.filePath}}"
              style="width: 200px; height: 180px;" alt="">
            <div class="overlay">
              <div class="text">
                  <a  class="btn btn-submit w-100"  href="https://itrans-test-content.humantix.cloud/{{file.filePath}}">View</a>
                  <a class="btn btn-submit mt-1 w-100" download="IdCard.jpg" href="data:image/jpeg;base64,{{driver.idCard}}">Download</a>
                </div>
            </div>
          </div>
        </div>
        <div class=" mr-5 d-flex flex-column"
          *ngIf="driver.driverType === 'personal' && file.documentType ==='DrivingLicense'">
          <b>รูปใบขับขี่</b>
          <div class="con-img">
            <img class="mt-2 image" src="https://itrans-test-content.humantix.cloud/{{file.filePath}}"
              style="width: 200px; height: 180px;" alt="">
            <div class="overlay">
              <div class="text">
                  <div class="text">
                  <a  class="btn btn-submit w-100"  href="https://itrans-test-content.humantix.cloud/{{file.filePath}}">View</a>
                  <a class="btn btn-submit mt-1 w-100" download="DrivingLicense.jpg" href="data:image/jpeg;base64,{{driver.drivingLicense}}">Download</a>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" mr-5 d-flex flex-column"
          *ngIf="driver.driverType === 'personal' && file.documentType ==='DriverPicture'">
          <b>รูปหน้าตรงและถือใบขับขี่</b>
          <div class="con-img">
            <img class="mt-2 image" src="https://itrans-test-content.humantix.cloud/{{file.filePath}}"
              style="width: 200px; height: 180px;" alt="">
            <div class="overlay">
              <div class="text">
                  <div class="text">
                  <a  class="btn btn-submit w-100"  href="https://itrans-test-content.humantix.cloud/{{file.filePath}}">View</a>
                  <a class="btn btn-submit mt-1 w-100" download="DriverPicture.jpg" href="data:image/jpeg;base64,{{driver.driverPicture}}">Download</a>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" mr-5 d-flex flex-column"
          *ngIf="driver.driverType !== 'personal' && file.documentType ==='CompanyCertificate'">
          <b>รูปเอกสารรับรองบริษัท</b>
          <div class="con-img">
            <img class="mt-2 image" src="https://itrans-test-content.humantix.cloud/{{file.filePath}}"
              style="width: 200px; height: 180px;" alt="">
            <div class="overlay">
              <div class="text">
                  <div class="text">
                  <a  class="btn btn-submit w-100"  href="https://itrans-test-content.humantix.cloud/{{file.filePath}}">View</a>
                  <a class="btn btn-submit mt-1 w-100" download="CompanyCertificate.jpg"  href="data:image/jpeg;base64,{{driver.companyCertificate}}">Download</a>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" mr-5 d-flex flex-column"
          *ngIf="driver.driverType !== 'personal' && file.documentType ==='NP20'">
          <b>ภพ.20</b>
          <div class="con-img">
            <img class="mt-2 image" src="https://itrans-test-content.humantix.cloud/{{file.filePath}}"
              style="width: 200px; height: 180px;" alt="">
            <div class="overlay">
              <div class="text">
                  <div class="text">
                  <a  class="btn btn-submit w-100"  href="https://itrans-test-content.humantix.cloud/{{file.filePath}}">View</a>
                  <a class="btn btn-submit mt-1 w-100" download="NP20.jpg"  href="data:image/jpeg;base64,{{driver.nP20}}">Download</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div>
      <div class=" mt-2 form-check col-form-label">
        <input class="form-check-input " type="radio" id="a" (click)="isPassVerifyDocClick()"
          [checked]="form.isPassVerifyDoc">
        <label class="form-check-label mr-5" for="a">
          เอกสารตรวจสอบเรียบร้อบ
        </label>

        <input class="form-check-input" type="radio" id="b" (click)="isNotPassVerifyDocClick()"
          [checked]="form.isNotPassVerifyDoc">
        <label class="form-check-label" for="b">
          เอกสารไม่ผ่านการตรวจสอบเเละยกเลิกการใช้งาน
        </label>
      </div>
      <span class="form-error" *ngIf="isFormSubmit">
       <p  [ngClass]="{'none': form.verifyStatus != 0  }"> Please check VerifyDoc.</p>
      </span>
      <div class="row justify-content-end">
        <button type="submit" class="btn btn-submit mx-2" (click)="updateDriver()">ยืนยัน</button>
        <a routerLink="/driverprofile" class="btn cancel" style="margin-right: 5px">ยกเลิก</a>
      </div>
    </div>

  </div>
</div>
