<div class="wrapper">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <div class="content-wrapper">
    <div class="content-pages" [ngClass]="{'full-page': router.url.split('/')[1] === 'chat'}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-img-croper></app-img-croper>