.main-content {
    margin-left: 0px !important;
    width: 100%;
}

// Class
.visible {
    visibility: visible !important;
}
.invisible {
    visibility: hidden !important;
}
.full-page{
    background: white;
}