<section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4>ที่อยู่การออกใบเสร็จ/ใบกำกับภาษี</h4>
        </div>    
      </div>
    </div>
  </section>
  <div class="card-body">
    <div class="page-content-wrapper"> 
      


  <div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;" *ngIf="driver.driverType === 'corporate'">
  
  
    <b for="inputPassword3" class="mt-5">ที่อยู่การออกใบเสร็จ/ใบกำกับภาษี</b>
    <div class="row mt-3" >
     <div class="col">
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">สาขา</b>
           <div class="col-sm-11 mt-2">
          <input type="text" class="form-control" [(ngModel)]="form.location[0].branch"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].branch">
            Please enter branch.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">จังหวัด</b>
           <div class="col-sm-11 mt-2" >
          <select  class="form-control"  [(ngModel)]="form.location[0].provinceId" (change)="getAllDistrict($event.target.value)">
          <option disabled   [ngValue]="null">เลือกจังหวัด</option>
            <option *ngFor="let province of provinces" [ngValue]="province.id">{{province.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].provinceId">
            Please enter province.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">เเขวง/ตำบล</b>
        <div class="col-sm-11 mt-2" >
          <select  class="form-control"  [(ngModel)]="form.location[0].subdistrictId">
          <option disabled   [ngValue]="null">เลือกเเขวง/ตำบล</option>
            <option *ngFor="let subdistrict of subdistricts" [ngValue]="subdistrict.id">{{subdistrict.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].subdistrictId">
            Please enter subdistrict.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ถนน</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[0].road" placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].road">
            Please enter road.
          </span>
        </div>
      </div>    
      <div class="md-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ชื่อสถานที่/เลขที่/อาคาร/หมู่บ้าน/หมู่</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[0].address" placeholder="ไม่พบข้อมูล">
        </div>
        <span class="form-error" *ngIf="isFormSubmit && !form.location[0].address">
          Please enter address.
        </span>
      </div>
    
      <div class="md-3">
        <div class="col-sm-11 mt-3 mx-4">
          <input class="form-check-input" type="checkbox" [(ngModel)]="form.location[0].isMainData" >
        </div>
        <b for="inputPassword3" class="col-sm-2 col-form-label mx-4">ใช้เป็นที่อยู่หลัก</b>

      </div>
      
     
     </div>
     <div class="col">
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ประเทศ</b>
        <div class="col-sm-11 mt-2">
          <select  class="form-control"  [(ngModel)]="form.location[0].countryId"  (change)="getAllProvince($event.target.value)">
          <option disabled   [ngValue]="null">เลือกประเทศ</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].countryId">
            Please enter country.
          </span>
        </div>
      </div>
      
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">เขต/อำเภอ</b>
        <div class="col-sm-11 mt-2">
          <select  class="form-control"  [(ngModel)]="form.location[0].districtId"    (change)="getAllSubdistrict($event.target.value)">
          <option disabled   [ngValue]="null">เลือกเขต/อำเภอ</option>
            <option *ngFor="let district of districts" [ngValue]="district.id">{{district.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].districtId">
            Please enter districtId.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">รหัสไปรษณีย์</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[0].postCode" placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].postCode">
            Please enter postCode.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ซอย</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control" [(ngModel)]="form.location[0].alley"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].alley">
            Please enter alley.
          </span>
        </div>
      </div>
    
     </div>
   </div>
</div>

<div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;" *ngIf="driver.driverType === 'corporate' && driver.corporate.length >1 ">
  
  
    <b for="inputPassword3" class="mt-5">ที่อยู่การออกใบเสร็จ/ใบกำกับภาษี</b>
    <div class="row mt-3" >
     <div class="col">
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">สาขา</b>
           <div class="col-sm-11 mt-2">
          <input type="text" class="form-control" [(ngModel)]="form.location[1].branch"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].branch">
            Please enter branch.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">จังหวัด</b>
           <div class="col-sm-11 mt-2" >
          <select  class="form-control"  [(ngModel)]="form.location[1].provinceId" (change)="getAllDistrict2($event.target.value)">
          <option disabled   [ngValue]="null">เลือกจังหวัด</option>
            <option *ngFor="let province of provinces2" [ngValue]="province.id">{{province.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].provinceId">
            Please enter province.
          </span>  
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">เเขวง/ตำบล</b>
        <div class="col-sm-11 mt-2" >
          <select  class="form-control"  [(ngModel)]="form.location[1].subdistrictId">
            <option disabled   [ngValue]="null">เลือกเเขวง/ตำบล</option>
            <option *ngFor="let subdistrict of subdistricts2" [ngValue]="subdistrict.id">{{subdistrict.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].subdistrictId">
            Please enter subdistrict.
          </span>  
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ถนน</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[1].road"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].road">
            Please enter road.
          </span>     
        </div>
      </div>    
      <div class="md-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ชื่อสถานที่/เลขที่/อาคาร/หมู่บ้าน/หมู่</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[1].address"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].address">
            Please enter address.
          </span>
        </div>
      </div>
    
      <div class="md-3">
        <div class="col-sm-11 mt-3 mx-4">
          <input class="form-check-input" type="checkbox" [(ngModel)]="form.location[1].isMainData" >
        </div>
        <b for="inputPassword3" class="col-sm-2 col-form-label mx-4">ใช้เป็นที่อยู่หลัก</b>

      </div>
      
     
     </div>
     <div class="col">
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ประเทศ</b>
        <div class="col-sm-11 mt-2">
          <select  class="form-control"  [(ngModel)]="form.location[1].countryId"  (change)="getAllProvince2($event.target.value)">
            <option disabled   [ngValue]="null">เลือกประเทศ</option>
            <option *ngFor="let country of countries2" [ngValue]="country.id">{{country.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].countryId">
            Please enter country.
          </span>
        </div>
      </div>
      
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">เขต/อำเภอ</b>
        <div class="col-sm-11 mt-2">
          <select  class="form-control"  [(ngModel)]="form.location[1].districtId"    (change)="getAllSubdistrict2($event.target.value)">
            <option disabled   [ngValue]="null">เลือกเขต/อำเภอ</option>
            <option *ngFor="let district of districts2" [ngValue]="district.id">{{district.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].districtId">
            Please enter district.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">รหัสไปรษณีย์</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[1].postCode" placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].postCode">
            Please enter postCode.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ซอย</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control" [(ngModel)]="form.location[1].alley" placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[1].alley">
            Please enter alley.
          </span>
        </div>
      </div>
    
     </div>
   </div>
</div>



<div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;" *ngIf="driver.driverType === 'personal'">
  
    <b for="inputPassword3" class="mt-5">ที่อยู่การออกใบเสร็จ/ใบกำกับภาษี</b>
    <div class="row mt-3" >
     <div class="col">
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ประเทศ</b>
        <div class="col-sm-11 mt-2"  >
          <select  class="form-control" [(ngModel)]="form.location[0].countryId" (change)="getAllProvince($event.target.value)" >
            <option disabled   [ngValue]="null">เลือกประเทศ</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].countryId">
            Please enter country.
          </span>
        </div>
    </div>
      
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">เขต/อำเภอ</b>
        <div class="col-sm-11 mt-2"   >
          <select  class="form-control" [(ngModel)]="form.location[0].districtId"  (change)="getAllSubdistrict($event.target.value)">
            <option disabled   [ngValue]="null">เลือกเขต/อำเภอ</option>
            <option *ngFor="let district of districts" [ngValue]="district.id">{{district.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].districtId">
            Please enter district.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">รหัสไปรษณีย์</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[0].postCode" value="{{form.location[0].postCode}}"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].postCode">
            Please enter postCode.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ซอย</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control" [(ngModel)]="form.location[0].alley" value="{{form.location[0].alley}}"  placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].alley">
            Please enter alley.
          </span>
        </div>
      </div>

     </div>
     <div class="col">
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">จังหวัด</b>
           <div class="col-sm-11 mt-2">
          <select  class="form-control"  [(ngModel)]="form.location[0].provinceId"  (change)="getAllDistrict($event.target.value)">
            <option disabled   [ngValue]="null">เลือกจังหวัด</option>
            <option *ngFor="let province of provinces" [ngValue]="province.id">{{province.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].provinceId">
            Please enter province.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">เเขวง/ตำบล</b>
        <div class="col-sm-11 mt-2" >
          <select  class="form-control"  [(ngModel)]="form.location[0].subdistrictId" >
            <option disabled   [ngValue]="null">เลือกเเขวง/ตำบล</option>
            <option *ngFor="let subdistrict of subdistricts" [ngValue]="subdistrict.id">{{subdistrict.name_TH}}</option>
          </select>
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].subdistrictId">
            Please enter subdistrict.
          </span>
        </div>
      </div>
      <div class="mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ถนน</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[0].road" value="{{form.location[0].road}}" placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].road">
            Please enter road.
          </span>
        </div>
      </div>    
      <div class="md-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">ชื่อสถานที่/เลขที่/อาคาร/หมู่บ้าน/หมู่</b>
        <div class="col-sm-11 mt-2">
          <input type="text" class="form-control"  [(ngModel)]="form.location[0].address" value="{{form.location[0].address}}" placeholder="ไม่พบข้อมูล">
          <span class="form-error" *ngIf="isFormSubmit && !form.location[0].address">
            Please enter address.
          </span>
        </div>
      </div>

     </div>
   </div>
  </div> 


  <div>
    <div class="row justify-content-end mt-5">
      <button type="submit" (click)="updateDriverAddress()" class="btn btn-submit mx-2">ยืนยัน</button>
      <a routerLink="/driverprofile" class="btn cancel" style="margin-right: 5px">ยกเลิก</a>
    </div>
  </div>
  
   </div>    <!--end  wraper -->
</div>
  