    
  <div class="page-body">  
     
     <div class="col-sm-12 text-center">
            <img src="./assets/images/logo.png" style="width: 150px;" class="itran-logo" alt="User Image">
     </div>    

 
    <h3 class="text-center" style="color: #0264b1; margin-bottom: 30px;">Itran Terms & Conditions</h3>  
    
    <div class="mt-5" >
    
        <ol>
            <li *ngFor="let termscondition of termsconditions">
                  <div class="mt-3" >
                    <b>{{termscondition.module}} ({{termscondition.section}})</b>
                    <div class="text-dis">{{termscondition.name_TH}}</div>
                  </div>
            </li>
        </ol>
  
  </div>
     
  
    
  </div>
  