<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ประเภทรถยนต์</h1>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="css-table table table-boarderBottom">
      <tbody>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              ประเภท (TH)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control col-4" placeholder="TH" value="" formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              Type (EN)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control col-4" placeholder="EN" value="" formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              ลำดับ
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="number" class="form-control col-4" value="" formControlName="sequence" [ngClass]="{ 'is-invalid': submitted && formControls.sequence.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 200px;">
            <p class="pt-1 m-0">
              เป็นรถประเภทตู้คอนเทนเนอร์
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm px-3 p-2">
              <label class="pure-material-checkbox">
                <input type="checkbox" class="form-check-input" formControlName="isContainer">
                <span class="ml-2">Active</span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              สถานะ
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm px-3 p-2">
              <label class="pure-material-checkbox">
                <input type="checkbox" class="form-check-input" formControlName="active">
                <span class="ml-2">Active</span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-5" style="text-align:right">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
      <button routerLink="/cartype" class="btn btn-defualt">ยกเลิก</button>

    </div>
  </form>
</div>
<!--<table class="css-table table table-boarderBottom">
    <tbody>
      <tr>
        <td class="" style="width: 130px;">
           <p class="pt-1 m-0">
             รูปภาพ
             <span class="required">*</span>
           </p>
         </td>
      <td colspan="4">
                <div class="input-group input-group-sm col-6">
                  <input type="file" accept="image/*" class="custom-file-input" name="image" id="image" aria-label="Small"
                    required (change)="handleFileInput('image',$event.target.files)">
                  <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
                    style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
                  <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
                </div>
                <div class="image-preview mt-3" *ngIf="image">
                  <img class="w-100" onerror="this.src='assets/images/car.jpg';" [src]="image" alt="" />
                </div>
                <span class="form-error" *ngIf="isFormSubmit && !form.carImage">
                  Please enter image.
                </span>
              </td>
            </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            ประเภท (TH)
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" placeholder="TH" [(ngModel)]="form.name_TH">
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            Type (EN)
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" placeholder="EN" [(ngModel)]="form.name_ENG">
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            ลำดับ
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="number" class="form-control col-6" placeholder="" [(ngModel)]="form.sequence">
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 140px;">
          <p class="pt-1 m-0">
            สถานะ
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm px-3">
            <label class="pure-material-checkbox">
              <input type="checkbox" class="form-check-input" [(ngModel)]="form.active">
              <span class="ml-2">Active</span>
            </label>
          </div>
        </td>
      </tr>
    </tbody>

  </table>-->
