<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>รายการรถยนต์</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">รายการรถยนต์</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="page-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      
      <table class="css-table table table-boarderBottom">
        <tbody>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ประเภทรถยนต์
                <span class="required">*</span>
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <select class="form-control col-6" formControlName="carTypeId" [ngClass]="{ 'is-invalid': submitted && formControls.carTypeId.errors }">
                  <option value="" selected disabled >Select CarType</option>
                <option *ngFor="let cartypes of cartype" [ngValue]="cartypes.id">{{cartypes.name_TH}}</option>           
                </select>            
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ชื่อ (TH)
                <span class="required">*</span>
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input type="text" class="form-control col-6" placeholder="TH" value="" formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }" >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                Name (EN)
                <span class="required">*</span>
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input type="text" class="form-control col-6"  placeholder="EN" value="" formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }" >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ลำดับ
                <span class="required">*</span>
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input type="number" class="form-control col-6" placeholder="" value="" formControlName="sequence" [ngClass]="{ 'is-invalid': submitted && formControls.sequence.errors }" >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 140px;">
              <p class="pt-1 m-0">
                สถานะ
                <span class="required">*</span>
    
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm px-3">
                <label class="pure-material-checkbox">
                  <input type="checkbox" class="form-check-input" formControlName="active">
                  <span class="ml-2">Active</span>
                </label>
              </div>
            </td>
          </tr>
        </tbody>
    
        </table>
      
  
      <div style="text-align:right">
        <button type="submit" class="btn btn-submit" >ยืนยัน</button>
        <button routerLink="/carlist" type="button" class="btn btn-defualt" >ยกเลิก</button>
      </div>
    </form>
  </div>

  