<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>เอกสารลงทะเบียน
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">เอกสารลงทะเบียน
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-sm-8">
        <a type="button" class="btn btn-success" [routerLink]="['/manageregisterdocument']">Add</a>
      </div>
      <label class="col-sm-1 col-form-label">Search:</label>
      <div class="col-sm-3">
        <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" (keydown.enter)="filter($event)">
      </div>
    </div>
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ประเภท</th>
          <th>ข้อมูล (TH)</th>
          <th>Information (EN)</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registerdocument of registerdocuments.data">
          <td >{{registerdocument.module}}</td>
          <td [innerHTML]="registerdocument.information_TH"></td>
          <td [innerHTML]="registerdocument.information_ENG"></td>
          <td><input type="checkbox" disabled="" [checked]="registerdocument.active"></td>
          <td class="action-button-column">
            <a title="Edit" routerLink="/manageregisterdocument/{{registerdocument.id}}"><i class="fas fa-edit"></i> </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing {{((registerdocuments.pageNumber- 1) * registerdocuments.pageSize) + 1}} to {{registerdocuments.pageNumber * registerdocuments.pageSize}} of {{registerdocuments.itemCount}} entries</div>
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
          <ul class="pagination" style="float:right">
            <li class="paginate_button page-item previous" id="example2_previous">
              <a  aria-controls="example2" data-dt-idx="Previous" tabindex="0" class="page-link">Previous</a>
            </li>
            <li class="paginate_button page-item"  *ngxRange="let value from 0 to page">
              <a [routerLink]="" aria-controls="example2" data-dt-idx="{{value + 1}}" tabindex="{{value + 1}}" class="page-link"  (click)="pageChange(value + 1 )">{{value + 1}}</a>
            </li>
            <li class="paginate_button page-item next" id="example2_next">
              <a aria-controls="example2" data-dt-idx="Next" tabindex="0" class="page-link">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  