<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>เอกสารลงทะเบียน
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">เอกสารลงทะเบียน
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="form-group">
            <label for="module">ประเภท</label>
            <input type="text" class="form-control" placeholder="TH" value="" formControlName="module" [ngClass]="{ 'is-invalid': submitted && formControls.module.errors }" >
        </div>
        <div class="form-group">
            <label for="information_TH">information (TH)</label>
            <input [ngxSummernote]="config" type="text" class="form-control" placeholder="TH" value="" formControlName="information_TH" [ngClass]="{ 'is-invalid': submitted && formControls.information_TH.errors }" >
        </div>
        <div class="form-group">
          <label for="information_ENG">information (EN)</label>
          <input [ngxSummernote]="config" type="text" class="form-control"  placeholder="EN" value="" formControlName="information_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.information_ENG.errors }" >
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" formControlName="active">
          <label class="form-check-label" for="exampleActive">Active</label>
        </div>
      </div>
      <!-- /.card-body -->
  
      <div class="card-footer" style="text-align:right">
        <a routerLink="/welcomeinformation" class="btn btn-danger" style="margin-right: 5px">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  