<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ประเทศ</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">ประเทศ</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="card-body">
  <div class="form-group row">
    <div class="col-sm-8">
      <a type="button" class="btn btn-success" [routerLink]="['/managecountry']">Add</a>
    </div>
    <label class="col-sm-1 col-form-label">Search:</label>
    <div class="col-sm-3">
      <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" (keydown.enter)="filter($event)">
    </div>
  </div>
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ชื่อ (TH)</th>
        <th>Name (EN)</th>
        <th>รหัส</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countrys.data">
        <td>{{country.name_TH}}</td>
        <td>{{country.name_ENG}}</td>
        <th>{{country.code}}</th>
        <td><input type="checkbox" disabled="" [checked]="country.active"></td>
        <td class="action-button-column">
          <a title="Edit" routerLink="/managecountry/{{country.id}}"><i class="fas fa-edit"></i> </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing {{((countrys.pageNumber- 1) * countrys.pageSize) + 1}} to {{countrys.pageNumber * countrys.pageSize}} of {{countrys.itemCount}} entries</div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination" style="float:right">
          <li class="paginate_button page-item previous" id="example2_previous">
            <a  aria-controls="example2" data-dt-idx="Previous" tabindex="0" class="page-link">Previous</a>
          </li>
          <li class="paginate_button page-item"  *ngxRange="let value from 0 to page">
            <a [routerLink]="" aria-controls="example2" data-dt-idx="{{value + 1}}" tabindex="{{value + 1}}" class="page-link"  (click)="pageChange(value + 1 )">{{value + 1}}</a>
          </li>
          <li class="paginate_button page-item next" id="example2_next">
            <a aria-controls="example2" data-dt-idx="Next" tabindex="0" class="page-link">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
