<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ข้อมูลการลงทะเบียน</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">ข้อมูลการลงทะเบียน</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="css-table table table-boarderBottom" style="width:80%">
      <tbody>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              ประเภท
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="6">
            <div class="input-group input-group-sm ">
              <select class="form-control col-6" formControlName="module" [ngClass]="{ 'is-invalid': submitted && formControls.module.errors }">
                <option value="" selected disabled>Select module</option>
                <option value="customer">ลูกค้า</option>
                <option value="driver">คนขับ</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              หัวเรื่อง (TH)
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="6">
            <div class="input-group input-group-sm ">
              <input [ngxSummernote]="config" type="text" class="form-control" placeholder="" value="" formControlName="title_TH" [ngClass]="{ 'is-invalid': submitted && formControls.title_TH.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              ข้อความ (TH)
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="6">
            <div class="input-group input-group-sm ">
              <input [ngxSummernote]="config" type="text" class="form-control" placeholder="TH" value="" formControlName="information_TH" [ngClass]="{ 'is-invalid': submitted && formControls.information_TH.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              title (ENG)
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="6">
            <div class="input-group input-group-sm ">
              <input [ngxSummernote]="config" type="text" class="form-control" placeholder="" value="" formControlName="title_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.title_ENG.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              information (ENG)
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="6">
            <div class="input-group input-group-sm ">
              <input [ngxSummernote]="config" type="text" class="form-control" placeholder="EN" value="" formControlName="information_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.information_ENG.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 200px; ">
            <p class="pt-1 m-0">
              ลำดับ
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="5">
            <div class="input-group input-group-sm col-6">
              <input type="number" class="form-control" placeholder="" value="" formControlName="sequence" [ngClass]="{ 'is-invalid': submitted && formControls.sequence.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              สถานะ
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <div class="input-group input-group-sm px-3 p-2">
                <label class="pure-material-checkbox">
                  <input type="checkbox" class="form-check-input" formControlName="active">
                  <span class="ml-2">Active</span>
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-5" style="text-align:right">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
      <button routerLink="/registerinformation" class="btn btn-defualt">ยกเลิก</button>
    </div>
  </form>
</div>
