input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}
.w-12 {
    width: 12% !important;
}
.w-30 {
    width: 33% !important;
}
.w-35 {
    width: 34% !important;
}
.w-65 {
    width: 65% !important;
}
ul {
    padding: 10px;
}
ol {
    padding: 0px;
}
.item-center {
    display: flex;
    align-items: center;
}
.north {
    background-color: #ff9eff;
}
.central {
    background-color: #ebd63d;
}
.south {
    background-color: #69c2c2;
}
.eastern {
    background-color: #e6b37b;
}
.western {
    background-color: #89a0cc;
}
.northeast {
    background-color: #d8e694;
}
.box {
    color: #fff;
    font-size: 14px;
    min-height: 120px;
    padding: 15px 10px;
    border-radius: 6px;
}
