<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4>ภาพรวมการขนส่ง</h4>
      </div>
    </div>
  </div>
</section>
<div class="row mb-3">
  <div class="col-4 page-body" style="border-radius: 15px;">
    <div class="text-center">
      <h5>รายระเอียดงานทั้งหมด</h5>
    </div>
    <div class="row" style="margin-top: 2.5rem;">
      <div class="col-lg-6 col-sm-12">
        <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
          style="background-color: #0cd6cc; ">
          กำลังดำเนินการ
          <br>
          <h5>{{type.orderingworking}}</h5>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
          style="background-color: #3AC95D;  ">
          ส่งของสำเร็จ
          <br>
          <h5> {{type.orderingsuccess}}</h5>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
          style="background-color: #E42222;  ">
          ลูกค้านิติบุคคลลงทะเบียนสำเร็จ
          <br>
          <h5> {{driver.corporatestatustrue}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col page-body" style="border-radius: 15px; margin-left: 10px;">
    <div class="text-center">
      <h5>ประเภทผู้ใช้งาน</h5>
    </div>
    <div class="row">
      <div class="col text-center">
        <h5>ลูกค้า</h5>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #fd7522; ">
              บุคคลธรรมดาลงทะเบียนสำเร็จ
              <h5> {{customer.presonalstatustrue}}</h5>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #0cd6cc;  ">
              บุคคลธรรมดาลงทะเบียนไม่สำเร็จ
              <h5> {{customer.presonalstatusfalse}}</h5>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #fd7522;  ">
              นิติบุคคลลงทะเบียนสำเร็จ
              <h5> {{customer.corporatestatustrue}}</h5>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #0cd6cc;  ">
              นิติบุคคลลงทะเบียนไม่สำเร็จ
              <h5> {{customer.corporatestatusfalse}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <h5>คนขับ</h5>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #1023c4; ">
              บุคคลธรรมดาลงทะเบียนสำเร็จ
              <h5> {{driver.presonalstatustrue}}</h5>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #0cd6cc;  ">
              บุคคลธรรมดาลงทะเบียนไม่สำเร็จ
              <h5> {{driver.presonalstatusfalse}}</h5>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #1023c4;  ">
              นิติบุคคลลงทะเบียนสำเร็จ
              <h5> {{driver.corporatestatustrue}}</h5>
            </div>
            <div class="d-flex flex-column align-items-center justify-content-center text-center mt-2 box"
              style="background-color: #0cd6cc;  ">
              นิติบุคคลลงทะเบียนไม่สำเร็จ
              <h5> {{driver.corporatestatusfalse}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="w-100  page-body" style="border-radius: 15px;">
    <div class="table-action">
      <div class="search">
        <h5>ประวัติการดำเนินการ</h5>
      </div>
      <div class="action">
        <select class="form-control form-control-sm mb-2 w-100" [(ngModel)]="selecttype" (change)="filterChart()">
          <option value="D">1 วัน</option>
          <option value="M">1 เดือน</option>
        </select>
      </div>
    </div>
    <div style="display: block;">
      <canvas baseChart *ngIf="barChartData" [datasets]="barChartData" [labels]="barChartLabels"
        [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  <div></div>
</div>

<div class=" row  mb-3">
  <div class="col-5 page-body" style="border-radius: 15px;">

    <h5>ผู้ใช้งานเเบ่งตามภูมิภาค</h5>

    <div class="row" style="margin-top: 1.5rem;">

      <div class="col">
        <div class="w-100" style=" height: 280px;">
          <img class=" h-100 " style="object-fit: cover;" src='assets/images/map.png' />
        </div>
      </div>
      <div class="col">
        <ul>
          <ol class="mt-2 item-center" *ngFor="let r of region">
            <div
              [ngClass]="{'north': r.id===1,'central': r.id===2,'eastern': r.id===4,'south': r.id===3,'western': r.id===5,'northeast': r.id===6}"
              [ngStyle]="{ 'height': '20px','width': '20px','border-radius':'50px','margin-right': '1rem'}"></div>
            {{r.name}} ({{r.percent | number : '1.0-2'}}%)
          </ol>

        </ul>
      </div>
    </div>
  </div>
  <div class="col page-body" style="border-radius: 15px; margin-left: 10px;">
    <h5>จัดอันดับจังหวัดที่มีการใช้งานมากที่สุด</h5>

    <ol class="px-3">
      <li class="mt-2" *ngFor="let p of provinces">
        <div class="d-flex" style="justify-content: space-between;">
          <div> {{p.name}}</div>
          <div>{{p.count}}</div>
        </div>
        <hr>
      </li>
    </ol>
  </div>
</div>
<div>
  <h4>การจัดส่งทั้งหมด ({{ordering.itemCount}})</h4>
</div>
<div class="table-body">
  <table id="example1" class="table table-hover table-bordered table-striped">

    <thead>
      <tr>
        <th>เลขพัสดุ</th>
        <th>ทะเบียนรถ</th>
        <th style="min-width:150px">คนขับรถ</th>
        <th>ระยะทาง</th>
        <th>สถานะการขนส่ง</th>
        <th style="min-width:150px">ผู้ส่ง </th>
        <th>ต้นทาง</th>
        <th>วันที่รับต้นทาง</th>
        <th style="min-width:150px">ผู้รับ </th>
        <th>ปลายทาง</th>
        <th>วันทีส่งปลายทาง</th>
        <th>ค่าส่ง</th>
        <th>แผนที่</th>

      </tr>
    </thead>

    <tbody>
      <tr class="row-hover" *ngFor="let orderings of ordering.data" routerLink="/managedelivery/{{orderings.id}}">
        <td>{{orderings.trackingCode}}</td>
        <td>{{orderings.cars.carRegistration}}</td>

        <td>{{orderings.drivers.name}}</td>

        <td>{{orderings.distance}}</td>
        <td><span [ngStyle]="{ 'color': orderings?.statusObj.color}">{{orderings?.statusObj?.th}}</span></td>

        <td>{{orderings.customer.name}}</td>

        <td *ngIf="orderings.addresses.length >0;else data_not_found ">{{orderings.deliverypoint.province.name_TH}}</td>

        <td *ngIf="orderings.addresses.length >0;else data_not_found ">{{orderings.deliverypoint.date | date:
          'dd/MM/yyyy HH:mm'}}</td>

        <td *ngIf="orderings.addresses.length >0;else data_not_found ">{{orderings.addresses[0].personalName}}</td>

        <td *ngIf="orderings.addresses.length >0;else data_not_found ">{{orderings.pickuppoint.province.name_TH}}</td>

        <td *ngIf="orderings.addresses.length >0;else data_not_found ">{{orderings.pickuppoint.date | date: 'dd/MM/yyyy
          HH:mm'}}</td>

        <td>{{orderings.orderingPrice}}</td>
        <td class="action-button-column"><a href=""><i class="fas fa-map-marker-alt"
              style="color: rgb(255, 206, 72);"></i></a> </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="page-footer my-3">
  <app-table-pagination [count]="ordering.itemCount" [page]="ordering.pageNumber" [limit]="ordering.pageSize"
    (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
  </app-table-pagination>
</div>
<ng-template #data_not_found>
  <td></td>
</ng-template>