.login-box {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    // background-color: red;

    .left {
        width: 60vw;
        background-image: url("../../../assets/images/wallpaper.png");

        background-size: cover;
        background-position-x: 52%;
        @media only screen and (max-width: 600px) {
            width: 0;
        }
    }
    .right {
        width: 40vw;
        display: grid;
        align-items: center;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        overflow: hidden;
    }
}
.login-input {
    border-radius: 7px;
    height: 37px;
    padding: 11px;
    outline: none;
    border: solid 1px #00000040;
    width: 50% !important;
}
.submit {
    width: fit-content;
    margin: auto;
    background: #eeeeee;
    padding: 4px 13px;
    border-radius: 7px;
    margin-top: 18px;
}
.itran-logo {
    width: 162px;
    transform: translateY(-36px);
}
.error{
    color: red;
}