<div class="login-box">
  <div class="left">

  </div>
  <div class="right">
    <div class="login-content text-center">
      <img src="./assets/images/logo.png" class="itran-logo" alt="User Image">
      <h2 class="text-center">ยินดีต้อนรับ</h2>
      <input type="text" autocomplete="false" class="forn-control my-2 w-75 login-input" [(ngModel)]="username"
        placeholder="Username">
      <br>
      <input type="password" class="forn-control my-2 w-75 login-input  " [(ngModel)]="password" placeholder="password">

      <br>
      <small class="error" *ngIf="(!username || !password )&& isSubmit">Please check your username or
        password
        <br>
      </small>

      <div class="btn submit" (click)="submit()">
        เข้าสู่ระบบ
      </div>
    </div>
  </div>
</div>
