.page-body {
    background: white;
    padding: 35px 50px;
    margin: 19%;
    overflow-x: auto;
    background-color: #0264b1;
    color: aliceblue;
    text-align: center;
  }
  a{
    color:#fff;
  }
  a:hover{
    color:#fff;
  }