    <div class="container-fluid" style="position: fixed;">
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="page-body">
            <div>
            <h4 style="font-size:2.5rem">ติดต่อเรา</h4>
            </div>
           <div style="display: flex; justify-content: center;">
            <div class="row">
            
            <div style="margin: 5px; font-size: 30px;">
              <a href="{{contact.facebook}}"><i class="fab fa-facebook"></i></a>
            </div>
           <div style="margin: 5px; font-size: 30px;">
            <a href="{{contact.instagram}}"><i class="fab fa-instagram"></i></a>
          </div>
             <div style="margin: 5px; font-size: 30px;">
              <a href="{{contact.twitter}}"><i class="fab fa-twitter"></i></a>
            </div> 
            <div style="margin: 5px; font-size: 30px;">
              <a href="{{contact.youtube}}"><i class="fab fa-youtube"></i></a>
            </div>
              <div style="margin: 5px; font-size: 30px;">
              <a href="{{contact.line}}"><i class="fab fa-line"></i></a>
            </div>
            


         

            </div>
           </div>
            <div class="mt-3" style="margin:0 100px;" >{{contact.address}}</div>
            <div class="mt-2">โทรศัพท์ : {{contact.phone}}</div>
            <div class="mt-2">
              โทรสาร: {{contact.fax}}
            </div>
            <div class="mt-2">
              อีเมล: {{contact.email}}
            </div>
            
            
            
          
            
          </div>
        </div>       
      </div>
    </div>
  
  