<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4>คนขับรถ</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">
  <select class="form-control form-control-sm mb-4 col-2" [(ngModel)]="drivertype" (change)="filter()">
    <option value="">ทั้งหมด</option>
    <option value="personal">บุคคลธรรมดา</option>
    <option value="corporate">นิติบุคคล</option>

  </select>
  <hr>


  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter()">
        ค้นหา
      </div>
    </div>

  </div>

  <div class="table-body">
    <table id="example1" class="table  table-bordered table-striped">
      <thead>
        <tr class="driverprofile-column-style">
          <th *ngIf="drivertype ==='personal' || drivertype ===''">รูปลูกค้า</th>
          <th *ngIf="drivertype ==='corporate'">โลโก้</th>         
          <th *ngIf="drivertype ==='personal' || drivertype ===''">ชื่อ-นามสกุล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name'" class="fas fa-chevron-up"(click)="orderBy('name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'name'"  class="all fas fa-chevron-up"(click)="orderBy('name')"></i>
          </th>
          <th class="driverprofile-column-style" *ngIf="drivertype ==='corporate'">ชื่อนิติบุคคล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name'" class="fas fa-chevron-up"(click)="orderBy('name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !=='name'"  class="all fas fa-chevron-up"(click)="orderBy('name')"></i>
          </th>         
          <th class="driverprofile-column-style" *ngIf="drivertype ==='corporate'">เลขนิติบุคคล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'identityNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'identityNumber'" class="fas fa-chevron-up"(click)="orderBy('identityNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'identityNumber'"  class="all fas fa-chevron-up"(click)="orderBy('identityNumber')"></i>
          </th>         
          <th class="driverprofile-column-style" *ngIf="drivertype ==='corporate'">จำนวนรถ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'countcar'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'countcar'" class="fas fa-chevron-up"(click)="orderBy('countcar')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'countcar'"  class="all fas fa-chevron-up"(click)="orderBy('countcar')"></i>
          </th>         
          <th class="driverprofile-column-style">หมายเลขโทรศัพท์
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'phoneNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'phoneNumber'" class="fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'phoneNumber'"  class="all fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
          </th>
          <th class="driverprofile-column-style">ประเภทของคนขับ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'driverType'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'driverType'" class="fas fa-chevron-up"(click)="orderBy('driverType')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'driverType'"  class="all fas fa-chevron-up"(click)="orderBy('driverType')"></i>
          </th>
          <th class="driverprofile-column-style" *ngIf="drivertype ==='corporate'">การตรวจสอบ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'verifyStatusName'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'verifyStatusName'" class="fas fa-chevron-up"(click)="orderBy('verifyStatusName')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'verifyStatusName'"  class="all fas fa-chevron-up"(click)="orderBy('verifyStatusName')"></i>
          </th>
          <th class="driverprofile-column-style">ระดับผู้ใช้งาน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'levelName'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'levelName'" class="fas fa-chevron-up"(click)="orderBy('levelName')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'levelName'"  class="all fas fa-chevron-up"(click)="orderBy('levelName')"></i>
          </th>
          <th class="driverprofile-column-style">วันที่ลงทะเบียน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf=" column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th class="driverprofile-column-style">สถานะ</th>

          
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let driver of drivers.data">
          <td>
            <div class="row justify-content-center">
              <img onerror="this.src='assets/images/user.png';"
                style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;"
                src="{{driver?.files | imageFilter: 'profilepicture'}}" alt="">
            </div>
          </td>
          <td >{{driver?.name}}</td>
          <!-- <td *ngIf="drivertype ==='corporate'">{{driver?.name}}</td> -->
          <td *ngIf="drivertype ==='corporate'">{{driver?.identityNumber}}</td>
          <td *ngIf="drivertype ==='corporate'">{{driver?.countCar}}</td>
          <td>{{driver?.phoneNumber}}</td>
          <td>{{driver?.driverType}}</td>
          <td *ngIf="drivertype ==='corporate'"><span [ngStyle]="{ 'color': driver?.verifyStatusColor}">{{driver?.verifyStatusName}}</span></td>
          <td>{{driver?.levelName}}</td>
          <td>{{driver?.created}}</td>
          <td>
            <p *ngIf="driver.status === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>  

          </td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/managedriverprofile/{{driver?.id}}"
              routerLinkActive="router-link-active">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(driver.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="drivers.itemCount" [page]="drivers.pageNumber" [limit]="drivers.pageSize"
      (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>

</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
