/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
$prinary: #1023c4;
$scondary: #fd7522;
@font-face {
  font-family: kanit;
  src: url("./assets/fonts/Kanit-Regular.ttf");
}
* {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "kanit", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.layout-fixed .main-sidebar {
  background: $prinary;
}

.content-wrapper {
  padding: 28px;
  display: flex;
  flex-direction: column;

  .content-pages {
    flex: 1;
    flex-shrink: 0;
  }
}

.page-warp {
  padding: 24px;
  height: 100%;
}

.page-body {
  background: white;
  padding: 28px;
  overflow-x: auto;
}

.table thead th {
  border: 0;
  background: #2196f336;
  color: #0264b1;
}

.btn-view {
  display: grid;
  align-items: center;
  width: 28px;
  height: 28px;
  background: $prinary;
  margin: 0 4px;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.btn-edit {
  display: grid;
  align-items: center;
  width: 28px;
  height: 28px;
  background: $scondary;
  margin: 0 4px;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.btn-delete {
  display: grid;
  align-items: center;
  width: 28px;
  height: 28px;
  background: red;
  margin: 0 4px;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.btn-check {
  display: grid;
  align-items: center;
  width: 28px;
  height: 28px;
  background: #0cd6cc;
  margin: 0 4px;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  pointer-events: none;
}

.table-bordered td,
.table-bordered th {
  border: 0;
}

.table-bordered {
  border: 0 solid #dee2e6;
  border-radius: 16px;
  // overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0);
}
// border-radius: 17px;
// overflow: hidden;
.table-body {
  // border: solid 1px #dbdde0;
  border-radius: 18px;
  overflow: hidden;
  border: solid 1px #dbdde0;
  overflow-x: auto;
}

.table-striped tbody tr {
  // border-right: solid 2px #dbdde0;
  // border-left: solid 2px #dbdde0;
}

.table-striped tbody tr:last-child {
  // border-bottom: solid 2px #dbdde0;
}

.table-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px !important;

  .action {
    display: grid;
    align-items: center;

    .btn-create {
      padding: 6px 18px;
      width: fit-content;
      background: #0cd6cc;
      color: white;
      border-radius: 7px;
      cursor: pointer;
    }
  }

  .search {
    display: flex;
    align-items: center;

    .btn-search {
      padding: 6px 18px;
      width: fit-content;
      background: #e3f0fa;
      color: white;
      border-radius: 7px;
      cursor: pointer;
      height: fit-content;
      margin-left: 8px;
      color: black;
    }

    .search-input {
      border: solid 1px #dbdde0;
      padding: 6px 8px;
      width: 80%;
      border-radius: 8px;
    }

    .search-input:focus {
      outline: none;
      border: solid 1px #dbdde0;
    }
  }
}

.css-table tbody tr td {
  border: 0;
}

.input-group-sm > .custom-select,
.input-group-sm > .form-control:not(textarea) {
  height: calc(1.8125rem + 8px);
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: normal;
}

.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.required {
  color: red;
}

.btn-submit {
  background: #0cd6cc;
  color: white;
  margin: 4px;
}

.btn-defualt {
  background: #494949;
  color: white;
  margin: 4px;
}

.btn-editor {
  background: $scondary;
  color: white;
  margin: 4px;
}

.config-news {
  background: #c1c1c157;
  border-radius: 9px;
}

.long-text {
  display: -webkit-box;
  max-width: 400px;
  height: 78.2px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-error {
  color: red;
}

.image-preview {
  max-width: 165px;
}

.datepicker-container {
  color: #1023c4 !important;
}

.datepicker-blue {
  .calendar-container {
    background: #32a8e4;
    border: 1px solid #32a8e4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    top: 35px;
    left: 0;
    font-weight: 700;

    .month-year-text {
      color: #ffffff;
    }
  }
}

.month-year-text {
  color: #1023c4 !important;
}

.day-unit.is-selected {
  background: #1023c4 !important;
  color: #fff;
}

.day-unit:hover {
  background: #1023c4 !important;
}

.datepicker-container {
  width: 100%;
}

.calendar-container {
  font-weight: normal !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-file-label {
  overflow: hidden;

  div {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.fadeInLoop10 {
  animation: fade 0.3s linear;
  animation-fill-mode: both;
}

// Set delay per List Item
@for $i from 1 through 20 {
  .fadeInLoop10:nth-child(#{$i}) {
    animation-delay: 0.15s * $i;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.form-date {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.icon {
  right: 50px;
  background: url('assets/images/calendar.png') no-repeat right;
  background-size: 20px;
  background-position: 98% 50%
}
// .all{
//   opacity: 0;
// }.all:hover{
//   opacity: 1;
// }
.all{
  color: #95c8ff;
}