<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>รายละเอียดรถยนตร์</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">รายละเอียดรถยนต์</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="css-table table table-boarderBottom">
      <tbody>
        <tr>
          <td class="" style="width: 250px; ">
            <p class="pt-1 m-0">
              icon
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm col-4">
              <input type="file" accept="image/*" class="custom-file-input" name="image" id="image" aria-label="Small"
                     required (change)="handleFileInput('image',$event.target.files,$event)">
              <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
                 style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
              <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
              <div class="image-preview mt-3" *ngIf="image">
                <img class="w-100" onerror="this.src='assets/images/car.jpg';" [src]="image" alt="" />
              </div>
              <span class="form-error" *ngIf="isFormSubmit && !form.carImage">
                Please enter image.
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 250px; ">
            <p class="pt-1 m-0">
              ประเภทรถยนต์
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <select class="form-control col-4" formControlName="carTypeId" [ngClass]="{ 'is-invalid': submitted && formControls.carTypeId.errors }" (change)="onChangeCarType()">
                <option value="" selected disabled>Select CarType</option>
                <option *ngFor="let cartype of cartypes" [ngValue]="cartype.id">{{cartype.name_TH}}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 250px; ">
            <p class="pt-1 m-0">
              ชื่อ (ไทย)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control col-4" placeholder="TH" value="" formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 250px; ">
            <p class="pt-1 m-0">
              Name (EN)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control col-4" placeholder="EN" value="" formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 250px; ">
            <p class="pt-1 m-0">
              ลำดับ
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="number" class="form-control col-4" placeholder="" value="" formControlName="sequence" [ngClass]="{ 'is-invalid': submitted && formControls.sequence.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 250px; ">
            <p class="pt-1 m-0">
              ต้องระบุอุณหภูมิ(°C)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <div class="input-group input-group-sm px-3 p-2">
                <label class="pure-material-checkbox">
                  <input type="checkbox" class="form-check-input" formControlName="specifiedTemperature">
                  <span class="ml-2">Active</span>
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 250px;">
            <p class="pt-1 m-0">
              ต้องระบุอุปกรณ์ประหยัดพลังงาน
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <div class="input-group input-group-sm px-3 p-2">
                <label class="pure-material-checkbox">
                  <input type="checkbox" class="form-check-input" formControlName="specifiedEnergySavingDevice">
                  <span class="ml-2">Active</span>
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              สถานะ
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <div class="input-group input-group-sm px-3 p-2">
                <label class="pure-material-checkbox">
                  <input type="checkbox" class="form-check-input" formControlName="active">
                  <span class="ml-2">Active</span>
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-5" style="text-align:right">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
      <button routerLink="/carspecification" class="btn btn-defualt">ยกเลิก</button>
    </div>
  </form>
</div>
  <!--<table class="css-table table table-boarderBottom">
      <tbody>
        <tr>
          <td style="width: 100px;">
            <p class="pt-1 m-0">
              ประเภทรถยนต์
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm">
              <select class="form-control col-6" formControlName="carTypeId" [ngClass]="{ 'is-invalid': submitted && formControls.carTypeId.errors }" (change)="onChangeCarType()">
                <option value="" selected disabled>Select CarType</option>
                <option *ngFor="let cartype of cartypes" [ngValue]="cartype.id">{{cartype.name_TH}}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            รายการรถยนต์
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <select   class="form-control col-6" formControlName="carListId" [ngClass]="{ 'is-invalid': submitted && formControls.carListId.errors }">
              <option *ngFor="let carlists of carlist" [ngValue]="carlists.id">{{carlists.name_TH}}</option>
             <option  *ngIf="carlist === null || undefined" disabled>No Data CarList</option>
            </select>
          </div>
        </td>
      </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              ชื่อ (ไทย)
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="text" class="form-control col-6" placeholder="TH" value="" formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              Name (EN)
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="text" class="form-control col-6" placeholder="EN" value="" formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              ลำดับ
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="sequence" [ngClass]="{ 'is-invalid': submitted && formControls.sequence.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              ต้องระบุอุณหภูมิ(°C)
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm px-3">
              <label class="pure-material-checkbox">
                <input type="checkbox" class="form-check-input" formControlName="SpecifiedTemperature">
                <span class="ml-2">SpecifieTdemperature</span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              ต้องระบุอุปกรณ์ประหยัดพลังงาน
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm px-3">
              <label class="pure-material-checkbox">
                <input type="checkbox" class="form-check-input" formControlName="SpecifiedEnergySavingDevice">
                <span class="ml-2">SpecifiedEnergySavingDevice</span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              สถานะ
              <span class="required">*</span>

            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm px-3">
              <label class="pure-material-checkbox">
                <input type="checkbox" class="form-check-input" formControlName="active">
                <span class="ml-2">Active</span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>

    </table>

      <div style="text-align:right">
        <button type="submit" class="btn btn-submit">ยืนยัน</button>
        <button routerLink="/carspecification" type="button" class="btn btn-defualt">ยกเลิก</button>
      </div>
    </form>
  </div>-->



