<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>{{car.carRegistration}}</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">
  <div class="mt-2 d-flex justify-content-between">
    <div>
      <b>รูปรถ</b>
      <!-- <div class="mt-2 position-relative d-flex justify-content-center" style="background-color: #333; height:150px; width:150px; border-radius: 50%; overflow: hidden;">
         <img class="w-100 position-absolute" onerror="this.src='assets/images/user.png';" src="{{car?.carFiles | imageFilter: 'CarPicture'}}" alt="">
        </div> -->
      <div class="avatar-upload mb-4 mt-2">
        <div class="avatar-edit">
          <!-- <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" /> -->
          <input type="file" accept=".png, .jpg, .jpeg" class="custom-file-input" name="image" id="image"
            aria-label="Small" required (change)="handleFileInput('image',$event.target.files)">
          <label for="image"><i style="margin: 25% 0px;  color: #757575;" class="fas fa-camera"></i></label>
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" style=" border-radius: 50%;overflow: hidden;   object-fit: cover;">
           <div class="con-img">
            
            <img class=" image w-100 h-100" style="object-fit: cover;" onerror="this.src='assets/images/user.png';"
              [src]="image" alt="" />
              <div class="overlay">
                <div class="text">
                    <div class="text">
                      <a class="btn btn-submit mt-1 w-100" [href]="image">View</a>
                      <a class="btn btn-submit mt-1 w-100" download="imageCarPicture.jpg" href="data:image/jpeg;base64,{{car.imageCarPicture}}">Download</a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <b class="text-info">วันที่ลงทะเบียน</b>
      <p>{{car?.created | date: 'YYYY/MM/dd HH:MM'}}</p>
    </div>
  </div>

  <div class="row  mt-4">
    <div class="col">
      <div class="row mb-3">
        <b for="inputEmail3" class="col-sm-2 col-form-label">ทะเบียนรถ<span class="required">*</span></b>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="ไม่พบข้อมูล" [(ngModel)]="form.carRegistration">
          <span class="form-error" *ngIf="isFormSubmit && !form.carRegistration">
            Please select CarRegistration.
          </span>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row mb-3">
        <b for="inputEmail3" class="col-sm-2 col-form-label">วันสิ้นอายุของพ.ร.บ.<span class="required">*</span></b>
        <div class="col-sm-9">
          <div class="col-sm-10">
            <ngx-datepicker class="w-100" [(ngModel)]="form.actExpiry" [options]="options"></ngx-datepicker>
            <span class="form-error" *ngIf="isFormSubmit && !form.actExpiry">
              Please select ActExpiry.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;">
    <b for="inputPassword3" class="mx-2">ประเภทรถ<span class="required">*</span></b>
    <div class="row mt-3">
      <div class="col">
        <div class="mb-3">
          <div class="col-sm-12">
            <select class="form-control" [(ngModel)]="form.carTypeId"
              (change)="GetCarListByCarType($event.target.value)">
              <option disabled [ngValue]="null">เลือกประเภทรถ</option>
              <option *ngFor="let cartype of cartypes" [ngValue]="cartype.id">{{cartype.name_TH}}</option>
            </select>
            <span class="form-error" *ngIf="isFormSubmit && !form.carTypeId">
              Please select CarType.
            </span>
          </div>
        </div>
        <div class="mb-3" style="display: flex;">
          <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="form.carDescriptionId">
              <option disabled [ngValue]="null">เลือกรายละเอียดรถ</option>
              <option *ngFor="let cardescription of cardescriptions" [ngValue]="cardescription.id">
                {{cardescription.name_TH}}</option>
            </select>
            <span class="form-error" *ngIf="isFormSubmit && !form.carDescriptionId">
              Please select carDescription.
            </span>
          </div>

          <div class="col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="form.carDescriptionDetail"
              [value]="car.carDescriptionDetail" placeholder="ระบุอื่นๆ">
            <span class="form-error" *ngIf="isFormSubmit && !form.carDescriptionDetail">
              Please select carDescriptionDetail.
            </span>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="mb-3">
          <div class="col-sm-12">
            <select class="form-control" [(ngModel)]="form.carListId"
              (change)="getCarDescriptionByCarList($event.target.value)">
              <option disabled [ngValue]="null">เลือกรถ</option>
              <option *ngFor="let carList of carLists" [ngValue]="carList.id">{{carList.name_TH}}</option>
            </select>
            <span class="form-error" *ngIf="isFormSubmit && !form.carListId">
              Please select carList.
            </span>
          </div>
        </div>
        <div class="mb-3" style="display: flex;">
          <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="form.carSpecificationId">
              <option disabled [ngValue]="null">เลือกข้อมูลจำเพาะรถ</option>
              <option *ngFor="let carspecification of carspecifications" [ngValue]="carspecification.id">
                {{carspecification.name_TH}}</option>
            </select>
            <span class="form-error" *ngIf="isFormSubmit && !form.carSpecificationId">
              Please select carSpecification.
            </span>
          </div>

          <div class="col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="form.carSpecificationDetail" placeholder="ระบุอื่นๆ">
          </div>
        </div>
      </div>
    </div>
    <b for="inputEmail3" class="col-sm-1">ขนาดของรถ<span class="required">*</span></b>
    <div class="row">
      <div class="col-12" style="display: flex;">
        <div class="col-sm-4  mt-2">
          <input type="text" class="form-control" placeholder="กว้าง" [(ngModel)]="form.width"
            value="{{car.width | number}}">
          <span class="form-error" *ngIf="isFormSubmit && !form.width">
            Please select width.
          </span>
        </div>

        <div class="col-sm-4 mt-2">
          <input type="text" class="form-control" placeholder="ยาว" [(ngModel)]="form.length"
            value="{{car.length | number}}">
          <span class="form-error" *ngIf="isFormSubmit && !form.length">
            Please select length.
          </span>
        </div>

        <div class="col-sm-4  mt-2">
          <input type="text" class="form-control" placeholder="สูง" [(ngModel)]="form.height"
            value="{{car.height | number}}">
          <span class="form-error" *ngIf="isFormSubmit && !form.height">
            Please select height.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="pt-4 ">
      <b class="col-sm-2 col-form-label mr-2">สถานะ</b>
      <input type="checkbox" [(ngModel)]="form.status" [checked]="form.status === true" style="transform: scale(1.3);">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="row mb-3">
        <b for="inputEmail3" class="col-sm-2 col-form-label">ชื่อ-นามสกุลคนขับ<span class="required">*</span></b>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="ไม่พบข้อมูล" [(ngModel)]="form.driverName">
          <span class="form-error" *ngIf="isFormSubmit && !form.driverName">
            Please select DriverName.
          </span>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row mb-3">
        <b for="inputPassword3" class="col-sm-2 col-form-label">หมายเลขโทรศัพท์<span class="required">*</span></b>
        <div class="col-sm-9">
          <input type="tel" class="form-control" placeholder="ไม่พบข้อมูล" disabled
            [(ngModel)]="form.driverPhoneNumber">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 flex-column">
      <b for="inputPassword3" class="col-form-label">ประกันค่าเสียหาย<span class="required">*</span></b>
      <input type="text" class="form-control" placeholder="ไม่พบข้อมูล" [(ngModel)]="form.productInsuranceAmount"
        value="{{car.productInsuranceAmount | number}}">
      <span class="form-error" *ngIf="isFormSubmit && form.productInsuranceAmount === null">
        Please enter ProductInsuranceAmount.
      </span>
    </div>
    <div class="col-6">
      <div class="pt-4 mt-2 ml-3">
        <input type="checkbox" [(ngModel)]="form.productInsurance" [checked]="form.productInsurance"
          style="transform: scale(1.3);">
        <label class="ml-2" for="productInsurance">ไม่มี</label>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <b>รูปถ่ายรถ<span class="required">*</span></b>   
    <div style="display: flex;">
    <div *ngFor="let item of car.carFiles" class="mt-2" >
      <div *ngIf="item.documentType == 'CarPicture'">
     
        <div class="con-img mr-2">
          <img class="image" src="{{env.baseWebContentUrl +'/'+ item?.filePath}}"  style="width: 320px; height: 180px; border-radius: 20px; object-fit: cover;">

          <div class="overlay">
            <div class="text">
              <a class="btn btn-submit mt-1 w-100" href="{{env.baseWebContentUrl +'/'+ item?.filePath}}">View</a>
              <a class="btn btn-submit mt-1 w-100" download="imageCarPicture.jpg" href="data:image/jpeg;base64,{{car.imageCarPicture}}">Download</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <b>รถสำเนาทะเบียนรถ<span class="required">*</span></b>   
    <div style="display: flex;">
    <div *ngFor="let item of car.carFiles" class="mt-2" >
      <div *ngIf="item.documentType == 'CarRegistration'">
     
        <div class="con-img mr-2">
          <img class="image" src="{{env.baseWebContentUrl +'/'+ item?.filePath}}"  style="width: 320px; height: 180px; border-radius: 20px; object-fit: cover;">

          <div class="overlay">
            <div class="text">
              <a class="btn btn-submit mt-1 w-100" href="{{env.baseWebContentUrl +'/'+ item?.filePath}}">View</a>
              <a class="btn btn-submit mt-1 w-100" download="CarRegistration.jpg" href="data:image/jpeg;base64,{{car.imageCarRegistration}}">Download</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 

  <div class="row mt-4">
    <div class="col-12">
      <div class="mt-3 d-flex align-items-center">
        <h4 class="mb-0">พื้นที่รับงาน</h4>
        <div class="ml-4 d-flex align-items-center">
          <input id="allLocation" type="checkbox" name="allLocation" [(ngModel)]="form.allLocation"
            [checked]="car.allLocation" style="transform: scale(1.3);">
          <label for="allLocation" class="mb-0 ml-2">สามารถรับงานได้ทุกพื้นที่</label>
        </div>
      </div>
      <div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;">
        <b for="inputPassword3" class="mt-5 mx-1">พื้นที่รับงาน<span class="required">*</span></b>
        <!-- <div *ngFor="let item of workingArea"> -->
        <div class="row mt-2">
          <div class="col">
            <div class="mb-3">
              <b for="inputPassword3" class="col-sm-2 col-form-label">ประเทศ</b>
              <div class="col-sm-12 mt-1">
                <select class="form-control" [(ngModel)]="form.location[0].countryId"
                  (change)="getRegionByCountry($event.target.value)">
                  <option disabled [ngValue]="null">เลือกประเทศ</option>
                  <option *ngFor="let country of countrys" [ngValue]="country.id">{{country.name_TH}}</option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[0].countryId">
                  Please select country.
                </span>
              </div>
            </div>

            <div class="mb-3">
              <b for="inputPassword3" class="col-sm-2 col-form-label">จังหวัด</b>
              <div class="col-sm-12 mt-1">
                <select class="form-control" [(ngModel)]="form.location[0].provinceId"
                  (change)="getAllDistrict($event.target.value)">
                  <option disabled [ngValue]="null">เลือกจังหวัด</option>
                  <option *ngFor="let province of workingprovince[0]" [ngValue]="province.id">{{province.name_TH}}
                  </option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[0].provinceId">
                  Please select province.
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <b for="inputPassword3" class="col-sm-2 col-form-label">ภูมิภาค</b>
              <div class="col-sm-12 mt-1">
                <select [(ngModel)]="form.location[0].regionId" class="form-control"
                  (change)="getAllProvince($event.target.value)">
                  <option disabled [ngValue]="null">เลือกภูมิภาค</option>
                  <option *ngFor="let region of workingregion[0]" [ngValue]="region.id">{{region.name_TH}}</option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[0].regionId">
                  Please select region.
                </span>
              </div>
            </div>
            <div class="mb-4">
              <b for="inputPassword3" class="col-sm-2 col-form-label">อำเภอ</b>
              <div class="col-sm-12 mt-1">
                <select [(ngModel)]="form.location[0].districtId" class="form-control">
                  <option disabled [ngValue]="null">เลือกอำเภอ</option>
                  <option *ngFor="let districtv of workingdistrict[0]" [ngValue]="districtv.id">{{districtv.name_TH}}
                  </option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[0].districtId">
                  Please select district.
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="mt-3">
        <h4>พื้นที่ไม่รับงาน</h4>
      </div>
      <div class="p-3 mt-3" style="background-color: #F8F8F8; width: 100%;">
        <b class="mt-5 mx-1">พื้นที่ไม่รับงาน<span class="required">*</span></b>
        <div class="row mt-2">
          <div class="col">
            <div class="mb-3">
              <b class="col-sm-2 col-form-label">ประเทศ</b>
              <div class="col-sm-12 mt-1">
                <select class="form-control" [(ngModel)]="form.location[1].countryId"
                  (change)="getRegionByCountrynon($event.target.value)">
                  <option disabled [ngValue]="null">เลือกประเทศ</option>
                  <option *ngFor="let country of countrys" [ngValue]="country.id">{{country.name_TH}}</option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[1].countryId">
                  Please select district.
                </span>
              </div>
            </div>

            <div class="mb-3">
              <b class="col-sm-2 col-form-label">จังหวัด</b>
              <div class="col-sm-12 mt-1">
                <select class="form-control" [(ngModel)]="form.location[1].provinceId"
                  (change)="getAllDistrictnon($event.target.value)">
                  <option disabled [ngValue]="null">เลือกจังหวัด</option>
                  <option *ngFor="let province of nonworkingprovince[0]" [ngValue]="province.id">{{province.name_TH}}
                  </option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[1].provinceId">
                  Please select province.
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <b class="col-sm-2 col-form-label">ภูมิภาค</b>
              <div class="col-sm-12 mt-1">
                <select class="form-control" [(ngModel)]="form.location[1].regionId"
                  (change)="getAllProvincenon($event.target.value)">
                  <option disabled [ngValue]="null">เลือกภูมิภาค</option>
                  <option *ngFor="let region of nonworkingregion[0]" [ngValue]="region.id">{{region.name_TH}}</option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[1].regionId">
                  Please select region.
                </span>
              </div>
            </div>
            <div class="mb-4">
              <b for="inputPassword3" class="col-sm-2 col-form-label">อำเภอ</b>
              <div class="col-sm-12 mt-1">
                <select class="form-control" [(ngModel)]="form.location[1].districtId">
                  <option disabled [ngValue]="null">เลือกอำเภอ</option>
                  <option *ngFor="let district of nonworkingdistrict[0]" [ngValue]="district.id">{{district.name_TH}}
                  </option>
                </select>
                <span class="form-error" *ngIf="isFormSubmit && !form.location[1].districtId">
                  Please select district.
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="row mb-3">
        <b for="inputEmail3" class="col-sm-1 col-form-label">หมายเหตุ</b>
        <div class="col-sm-12">
          <textarea class="form-control" rows="4" placeholder="ไม่พบข้อมูล" [(ngModel)]="form.note"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row justify-content-end">
      <button type="submit" class="btn btn-submit mx-2" (click)="onSubmit()">ยืนยัน</button>
      <a routerLink="/carprofile" class="btn cancel" style="margin-right: 5px">ยกเลิก</a>
    </div>
  </div>
</div>