<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>เปลี่ยนรหัสผ่าน</h4>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="page-body">  
    <table class="css-table table table-boarderBottom">
    <tbody>

      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
           รหัสผ่าน
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" placeholder="password" [(ngModel)]="Password" >
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            รหัสผ่านใหม่
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6"  placeholder="password"  [(ngModel)]="form.newPassword">
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            ยืนยันรหัสผ่านใหม่อีกครั้ง
            <span class="required">*</span>
          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" placeholder="password"  [(ngModel)]="form.confirmNewPassword">
          </div>
        </td>
      </tr>
      
    </tbody>

    </table>
  
      <div style="text-align:right">
        <button type="submit" class="btn btn-submit" (click)="onsubmit()" >ยืนยัน</button>
        <button routerLink="/cartype" type="button" class="btn btn-defualt" >ยกเลิก</button>
      </div>
  </div>
