<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>ลูกค้า</h4>
        </div>    
      </div>
    </div>
  </section>

  <div class="page-body">
    <select class="form-control form-control-sm mb-4 col-2" [(ngModel)]="customertype" (change)="filter()" >
      <option value="">ทั้งหมด</option>
      <option value="personal">บุคคลธรรมดา</option>
      <option value="corporate">นิติบุคคล</option>

    </select>
    <hr>
    
    <div class="table-action">
      <div class="search">
        <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
        <div class="btn btn-search" (click)="filter(search)">
          ค้นหา
        </div>
      </div>
      
    </div>

    <div class="table-body">
      <table id="example1" class="table  table-bordered table-striped">
        <thead>
        <tr>
          <th *ngIf="customertype ==='personal' || customertype ===''">รูปลูกค้า</th>
          <th *ngIf="customertype ==='corporate'">โลโก้</th>
          <th *ngIf="customertype ==='personal' || customertype ===''">ชื่อ-นามสกุล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name'" class="fas fa-chevron-up"(click)="orderBy('name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name'"  class="all fas fa-chevron-up"(click)="orderBy('name')"></i>
          </th>
          <th *ngIf="customertype ==='corporate'">ชื่อนิติบุคคล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name'" class="fas fa-chevron-up"(click)="orderBy('name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name'"  class="all fas fa-chevron-up"(click)="orderBy('name')"></i>
          </th>
          <th *ngIf="customertype ==='corporate'">เลขนิติบุคคล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'identityNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'identityNumber'" class="fas fa-chevron-up"(click)="orderBy('identityNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'identityNumber'"  class="all fas fa-chevron-up"(click)="orderBy('identityNumber')"></i>
          </th>
          <th>หมายเลขโทรศัพท์
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'phoneNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'phoneNumber'" class="fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'phoneNumber'"  class="all fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
          </th>
          <th>ประเภทลูกค้า
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'customerType'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'customerType'" class="fas fa-chevron-up"(click)="orderBy('customerType')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'customerType'"  class="all fas fa-chevron-up"(click)="orderBy('customerType')"></i>
          </th>
          <th>ระดับผู้ใช้งาน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'levelName'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'levelName'" class="fas fa-chevron-up"(click)="orderBy('levelName')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'levelName'"  class="all fas fa-chevron-up"(click)="orderBy('levelName')"></i>
          </th>
          <th *ngIf="customertype ==='corporate'">การตรวจสอบ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'verifyStatusName'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'verifyStatusName'" class="fas fa-chevron-up"(click)="orderBy('verifyStatusName')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'verifyStatusName'"  class="all fas fa-chevron-up"(click)="orderBy('verifyStatusName')"></i>
          </th>
          <th>วันที่ลงทะเบียน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let customer of customers.data" >
          <td>   
            <div class="row justify-content-center" >
              <img onerror="this.src='assets/images/user.png';" style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;" src="{{customer?.files | imageFilter: 'profilepicture'}}" alt=""> 
            </div>
          </td>          
          <td >{{customer.name}}</td>
          <td *ngIf="customertype ==='corporate'">{{customer?.identityNumber}}</td>
          <td>{{customer?.phoneNumber}}</td>
          <td>{{customer?.customerType}}</td>
          <td>{{customer?.levelName}}</td>
          <td *ngIf="customertype ==='corporate'"><span [ngStyle]="{ 'color': customer?.verifyStatusColor}">{{customer?.verifyStatusName}}</span></td>
          <!-- <td *ngIf="customertype ==='corporate'"><span>{{customer?.verifyStatusName}}</span></td> -->
          <td>{{customer?.created}}</td>
          <td>
            <p *ngIf="customer.status === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>  
          </td>
          <td class="d-flex">        
            <div class=" btn-edit" routerLink="/managecustomerprofile/{{customer.id}}" >
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(customer.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="customers.itemCount" [page]="customers.pageNumber" [limit]="customers.pageSize"
      (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>

</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
  