<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Consent Marketing</h4>
        </div>    
      </div>
    </div>
  </section>
  <div class="page-body">
    
    <div class="mb-2" style="color: #0264b1;">
      <b for="inputEmail3" class="col-sm-2 col-form-label">เวอร์ชั่น {{data.version}}</b><br><br>
      <b for="inputEmail3" class="col-sm-2 col-form-label">Module {{data.module}}</b><br><br>
      <div class="col-sm-12">
        <b>ชื่อ (TH)</b><br>
  
        {{data.name_TH | stripHtml }}
      </div><br>
      <div class="col-sm-12">
        <b>ชื่อ (EN)</b><br>
  
        {{data.name_ENG | stripHtml }}
      </div>
    </div>
    <div class="text-right mt-3">
      <div  *ngIf="data.isPublic !== true">   
      <button type="submit" style="background-color: #fd7522;" class="btn btn-submit" (click)="setisPublic()" >เปิดสาธารณะ</button>
      <button routerLink="/termsconditions" type="button" class="btn btn-defualt" >ยกเลิก</button>   
    </div>
    </div>

  </div>
  