<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ระดับคนขับ</h1>
      </div>

    </div>
  </div> 
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="css-table table table-boarderBottom">
      <tbody>

        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              ระดับ
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="level" [ngClass]="{ 'is-invalid': submitted && formControls.level.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนดาว
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="star" [ngClass]="{ 'is-invalid': submitted && formControls.star.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนการร้องเรียนต่อเดือน
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="complaintPerMonth" [ngClass]="{ 'is-invalid': submitted && formControls.complaintPerMonth.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนการปฏิเสธงานต่อเดือน
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="rejectPerMonth" [ngClass]="{ 'is-invalid': submitted && formControls.rejectPerMonth.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนการยกเลิกงานต่อเดือน
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="cancelPerMonth" [ngClass]="{ 'is-invalid': submitted && formControls.cancelPerMonth.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนการร้องเรียนต่อปี
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="complaintPerYear" [ngClass]="{ 'is-invalid': submitted && formControls.complaintPerYear.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนการปฏิเสธงานต่อปี
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="rejectPerYear" [ngClass]="{ 'is-invalid': submitted && formControls.rejectPerYear.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              จำนวนการยกเลิกงานต่อเปี
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="cancelPerYear" [ngClass]="{ 'is-invalid': submitted && formControls.cancelPerYear.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 250px;">
            <p class="pt-1 m-0">
              มูลค่าประกัน
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="insuranceValue" [ngClass]="{ 'is-invalid': submitted && formControls.insuranceValue.errors }">
            </div>
          </td>
        </tr>
      </tbody>

    </table>

    <div style="text-align:right" class="col-7" >
      <button type="submit" class="btn btn-submit">ยืนยัน</button>
      <button routerLink="/driverlevelcharacteristic" type="button" class="btn btn-defualt">ยกเลิก</button>
    </div>
  </form>
</div>

