
.page-content-wrapper {
  background-color: #fff;
  padding:1rem 1.25rem;
}
.card-body{
  padding:0 1.25rem 1rem 1.25rem;
}
thead,td,th{
border: none;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 2px 10px 1px #eeeeee;

  }
  thead{
      background-color: #E6F4FF;
      color: #195c8f;
  }
  select{
    color: #195c8f;
    font-weight: bold ;
}
  .submit{
    color: rgb(129, 129, 129); 
    border: none;
  }
  b,th,select{
    font-weight: 500;
    color: #195c8f;

  }
  h4{
    color: rgb(129, 129, 129); 
  }
  li {
    display: block;
  }
  .container-step {
    box-sizing: content-box; 
   }
  .step {   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    background-color: cream;
  }
  
  .v-stepper {
    position: relative;
  /*   visibility: visible; */
  }
  
  .step .circle  {
    background-color: white;
    width: 25px;    /* +6 for border */
    height: 25px;
    display: inline-block;
  }
  /* regular step */
  .step .circle-receiver  {
    background-color: white;
    border: 2px solid rgb(12, 60, 218);
    border-radius: 100%;
    width: 25px;    /* +6 for border */
    height: 25px;
    display: inline-block;
  }
  
  .step .circle-deliver  {
    background-color: white;
    border: 2px solid rgb(255, 138, 3);
    border-radius: 100%;
    width: 25px;    /* +6 for border */
    height: 25px;
    display: inline-block;
  }
  
  .user {
    color: rgb(12, 60, 218);
    top: 8px !important; 
    left: 6px !important;    
    position: absolute;
    font-size: 15px;
}
.map {
  color: rgb(12, 60, 218);
  top: 0px !important; 
  left: 3.5px !important;    
  position: absolute;
  font-size: 25px;
}
  .step .line {
    top: 27px; 
    left: 11px ; 
    height: 95%;
        position: absolute;
        border-left: 3px dashed   rgb(255, 138, 3);
  }
  

  
  .step:last-child .line {
    border-left: 3px solid white;
    z-index: -1; /* behind the circle to completely hide */
  }
  
  .content {
    margin-left: 10px;
    display: inline-block;
  }
