<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
        <h4>คนขับรอของลง</h4>
      </div>
      <div class="col-sm-2" style="float: right;">
        <button type="submit" class="btn btn-submit mx-2" (click)="onChangeStatus()">เปลี่ยนสถานะ</button>
      
        <a routerLink="/delivery" class="btn cancel" style="margin-right: 5px">back</a>
      </div>
    </div>
  </div>
</section>
<div class="card-body">
  <div class="page-content-wrapper">
    <div>
      <b>รูปสินค้า {{item}}</b>
      <div class="row">
        <div class="mt-3 pr-2 col-12">
          <img class="mx-2" *ngFor="let item of image;" style="width: 100px; height: 100px; background-color: rgba(124, 124, 124, 0.1); border-radius: 15px;" src="{{env.baseWebContentUrl+'/'+item.filePath}}" alt="">
        </div>
      </div>
    </div>
    <div class="mt-3">
      <b>ข้อมูลสินค้า</b>
      <ol style="padding-inline-start: 15px;">
        <li style="display: list-item;" *ngFor="let products of orderings.products">{{products?.name}}</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-4 mt-2">
        <b>ข้อมูลรถ</b>
        <div class=" mt-1">
          <li>ทะเบียนรถ :{{orderings.cars[0]?.carRegistration}} <span *ngIf="!orderings.cars[0]?.carRegistration">ไม่พบข้อมูล</span></li>
          <li>ประเภทรถ : {{orderings.cars[0]?.carType?.name_TH}} <span *ngIf="!orderings.cars[0]?.carType?.name_TH">ไม่พบข้อมูล</span></li>
          <li>ปีที่จดทะเบียน : {{orderings.cars[0]?.actExpiry | date: 'YYYY/MM/dd'}} <span *ngIf="!orderings.cars[0]?.actExpiry">ไม่พบข้อมูล</span></li>
          <li>ประกันค้าเสียหาย :  {{orderings.cars[0]?.productInsuranceAmount}} บาท </li>
          <li>หมายเหตุ : {{orderings.cars[0]?.note}}<span *ngIf="!orderings.cars[0]?.note">ไม่พบข้อมูล</span></li>
        </div>
      </div>

      <div class="col mt-2">
        <b>ข้อมูลคนขับ</b>
        <div class=" mt-1">
          <li>ชื่อ-นามสกุล : {{orderings.drivers[0]?.firstName}} {{orderings.drivers[0]?.lastName}} <span *ngIf="!orderings.drivers[0]?.lastName && !orderings.drivers[0]?.firstName">ไม่พบข้อมูล</span></li>
          <li>เรตตี้ง :  {{orderings.drivers[0]?.rating}}<span *ngIf="!orderings.drivers[0]?.rating">ไม่พบข้อมูล</span> </li>
          <li>ระดับ :  {{orderings.drivers[0]?.star}}<span *ngIf="!orderings.drivers[0]?.star">ไม่พบข้อมูล</span> </li>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="container-step mt-3">
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle-deliver"> <i class="fas fa-user user" style="color: rgb(255, 138, 3);"></i></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div>
                <b>ผู้ส่ง</b>
                <p>{{orderings.deliverypoint?.personalName}}</p>
              </div>
            </div>
          </div>
          <div class="step active">
            <div class="v-stepper">
              <div class="circle-receiver"> <i class="fas fa-user user"></i></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <div>
                <b>ผู้รับ</b>
                <p>{{orderings.pickuppoint?.personalName}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container-step mt-3">
          <div class="step ">
            <div class="v-stepper">
              <div class="circle"><i class="fas fa-map-marker-alt map" style="color: rgb(255, 138, 3);"></i></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <b>{{orderings.deliverypoint?.date  | date: 'YYYY/MM/dd HH:MM'}} น.</b>
              <p>ต้นทาง : <span>{{orderings.deliverypoint?.address}}</span> <span> {{orderings.deliverypoint?.road}}</span><span> ต.{{orderings.deliverypoint?.subdistrict.name_TH}}</span><span> อ.{{orderings.deliverypoint?.district?.name_TH}}</span><span> จ.{{orderings.deliverypoint?.province?.name_TH}}</span><span> {{orderings.deliverypoint?.postCode}}</span></p>
            </div>
          </div>

          <div class="step">
            <div class="v-stepper">
              <div class="circle"><i class="fas fa-map-marker-alt map"></i></div>
              <div class="line"></div>
            </div>
            <div class="content">
              <b>{{orderings.pickuppoint?.date  | date: 'YYYY/MM/dd HH:MM'}} น.</b>
              <p>ปลายทาง : <span>{{orderings.pickuppoint?.address}}</span> <span> {{orderings.pickuppoint?.road}}</span><span> ต.{{orderings.pickuppoint?.subdistrict?.name_TH}}</span><span> อ.{{orderings.pickuppoint?.district?.name_TH}}</span><span> จ.{{orderings.pickuppoint?.province?.name_TH}}</span><span>{{orderings.pickuppoint?.postCode}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-4">
        <div class=" mt-2">
          <b>ระยะทาง</b>
          <p>{{orderings?.distance}} กิโลเมตร</p>
        </div>
      </div>
      <div class="col">
        <div class=" mt-2">
          <b>ราคา</b>
          <p>{{orderings?.orderingPrice}} บาท</p>
        </div>
      </div>
    </div>
    <h4>รายการทั้งหมด</h4>

    <div class="form-group row">
      <div class="table-action">
        <div class="search">
          <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
          <div class="btn btn-search" (click)="filter()">
            ค้นหา
          </div>
        </div>

      </div>
    </div>

    <table id="example1" class="table table-hover">
      <thead>
        <tr>
          <th>รูปสินค้า</th>
          <th>ผู้ทำรายการ</th>
          <th>สถานะ</th>
          <th>ยืนยันการส่งของ-รับของ</th>
          <th>ค่าปรับระบบคำนวณมาให้</th>
          <th>ค่าปรับสุทธิ </th>
          <th>วันที่ทำรายการ</th>
          <th>แผนที่</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listorder of orderingaddress.data">
          <td>
            <div class="row justify-content-center ">
              <div class="justify-content-center d-flex" *ngIf="listorder.files && listorder.files.length > 0">

                <img *ngFor="let item of listorder.files | slice:0:2; let i=index"
                     class="m-1 rounded"
                     style="width: 40px; height: 40px;"
                     src="{{env.baseWebContentUrl+'/'+item.filePath}}" alt=""
                     onerror="this.src='assets/images/image-temp.svg';">
              </div>
              <p *ngIf="!listorder.files || listorder.files.length == 0">-</p>
            </div>
          </td>
          <td>{{listorder.personalName}}</td>
          <td [ngStyle]="{ 'color': listorder?.statusObj.color}">{{listorder.statusObj.th}}</td>
          <td *ngIf="listorder.statusObj.id ===8; else data_not_found">ลูกค้ายืนยันการรับของ</td>
          <td *ngIf="listorder.statusObj.id ===12;">คนขับรถกำลังลงของ</td>
          <td *ngIf="listorder.compensation !== 0 || null;else data_not_found ">{{listorder.compensation}}</td>
          <td *ngIf="listorder.actualreceive !== 0 || null;else data_not_found ">{{listorder.actualreceive}}</td>
          <td>{{listorder.date  | date: 'YYYY/MM/dd HH:MM'}}</td>
          <td class="action-button-column"><a href=""><i class="fas fa-map-marker-alt" style="color: rgb(255, 206, 72);"></i></a>  </td>
          <td class="d-flex">
            <div class="btn-edit">
              <i class="fas fa-edit" (click)="onChangeAddressStatus(listorder.id,listorder.addressType)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="page-footer my-3">
      <app-table-pagination [count]="orderingaddress.itemCount" [page]="orderingaddress.pageNumber" [limit]="orderingaddress.pageSize"
                            (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>

  <ng-template #data_not_found><td>-</td></ng-template>
