.page-content-wrapper {
  background-color: #fff;
  padding:1rem 1.25rem;
}
.card-body{
padding:0 1.25rem 1rem 1.25rem;
}

a{
cursor: pointer;
}

.submit{
  color: rgb(129, 129, 129); 
  border: none;
}
b{
  font-weight: 500;
  color: #195c8f;

}
.css-tabel-container {
  overflow-y: hidden;
  overflow-x: auto;
 }
h4{
  color: rgb(129, 129, 129); 
}
.color-box{
  background-color: #F8F8F8;
  width: 100%; 
  padding: 16px
}
