<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>รายละเอียดการขำระเงิน</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">

  <table class="css-table table table-boarderBottom">
    <tbody>

      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            เลขพัสดุ

          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" [(ngModel)]="orderingpayments.trackingCode" disabled>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            ชื่อลูกค้า

          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" [(ngModel)]="orderingpayments.customer" disabled>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            วิธีการชำระเงิน

          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" [(ngModel)]="orderingpayments.channel" disabled>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 100px;">
          <p class="pt-1 m-0">
            สถานะการจ่าย

          </p>
        </td>
        <td colspan="4">
          <div class="input-group input-group-sm ">
            <input type="text" class="form-control col-6" [(ngModel)]="orderingpayments.statusObj.th" disabled>
          </div>
        </td>
      </tr>

    </tbody>

  </table>


  <div style="text-align:right">
    <button routerLink="/payment" type="button" class="btn btn-defualt">ยกเลิก</button>
  </div>
</div>