.chat-slide-header {
    display: flex;
    flex: 0;
    .header-left {
        float: left;
        width: 50%;
        align-items: center;
        display: flex;
    }
    .header-right {
        float: right;
        width: 50%;
        flex-direction: row-reverse;
    }
}
.panel {
    user-select: none;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    // @media screen and (max-width: 1024px) {
    //     height: calc(100% - 43.375px) !important;
    // }
}
.list-group-item {
    flex: 0;
}
.chat-body {
    flex: 1 100%;
    flex-grow: 1;

    flex-direction: column;
    flex-basis: 0px;
    overflow-y: scroll;
    background: white;

    flex: 1 100%;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 100%;
    overflow-y: scroll;
    background: white;
    height: 530px;

    .chat-list {
        flex: 0 0 100%;
        min-height: 100%;
    }
}
.chat-room {
    flex: 1 100%;
    flex-grow: 1;
    background: white;
    flex-direction: column;
    flex-basis: 651px;
    overflow-y: scroll;
    flex-direction: column;
    padding-bottom: 14px;
}
::-webkit-scrollbar {
    height: 0 !important;
    width: 0 !important;
}

ngx-gallery.ngx-gallery-arrow.ngx-gallery-disabled {
    display: none;
}
.chat-container {
    padding-left: 78px !important;
    padding-right: 0px !important;
    height: 91vh;
    @media only screen and (max-width: 600px) {
        padding-left: 12px !important;
        overflow: hidden;
    }
}
.chat-users-box {
    @media only screen and (max-width: 600px) {
        overflow: hidden;
        padding-left: 0 !important;
        padding-right: 16px !important;
        height: 100vh !important;
    }
}
.chat-w100 {
    overflow-y: scroll;
    border-right: whitesmoke solid 1px;
    @media only screen and (max-width: 600px) {
        height: 100vh !important;
        overflow-y: scroll;
    }
}
.chat-user-active {
    transition: 0.3s;
    @media only screen and (max-width: 600px) {
        transform: translateY(-110%);
        z-index: 8;
        height: 90vh;
        width: 100vw;
        overflow-x: hidden;
    }
}
.chat-user-inactive {
    transform: translateY(0) !important;
    z-index: 8;
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
}
.h-100-w-mobile {
    // height: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: hidden !important;
    }
    .message-file-box {
        max-width: 139%;
    }
    .chat-room {
        height: 85%;
        padding-bottom: 10%;
        overflow-y: scroll;
        visibility: visible;
        min-height: 85%;
        background: white;
    }
    #chat-box {
        background-color: rgb(255, 255, 255);
    }
    .fa-file-image {
        font-size: 21px !important;
        // transform: translateX(14px);
    }
    .fa-file {
        font-size: 21px !important;
        // transform: translateX(10px);
    }
    .fa-paper-plane {
        font-size: 18px !important;
        transform: translateX(7px);
    }
}
.mobile-view-close {
    position: absolute;
    right: 16px;
    display: none;
    top: 20px;
    font-weight: bold;
    color: #676767;
    @media only screen and (max-width: 600px) {
        display: block;
    }
}
.note {
    position: absolute;
    right: 16px;
    top: 20px;
    font-weight: bold;
    color: #676767;
}
.dot {
    cursor: pointer;
    transform: rotate(90deg);
}
.input-message {
    width: 88%;
    outline: none;
}
.input-box {
    justify-content: center !important;
}

.lobby-times {
    transform: translateY(-10px);
    font-size: 13px;
}
.lobby-badge {
    background-color: red;
    font-size: 12px;
    // position: absolute;
    right: 16px;
    top: 36px;
    min-width: 16px;
    min-height: 15px;
    display: grid;
    align-items: center;
    text-align: center;
}
.cursor-pointer {
    cursor: pointer;
}
#chat-box {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .chat-message-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        display: flex;
        flex-direction: column;
        height: 60px;
        border-bottom: solid 1px #f0f2f5;
    }
    .chat-message-body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow-y: scroll;
        flex: 1;
        max-height: 62vh;
    }
    .chat-message-action {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 600px) {
            justify-content: inherit;
            height: 105px;
        }
    }
    .swicher {
        display: flex;
        background: white;
        li {
            flex: 1;
            list-style-type: none; /* Remove bullets */
            text-align: center;
            padding: 4px 6px;
            cursor: pointer;
        }
        li.active {
            border-bottom: solid 1px #1284c2;
        }
    }
}

.card-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translateY(1px);
    object-fit: cover;
}
.text-name {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 3px !important;
}
.text-time {
    font-size: 10px;
    line-height: 11px;
    color: #9c9c9c;
}
.content-note {
    font-size: 14px;
    textarea {
        width: 100%;
        min-height: 300px;
        max-height: 400px;
        border: none;
        line-break: anywhere;
        word-wrap: break-word;
        text-align: start;
        outline: none;
    }
}
.profile {
    position: relative;
    width: 100%;
}
.note-body {
    background: white;
}
.note-search {
    background: white;
}
.flex-fit-content {
    flex: 1 100%;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 0px;
    overflow: scroll;
}
.note-add {
    width: 52px;
    height: 52px;
    background: #0041c5;
    color: white;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
#file {
    visibility: hidden;
}
#uploadFile {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}
.content-note {
    border-bottom: solid 1px #f0f2f5;
}

.content-texarea {
    width: 100%;
    height: 280px;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    padding: 8px;
    outline: none;
}
.panel-chat {
    max-width: 90%;
    @media screen and (max-width: 1024px) {
        max-width: 70% !important;
    }
}
