<div class="panel fadeInLoop10">
  <div class="chat-slide-header p-3">
    <div class="header-left">
      <i (click)="toLobby()" class="fa fa-chevron-left mr-3 fadeInLoop10 cursor-pointer" aria-hidden="true"
        *ngIf="roomOpen"></i>
      <h3 class="mb-0">{{'CHAT.TITLE' | translate }}</h3>
    </div>
    <div class="header-right d-flex align-items-center" *ngIf="!roomOpen">


      <!-- <i class="fas fa-list-ul px-2 cursor-pointer float-right"
        [ngClass]="{'text-theme': !isLobby, 'color-secondary': isLobby }"
        (click)="getLobbyList(); isLobby = !isLobby;"></i> -->
      <!-- <i (click)="gotoChat()" class="fa fa-arrows-alt  px-2 cursor-pointer float-right text-theme"
              aria-hidden="true"></i> -->
      <!-- <div class="position-relative px-2 cursor-pointer" (click)="onCreateGroupChat();">
        <i class="fas fa-users text-theme" style="font-size: 18px;"></i>
        <i class="fas fa-plus-circle text-theme position-absolute bottom-2 right-0" style="font-size: 11px;"></i>
      </div>
      <div class="position-relative px-2 cursor-pointer " (click)="onCreateChat();">
        <i class="fas fa-user text-theme" style="font-size: 16px;"></i>
        <i class="fas fa-plus-circle text-theme position-absolute bottom-2 right-0" style="font-size: 11px;"></i>
      </div> -->
    </div>
    <!-- <div class="header-right d-flex align-items-center" *ngIf="roomOpen">
    </div> -->
  </div>
  <li class="list-group-item pt-0 border-0 fadeInLoop10" *ngIf="!roomOpen">
    <div class="form-group mb-0 position-relative d-flex align-items-center mt-2 ">
      <i class="fas fa-search position-absolute pl-3" style="color: #6F7070;"></i>
      <input type="text" class="form-control pl-5 border-0 py-0" [(ngModel)]="qText"
        style="background-color: #F0F2F5; color: #6F7070; height: 36px;"
        placeholder="{{'DEFAULT.SEARCH' | translate | customTranslate}}">
    </div>
  </li>
  <div class="chat-body fadeInLoop10" *ngIf="!roomOpen">
    <div class="chat-list ">
      <div *ngIf="isLobby">
        <ngb-accordion [closeOthers]="true" activeIds="{{currentTab}}" (panelChange)="tabChange($event)">
          <ngb-panel *ngIf="chatInvite && chatInvite.length > 0" [id]="'chatInvite'">
            <ng-template class="w-100" ngbPanelTitle>
              <div class="w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <p class="m-0 text-dark text-left">
                    {{ 'WORKPLUS.CHAT_LIST.INVITE_GROUP' | translate | customTranslate }}
                    <span class="text-muted">{{ chatInvite.length | number }}</span>
                  </p>
                </div>
                <div>
                  <i *ngIf="currentTab == 'chatInvite'" class="fas fa-angle-up text-muted" style="font-size: 20px;"></i>
                  <i *ngIf="currentTab != 'chatInvite'" class="fas fa-angle-down text-muted"
                    style="font-size: 20px;"></i>
                </div>
              </div>
            </ng-template>

          </ngb-panel>
          <ngb-panel *ngIf="chatPublic && chatPublic.length > 0" [id]="'chatPublic'">
            <ng-template class="w-100" ngbPanelTitle>
              <div class="w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <p class="m-0 text-dark text-left">
                    {{ 'WORKPLUS.CHAT_LIST.PUBLIC_GROUP' | translate | customTranslate }}
                    <span class="text-muted">{{ chatPublic.length | number }}</span>
                  </p>
                </div>
                <div>
                  <i *ngIf="currentTab == 'chatPublic'" class="fas fa-angle-up text-muted" style="font-size: 20px;"></i>
                  <i *ngIf="currentTab != 'chatPublic'" class="fas fa-angle-down text-muted"
                    style="font-size: 20px;"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul class="list-group px-0 list-group-flush">
                <li
                  *ngFor="let item of chatPublic | filterBy: { $or: [{ groupName: qText }, { senderNameAlt: qText }, { senderName: qText }] }; let i = index;"
                  class="fadeInLoop10 list-group-item border-0 py-2 cursor-pointer d-flex justify-content-between align-items-center"
                  [ngStyle]="{'background-color': chatRoomSelected == item ? '#efefef' : '#ffffff'}"
                  (click)="onSelectChatRoom(item);">
                  <div class="d-flex align-items-center">
                    <div class="layout-img rounded-circle border d-flex" style="overflow: hidden;">
                      <img style="object-fit: cover; width: 46px; height: 46px;"
                        [src]="item?.imageUrl || 'assets/images/user.png'" onerror="this.src='assets/images/user.png';">
                    </div>
                    <div class="pl-2 d-flex align-items-center">
                      <div class="m-0 d-flex flex-column" style="max-width: 150px;">
                        <div class="d-flex">
                          <div class="d-inline"
                            style="font-size: 14px; white-space: nowrap; max-width: 150px; overflow: hidden; text-overflow: ellipsis;">
                            {{ item?.isPrivate ? (item?.senderNameAlt |
                                                      translateLanguage : item?.senderName) : item?.groupName }}

                          </div>
                          <!-- <span class="d-flex align-items-center" *ngIf="!item?.isPrivate">
                            <i *ngIf="item?.isPrivateGroup" class="fas fa-lock text-muted pl-2 d-inline"
                              style="font-size: 11px;"></i>
                            <img *ngIf="!item?.isPrivateGroup" class="ml-2 d-inline" width="11"
                              src="./assets/img/icons/exp/Expression.png">
                            <small class="mx-1 d-inline">({{item?.totalMember |
                                                          nFormatter}})</small>
                          </span> -->

                        </div>
                        <span *ngIf="item?.isPrivate">
                          <i class="fas fa-user-alt text-muted pl-2" style="font-size: 11px;"></i>
                        </span>
                        <!-- <small *ngIf="item?.content" class="m-0 text-muted text-truncate" style="font-size: 12px; max-width: 150px;">{{item?.content}}</small> -->
                      </div>
                      <!-- <div class="d-flex align-items-center">
                                              <small *ngIf="item?.totalBadge > 0" class="rounded-pill px-1 text-white ml-2" style="background-color: var(--app-primary); font-size: 10px;">{{item?.totalBadge | nFormatter}}</small>
                                          </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="chatMyGroup && chatMyGroup.length > 0" [id]="'chatMyGroup'">
            <ng-template class="w-100" ngbPanelTitle>
              <div class="w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <p class="m-0 text-dark text-left">
                    {{ 'WORKPLUS.CHAT_LIST.MY_GROUP' | translate | customTranslate }}
                    <span class="text-muted">{{ chatMyGroup.length | number }}</span>
                  </p>
                </div>
                <div>
                  <i *ngIf="currentTab == 'chatMyGroup'" class="fas fa-angle-up text-muted"
                    style="font-size: 20px;"></i>
                  <i *ngIf="currentTab != 'chatMyGroup'" class="fas fa-angle-down text-muted"
                    style="font-size: 20px;"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul class="list-group px-0 list-group-flush">
                <li
                  *ngFor="let item of chatMyGroup | filterBy: { $or: [{ groupName: qText }, { senderNameAlt: qText }, { senderName: qText }] }; let i = index;"
                  class="fadeInLoop10 list-group-item border-0 py-2 cursor-pointer d-flex justify-content-between align-items-center"
                  [ngStyle]="{'background-color': chatRoomSelected == item ? '#efefef' : '#ffffff'}"
                  (click)="onSelectChatRoom(item);">
                  <div class="d-flex align-items-center">
                    <div class="layout-img rounded-circle border d-flex" style="overflow: hidden;">
                      <img style="object-fit: cover; width: 46px; height: 46px;"
                        [src]="item?.imageUrl || 'assets/images/user.png'" onerror="this.src='assets/images/user.png';">
                    </div>
                    <div class="pl-2 d-flex align-items-center">
                      <div class="m-0 d-flex flex-column" style="max-width: 150px;">
                        <div class="d-flex">
                          <div class="d-inline"
                            style="font-size: 14px; white-space: nowrap; max-width: 150px; overflow: hidden; text-overflow: ellipsis;">
                            {{ item?.isPrivate ? (item?.senderNameAlt |
                                                      translateLanguage : item?.senderName) : item?.groupName }}

                          </div>
                          <span class="d-flex align-items-center" *ngIf="!item?.isPrivate">
                            <i *ngIf="item?.isPrivateGroup" class="fas fa-lock text-muted pl-2 d-inline"
                              style="font-size: 11px;"></i>
                            <img *ngIf="!item?.isPrivateGroup" class="ml-2 d-inline" width="11"
                              src="./assets/img/icons/exp/Expression.png">
                            <small class="mx-1 d-inline">({{item?.totalMember |
                                                          nFormatter}})</small>
                          </span>
                          <!-- <span *ngIf="item?.groupId !== 0 && !item?.isAccept" class="badge badge-danger rounded-pill">N</span> -->
                        </div>
                        <span *ngIf="item?.isPrivate">
                          <i class="fas fa-user-alt text-muted pl-2" style="font-size: 11px;"></i>
                        </span>
                        <!-- <small *ngIf="item?.content" class="m-0 text-muted text-truncate" style="font-size: 12px; max-width: 150px;">{{item?.content}}</small> -->
                      </div>
                      <!-- <div class="d-flex align-items-center">
                                              <small *ngIf="item?.totalBadge > 0" class="rounded-pill px-1 text-white ml-2" style="background-color: var(--app-primary); font-size: 10px;">{{item?.totalBadge | nFormatter}}</small>
                                          </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel *ngIf="chatAllFriend && chatAllFriend.length > 0" [id]="'chatAllFriend'">
            <ng-template class="w-100" ngbPanelTitle>
              <div class="w-100 d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <p class="m-0 text-dark text-left">
                    {{ 'WORKPLUS.CHAT_LIST.FRIEND' | translate | customTranslate }}
                    <span class="text-muted">{{ chatAllFriend.length | number }}</span>
                  </p>
                </div>
                <div>
                  <i *ngIf="currentTab == 'chatAllFriend'" class="fas fa-angle-up text-muted"
                    style="font-size: 20px;"></i>
                  <i *ngIf="currentTab != 'chatAllFriend'" class="fas fa-angle-down text-muted"
                    style="font-size: 20px;"></i>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul class="list-group px-0 list-group-flush">
                <li
                  *ngFor="let item of chatAllFriend | filterBy: { $or: [{ groupName: qText }, { senderNameAlt: qText }, { senderName: qText }] }; let i = index;"
                  class="fadeInLoop10 list-group-item border-0 py-2 cursor-pointer d-flex justify-content-between align-items-center"
                  [ngStyle]="{'background-color': chatRoomSelected == item ? '#efefef' : '#ffffff'}"
                  (click)="onSelectChatRoom(item);">
                  <div class="d-flex align-items-center">
                    <div class="layout-img rounded-circle border d-flex" style="overflow: hidden;">
                      <img style="object-fit: cover; width: 46px; height: 46px;"
                        [src]="item?.imageUrl || 'assets/images/user.png'" onerror="this.src='assets/images/user.png';">
                    </div>
                    <div class="pl-2 d-flex align-items-center">
                      <div class="m-0 d-flex flex-column" style="max-width: 150px;">
                        <div class="d-flex align-items-center">
                          <div class="d-inline"
                            style="font-size: 14px; white-space: nowrap; max-width: 150px; overflow: hidden; text-overflow: ellipsis;">
                            {{ item?.isPrivate ?
                                                      (item?.groupNameTextAlt | translateLanguage :
                                                      item?.groupNameText) : item?.groupName }}
                          </div>
                          <span class="d-flex align-items-center" *ngIf="!item?.isPrivate">
                            <i *ngIf="item?.isPrivateGroup" class="fas fa-lock text-muted pl-2 d-inline"
                              style="font-size: 11px;"></i>
                            <img *ngIf="!item?.isPrivateGroup" class="ml-2 d-inline" width="11"
                              src="./assets/img/icons/exp/Expression.png">
                            <small class="mx-1 d-inline">({{item?.totalMember |
                                                          nFormatter}})</small>
                          </span>
                          <!-- <span *ngIf="item?.groupId !== 0 && !item?.isAccept" class="badge badge-danger rounded-pill">N</span> -->
                          <span *ngIf="item?.isPrivate">
                            <i class="fas fa-user-alt text-muted pl-2" style="font-size: 11px;"></i>
                          </span>
                        </div>
                        <small *ngIf="item?.content" class="m-0 text-muted text-truncate"
                          style="font-size: 12px; max-width: 150px;">{{item?.content}}</small>
                      </div>
                      <!-- <div class="d-flex align-items-center">
                                              <small *ngIf="item?.totalBadge > 0" class="rounded-pill px-1 text-white ml-2" style="background-color: var(--app-primary); font-size: 10px;">{{item?.totalBadge | nFormatter}}</small>
                                          </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <ul *ngIf="!isLobby" class="list-group px-0 list-group-flush">
        <div *ngFor="let item of roomList | myfilter:qText">
          <li class="list-group-item border-0 py-2 cursor-pointer d-flex justify-content-between align-items-center"
            [ngStyle]="{'background-color': isChatGroup ? (chatRoomSelected?.groupId == item?.groupId ? '#efefef' : '#ffffff') : (chatRoomSelected?.groupName == item?.groupName ? '#efefef' : '#ffffff')}"
            (click)="onSelectChatRoom(item, true);"
            *ngIf="(item?.isPrivate&& item?.groupNameText) || !item?.isPrivate ">
            <div class="d-flex align-items-center">
              <div class="layout-img rounded-circle border d-flex" style="overflow: hidden;">
                <img style="object-fit: cover; width: 46px; height: 46px;"
                  [src]="item?.imageUrl || 'assets/images/user.png'" onerror="this.src='assets/images/user.png';">
              </div>
              <div class="pl-2 d-flex align-items-center">
                <div class="m-0 d-flex flex-column" style="max-width: 150px;">
                  <div class="d-flex align-items-center">
                    <div class="d-inline"
                      style="font-size: 14px; white-space: nowrap; max-width: 150px; overflow: hidden; text-overflow: ellipsis;">
                      {{ item?.isPrivate ? (item?.groupNameTextAlt |
                                          translateLanguage : item?.groupNameText) : item?.groupName }}
                    </div>
                    <!-- <span class="d-flex align-items-center" *ngIf="!item?.isPrivate">
                      <i *ngIf="item?.isPrivateGroup" class="fas fa-lock text-muted pl-2 d-inline"
                        style="font-size: 11px;"></i>
                      <img *ngIf="!item?.isPrivateGroup" class="ml-2 d-inline" width="11"
                        src="./assets/img/icons/exp/Expression.png">
                      <small class="mx-1 d-inline">({{item?.totalMember | nFormatter}})</small>
                    </span> -->

                    <small *ngIf="item?.totalBadge > 0" class="rounded-pill px-1 text-white ml-0 lobby-badge ml-3"
                      style="background-color: red; font-size: 10px;">{{item?.totalBadge   | number}}
                    </small>
                  </div>
                  <small *ngIf="item?.content && item?.isAccept" class="m-0 text-muted text-truncate "
                    style="font-size: 12px; max-width: 150px;">{{item?.content}}</small>
                </div>
              </div>
            </div>
            <small class="text-muted lobby-times">{{item?.contentTimeStamp | momentAgo}}</small>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div class="fadeInLoop10 h-100" *ngIf="roomOpen">
    <div id="chat-box">
      <div *ngIf="!chatRoomSelected" class="h-100 w-100 d-flex justify-content-center align-items-center">
        <i class="far fa-comment-dots text-muted" style="font-size: 74px;"></i>
      </div>
      <div class="chat-message-header" *ngIf="chatRoomSelected && chatRoomSelected?.isAccept">
        <ul class="list-group px-0 list-group-flush position-sticky top-0 border-0 " style="z-index: 2;">
          <li class="list-group-item px-0 py-2 d-flex justify-content-between align-items-center  h-100-w-mobile">
            <div class="m-0 pl-3 d-flex align-items-center">

              <div class="layout-img rounded-circle border" style="overflow: hidden;">

                <img style="object-fit: cover; width: 46px; height: 46px;"
                  [src]="chatRoomSelected?.imageUrl || 'assets/images/user.png'"
                  onerror="this.src='assets/images/user.png';">
              </div>
              <p class="m-0 pl-2"
                style="font-size: 14px; white-space: nowrap; width: 500px; overflow: hidden; text-overflow: ellipsis;">

                {{ chatRoomSelected?.isPrivate?
                              (chatRoomSelected?.groupNameTextAlt | translateLanguage :
                              chatRoomSelected?.groupNameText) : chatRoomSelected?.groupName }}

                <!-- <span class="note">
                  <popover-content #popoverPost placement="left" [animation]="true" [closeOnMouseOutside]="true"
                    [closeOnClickOutside]="false" class="popover-note">
                    <button class="btn w-100" (click)="chatRoomActive(2)"> Note </button>
                    <button class="btn w-100" (click)="chatRoomActive(3)"> Image </button>
                    <button class="btn w-100" (click)="chatRoomActive(4)"> Files</button>
                    <button class="btn w-100" *ngIf="isChatGroup" (click)="openEditGroup()"> Setting
                    </button>
                  </popover-content>
                  <div class="dot pull-right" [popover]="popoverPost" [popoverOnHover]="false"
                    [popoverCloseOnMouseOutside]="true">
                    <i class="fas fa-ellipsis-h"></i>
                  </div>
                </span> -->
              </p>

            </div>
            <i *ngIf="!isChatGroup && receiver?.PersonalPhone" class="fas fa-phone pr-4 mr-1 cursor-pointer"
              (click)="openInfomation()" style="color: var(--app-secondary);"></i>
            <i *ngIf="isChatGroup" class="fas fa-bars pr-4 mr-1 cursor-pointer text-theme"
              (click)="openEditGroup(); $event.stopPropagation();"></i>

          </li>
        </ul>
      </div>
      <ng-template [ngIf]="roomChatType === 1">
        <div class="chat-message-header" *ngIf="chatRoomSelected && !chatRoomSelected?.isAccept" style="
              flex: 1 100%;
              flex-grow: 1;">
          <ul class="list-group list-group-flush h-100 d-flex align-items-center justify-content-center"
            style="overflow-y: scroll;background: white;">
            <span class="mobile-view-close" (click)="closeMobile()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <li class="list-group-item w-100 border-0 d-flex flex-column justify-content-center  h-100-w-mobile">
              <div class="rounded-circle mx-auto border" style="width: 20%; overflow: hidden;">
                <img class="w-100" [src]="chatRoomSelected?.imageUrl || 'assets/images/user.png'"
                  onerror="this.src='assets/images/user.png';">
              </div>
              <h3 class="w-100 text-center mx-auto" *ngIf="chatRoomSelected?.groupName"
                style="max-width: 250px; overflow: hidden; text-overflow: ellipsis;">
                {{chatRoomSelected?.groupName}}

              </h3>
              <div class="d-flex mx-auto">
                <button (click)="joinChat()" class="btn rounded-pill my-2 text-white"
                  style="background-color: var(--app-primary); width: 100px;">{{'WORKPLUS.SHARED.JOIN'
                                  |
                                  translate | customTranslate}}</button>
                <button *ngIf="chatRoomSelected?.isCanDecline" class="btn rounded-pill my-2 text-white bg-danger"
                  (click)="declineGroup()">{{'WORKPLUS.SHARED.DECLINE' | translate |
                                  customTranslate}}</button>

              </div>
            </li>
          </ul>
        </div>

        <div class="chat-message-body">
          <ul id="chatRoom" class="list-group list-group-flush position-relative h-100-w-mobile chat-room">
            <div *ngFor="let itemDay of messageList; let dI = index;">
              <li class="list-group-item w-100 border-0 py-1 d-flex justify-content-center">
                <p class="text-muted m-0 text-center rounded-pill px-3 my-3" style="background-color: #eee;">
                  {{itemDay.date | date: 'YYYY/MM/dd HH:MM'}}
                </p>
              </li>
              <div *ngFor="let msgById of itemDay?.messageById">
                <li *ngFor="let msgByTime of msgById?.messageByTime" class="list-group-item w-100 border-0 py-1">
                  <div *ngIf="!msgByTime.isMe && msgByTime?.message.length > 0" class="d-flex">
                    <div class="layout-img rounded-circle border" [ngClass]="{'mt-4': msgByTime.message.length > 1}"
                      style="width: 34px; height: 34px; overflow: hidden;">
                      <img class="w-100 h-100" style="object-fit: cover;"
                        [src]="msgByTime?.ProfileImageURL || 'assets/images/user.png'"
                        onerror="this.src='assets/images/user.png';">
                    </div>
                    <div class="panel-chat">
                      <div *ngFor="let msg of msgByTime.message; let i = index;" class="d-flex">

                        <p *ngIf="msg.Type == 'text'" class="px-3 py-1 my-1 ml-2 m-0 bg-light you-text"
                          style="border-radius: 16px; word-wrap: break-word; overflow: overlay;"
                          [innerHTML]="msg.content"></p>

                        <div *ngIf="msg.Type == 'image'" class="px-0 py-0 my-1 ml-2 m-0" style="overflow: hidden;">
                          <img class="mw-100 cursor-pointer" (load)="scrollToBottom()"
                            style="object-fit: cover; border-radius: 16px; width: 46%; float: left;" [src]="msg.content"
                            (click)="ngxGallery.openPreview(0)" alt="">
                          <ngx-gallery [options]="galleryOptions"
                            [images]="[{small: msg.content, medium: msg.content, big: msg.content}]" #ngxGallery>
                          </ngx-gallery>
                        </div>
                        <!-- <p *ngIf="msg.Type == 'file'"
                          class="px-3 py-1 w-100 my-1 ml-2 mb-0 bg-light d-flex align-items-center message-file-box"
                          style="border-radius: 16px; word-wrap: break-word;">
                          <i class="far fa-file pr-1 mr-2 rounded-circle text-white" style="font-size: 24px;"></i>
                          <a class="text-dark" href="{{msg?.contentFile}}" (click)="download(msg?.contentFile)"
                            download="{{msg?.content}}"
                            style="word-wrap: break-word; max-width: 100%; padding-right: 30px; overflow: overlay; text-decoration: underline;cursor: pointer;"
                            target="_blank">{{msg?.content}}
                          </a>
                        </p>
                        <div *ngIf="msg.Type == 'location'" (click)="openLocation(msg)"
                          class="border my-1 ml-2 mb-0 bg-light d-flex align-items-center flex-column cursor-pointer"
                          style="border-radius: 16px; width: fit-content; overflow: hidden;">
                          <div class="w-100 bg-white d-flex align-items-center justify-content-center">
                            <i class="fas fa-map-marked-alt text-danger py-4 my-4" style="font-size: 38px;"></i>
                          </div>
                          <small class="mx-3 py-2">
                            {{msg?.content}}
                          </small>
                        </div> -->
                        <!-- <div class="d-flex flex-column justify-content-end align-items-center">
                          <p *ngIf="msg.Type == 'image'"
                            class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer"
                            style="width: 36px; height: 36px; background-color: #f0f2f5;" (click)="downloadImage(msg)">
                            <i class="fas fa-cloud-download-alt" style="color: #707070;"></i>
                          </p>
                          <small class="text-muted ml-2 mb-2" style="white-space: nowrap;">{{msgByTime?.time |
                                                      momentTime}}</small>
                        </div> -->
                      </div>
                    </div>
                    <div class="d-flex align-items-end">
                      <!-- <p *ngIf="msg.Type == 'image'"
                        class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer"
                        style="width: 36px; height: 36px; background-color: #f0f2f5;" (click)="downloadImage(msg)">
                        <i class="fas fa-cloud-download-alt" style="color: #707070;"></i>
                      </p>
                      <small class="text-muted ml-2 mb-2">{{msgByTime?.time | momentTime}}</small> -->
                    </div>

                  </div>
                  <div *ngIf=" msgByTime.isMe && msgByTime?.message.length > 0" class="d-flex justify-content-end ">
                    <div class="d-flex align-items-end position-relative">
                      <div class="d-flex align-items-center mb-2">
                        <!-- <small *ngIf="msg?.totalRead > 0"
                          class="text-muted mr-2">{{'WORKPLUS.SHARED.READ' | translate | customTranslate}}
                          {{msg?.totalRead}}</small>
                        <small class="text-muted mr-2">{{msgByTime?.time | momentTime}}</small> -->
                      </div>
                    </div>
                    <div class="panel-chat">
                      <div class="d-flex align-items-end message-right"
                        *ngFor="let msg of msgByTime.message; let i = index;">

                        <!-- <small *ngIf="msg.IsReceivedRead" class="mb-1 mr-n1" style="z-index: 1;">
                          <i class="fas fa-check-circle ml-1" style="color: var(--app-primary);"></i>
                        </small> -->
                        <p *ngIf="msg.Type == 'text'" [innerHTML]="msg.content"
                          class="px-3 py-1 my-1 ml-0 m-0 text-white me-text w-100"
                          style="border-radius: 16px; background-color: #253cff; max-width: 100%; word-wrap: break-word; overflow: overlay;">
                        </p>


                        <div *ngIf="msg.Type == 'image'" class="px-0 py-0 my-1 ml-2 m-0" style="overflow: hidden;">
                          <img class="mw-100 cursor-pointer" (load)="scrollToBottom()"
                            style="object-fit: cover; border-radius: 16px; width: 46%; float: right;"
                            [src]="msg.content" alt="" (click)="ngxGallery.openPreview(0)">
                          <ngx-gallery [options]="galleryOptions"
                            [images]="[{small: msg.content, medium: msg.content, big: msg.content}]" #ngxGallery>
                          </ngx-gallery>
                        </div>

                        <!-- <div *ngIf="msg.Type == 'location'" (click)="openLocation(msg)"
                          class="border my-1 ml-2 mb-0 bg-light d-flex align-items-center flex-column cursor-pointer"
                          style="border-radius: 16px; width: fit-content; overflow: hidden;">
                          <div class="w-100 bg-white d-flex align-items-center justify-content-center">
                            <i class="fas fa-map-marked-alt text-danger py-4 my-4" style="font-size: 38px;"></i>
                          </div>
                          <small class="mx-3 py-2">
                            {{msg?.content}}
                          </small>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </div>

          </ul>
        </div>
        <div class="chat-message-action">
          <ul *ngIf="chatRoomSelected && chatRoomSelected?.isAccept"
            class="list-group bottom-0 border-top w-100 h-100-w-mobile">
            <li class="list-group-item w-100 d-flex align-items-center justify-content-center py-2 pl-0 border-0">
              <div class="d-flex justify-content-center" style="width: 10%;flex: 1;">

                <!-- <label for="uploadImage" style="color: var(--app-secondary);" class="w-50 d-flex justify-content-end align-items-center mb-0 ml-0"><i class="far fa-file-image cursor-pointer" style="font-size: 28px;"></i></label> -->
                <label (click)="onPreviewImage(); $event.stopPropagation();" style="color: var(--app-secondary);"
                  class="wd-flex justify-content-end align-items-center mb-0 ml-0">
                  <i class="far fa-file-image cursor-pointer" style="font-size: 28px;"></i>
                </label>
              </div>

              <div class="input-message d-flex justify-items-center justify-content-center">
                <div class="input-group">
                  <input type="text" (keydown.enter)="sendMessage('Text', messageStr)" [(ngModel)]="messageText"
                    rows="1" class="border-0 w-100 px-3 py-2"
                    style="background-color: #f0f2f5;resize: none; border-radius: 16px; font-size: 18px;outline: none;"
                    placeholder="Aa" #messageStr />
                </div>
              </div>
              <div (click)="sendMessage('Text', messageStr)" class="d-flex justify-content-center mx-2"
                style="width: 5%; color: var(--app-secondary);"><i
                  class="far fa-paper-plane icon-primary cursor-pointer" style="font-size: 24px;"></i>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
      <ng-template [ngIf]="roomChatType === 2 ||roomChatType === 3 || roomChatType === 4">
        <div class="swicher">
          <li (click)="chatRoomActive(2)" [ngClass]="roomChatType === 2?'active':''">
            {{ "WORKPLUS.CHAT.NOTE" | translate | customTranslate }}
          </li>
          <li (click)="chatRoomActive(3)" [ngClass]="roomChatType === 3?'active':''">
            {{ "WORKPLUS.CHAT.IMAGE" | translate | customTranslate }}
          </li>
          <li (click)="chatRoomActive(4)" [ngClass]="roomChatType === 4?'active':''">
            {{ "WORKPLUS.CHAT.FILE" | translate | customTranslate }}
          </li>
        </div>
        <ng-template [ngIf]="roomChatType === 2">
          <div class="d-flex mt-2" style="flex-direction: column;">
            <div class="px-2 py-2 form-group mb-0 position-relative d-flex align-items-center note-search"
              style="flex: 1;">
              <i class="fas fa-search position-absolute pl-3" style="color: #6F7070;"></i>
              <input type="text" class="form-control pl-5 border-0 py-0" [(ngModel)]="noteSearch"
                style="background-color: #F0F2F5; color: #6F7070; height: 36px;"
                placeholder="{{'WORKPLUS.DIGITAL_CONTACT.SEARCH' | translate | customTranslate}}"
                (change)='onNoteSearch()'>
            </div>

          </div>
          <div class="flex-fit-content">
            <app-chat-note-text *ngFor="let item of fileList" [item]='item' [roomId]='roomId'
              (onFetch)='fetchfileType()'>
            </app-chat-note-text>
            <div class="col-12 p-3 text-center" *ngIf="fileList.length == 0">
              <small> {{ 'WORKPLUS.MY_RESPONSIBILITY.DATA_NOT_FOUND' |
                              translate
                              | customTranslate }}</small>
            </div>
          </div>

        </ng-template>
        <ng-template [ngIf]="roomChatType === 3">
          <div class="flex-fit-content">
            <div class='row p-3 note-body'>
              <div class="col-6 mb-3" *ngFor="let item of fileList">
                <app-chat-note-image [item]='item' (onFetch)='fetchfileType()'></app-chat-note-image>
              </div>
              <div class="col-12 text-center" *ngIf="fileList.length == 0">
                <small> {{ 'WORKPLUS.MY_RESPONSIBILITY.DATA_NOT_FOUND' |
                                  translate
                                  | customTranslate }}</small>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="roomChatType === 4">
          <div class="flex-fit-content">
            <div class='row p-3 note-body'>
              <div class="col-12 " *ngFor="let item of fileList">
                <app-chat-note-file [item]='item' (onFetch)='fetchfileType()'></app-chat-note-file>
              </div>
              <div class="col-12 text-center" *ngIf="fileList.length == 0">
                <small> {{ 'WORKPLUS.MY_RESPONSIBILITY.DATA_NOT_FOUND' |
                                  translate
                                  | customTranslate }}</small>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="roomChatType === 5">
          <div class="flex-fit-content">
            <div class='row p-3 note-body'>
              <div class="col-12 ">

              </div>
              <div class="col-12">

              </div>
            </div>
          </div>
        </ng-template>
        <div class="note-add" (click)="fileAdd()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <input type="file" id="file" *ngIf="roomChatType === 3" (change)="fileChange($event)" accept="image/*" />
          <input type="file" id="file" *ngIf="roomChatType === 4" (change)="fileChange($event)" />
        </div>
      </ng-template>
    </div>
  </div>
</div>
