<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ระดับผู้ใช้งาน</h1>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="row">
      <div class="col-5">
        <table class="css-table table table-boarderBottom">
          <tbody>
            <tr>
              <td style="width: 100px;">
                <p class="pt-1 m-0">
                  ประเภท
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <select class="form-control" (change)="moduleChange($event.target.value)" formControlName="module">
                    <option disabled [ngValue]="null">เลือกประเภท</option>
                    <option value="customer">ลูกค้า</option>
                    <option value="driver">คนขับ</option>
                  </select>
                </div>
                <span class="form-error" *ngIf="!submitted && !module">
                  Please enter module.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 100px;">
                <p class="pt-1 m-0">
                  level
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="text" class="form-control col-12" placeholder="" formControlName="level">

                </div>
                <span class="form-error" *ngIf="!submitted && !level">
                  Please enter level.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 100px;">
                <p class="pt-1 m-0">
                  Star
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-12" placeholder="" formControlName="star">
                </div>
                <span class="form-error" *ngIf="!submitted && !star">
                  Please enter star.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 100px;">
                <p class="pt-1 m-0">
                  ชื่อ (TH)
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="text" class="form-control col-12" placeholder="" formControlName="name_TH">
                </div>
                <span class="form-error" *ngIf="!submitted && !name_TH">
                  Please enter Name TH.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 100px;">
                <p class="pt-1 m-0">
                  Name (EN)
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="text" class="form-control col-12" placeholder="EN" formControlName="name_ENG">
                </div>
                <span class="form-error" *ngIf="!submitted && !name_ENG">
                  Please enter Name EN.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  สถานะ
                  <span class="required">*</span>

                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm px-3">
                  <label class="pure-material-checkbox">
                    <input type="checkbox" class="form-check-input" formControlName="active">
                    <span class="ml-2">Active</span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-7">
        <table class="css-table table table-boarderBottom" *ngIf="module=='customer'">
          <tbody>
            <tr>
              <td style="width: 200px;">
                <p class="pt-1 m-0">
                  จำนวนการเรียกรถ
                </p>
                <p class="pt-1 m-0">
                  (ต่อสัปดาห์)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="customerRequestCarPerWeek">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='customer' && !customerRequestCarPerWeek">
                  Please enter number of request car.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 200px;">
                <p class="pt-1 m-0">
                  จำนวนการเรียกรถ
                </p>
                <p class="pt-1 m-0">
                  (ต่อเดือน)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="customerRequestCarPerMonth">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='customer' && !customerRequestCarPerMonth">
                  Please enter number of request car.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 200px;">
                <p class="pt-1 m-0">
                  จำนวนการยกเลิกงาน
                </p>
                <p class="pt-1 m-0">
                  (ต่อเดือน)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="customerCancelPerMonth">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='customer' && !customerCancelPerMonth">
                  Please enter number of cancel.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 200px;">
                <p class="pt-1 m-0">
                  มูลค่ารวม
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="customerOrderingValuePerMonth">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='customer' && !customerOrderingValuePerMonth">
                  Please enter number of order value.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 200px;">
                <p class="pt-1 m-0">
                  ส่วนลด(%)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="customerDiscount">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='customer' && !customerDiscount">
                  Please enter number of fine value.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 200px;">
                <p class="pt-1 m-0">
                  ค่าปรับ(%)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="customerFine">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='customer' && !customerFine">
                  Please enter number of fine value.
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="css-table table table-boarderBottom" *ngIf="module=='driver'">
          <tbody>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  จำนวนการรับงาน
                </p>
                <p class="pt-1 m-0">
                  (ต่อสัปดาห์)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverAcceptJobPerWeek">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverAcceptJobPerWeek">
                  Please enter number of accept per week.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  จำนวนการรับงาน
                </p>
                <p class="pt-1 m-0">
                  (ต่อเดือน)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverAcceptJobPerMonth">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverAcceptJobPerMonth">
                  Please enter number of accept per month.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  จำนวนการปฏิเสธงาน และยกเลิกงาน
                </p>
                <p class="pt-1 m-0">
                  (ต่อเดือน)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverCancelPerMonth">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverCancelPerMonth">
                  Please enter number of cancel per month.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  จำนวนการปฏิเสธงาน และยกเลิกงาน
                </p>
                <p class="pt-1 m-0">
                  (ต่อปี)
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverCancelPerYear">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverCancelPerMonth">
                  Please enter number of cancel per month.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  ค่าคอมมิชชั่น
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverCommission">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverCommission">
                  Please enter number of commission.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  ส่วนลด
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverDiscount">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverDiscount">
                  Please enter number of commission.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 250px;">
                <p class="pt-1 m-0">
                  ค่าปรับ
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <div class="input-group input-group-sm ">
                  <input type="number" class="form-control col-6" placeholder="" formControlName="driverFine">
                </div>
                <span class="form-error" *ngIf="!submitted && module=='driver' && !driverFine">
                  Please enter number of fine.
                </span>
              </td>
            </tr>
            <!--<tr>
    <td style="width: 250px;" >
      <p class="pt-1 m-0">
        จำนวนการร้องเรียนต่อปี
        <span class="required">*</span>
      </p>
    </td>
    <td>
      <div class="input-group input-group-sm ">
        <input type="number" class="form-control col-6" placeholder="" formControlName="driverComplaintPerYear">
      </div>
      <span class="form-error" *ngIf="!submitted && module=='driver' && !driverComplaintPerYear">
        Please enter number of complaint per month.
      </span>
    </td>
  </tr>-->
            <!--<tr>
    <td style="width: 250px;">
      <p class="pt-1 m-0">
        จำนวนการปฏิเสธงานต่อปี
        <span class="required">*</span>
      </p>
    </td>
    <td>
      <div class="input-group input-group-sm ">
        <input type="number" class="form-control col-6" placeholder="" formControlName="driverRejectPerYear">
      </div>
      <span class="form-error" *ngIf="!submitted && module=='driver' && !driverRejectPerYear">
        Please enter number of reject per month.
      </span>
    </td>
  </tr>-->
            <!--<tr>
    <td style="width: 250px;">
      <p class="pt-1 m-0">
        จำนวนการยกเลิกงานต่อเปี
        <span class="required">*</span>
      </p>
    </td>
    <td>
      <div class="input-group input-group-sm ">
        <input type="number" class="form-control col-6" placeholder="" formControlName="driverCancelPerYear">
      </div>
      <span class="form-error" *ngIf="!submitted && module=='driver' && !driverCancelPerYear">
        Please enter number of cancel per month.
      </span>
    </td>
  </tr>-->
            <!--<tr>
    <td style="width: 200px;">
      <p class="pt-1 m-0">
        มูลค่าประกัน
        <span class="required">*</span>
      </p>
    </td>
    <td>
      <div class="input-group input-group-sm ">
        <input type="number" class="form-control col-6" placeholder="" formControlName="driverInsuranceValue">
      </div>
      <span class="form-error" *ngIf="!submitted && module=='driver' && !driverInsuranceValue">
        Please enter number of insurance value.
      </span>
    </td>
  </tr>-->
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center">
          <h4 class="mb-0">เงื่อนไข</h4>
          <div class="action">
            <div class="btn btn-create">
              <i class="fas fa-plus" (click)="addCondition()"></i>
            </div>
          </div>
        </div>
        <div class="row mt-auto">
          <div class="col-sm-auto">
            <b class="col-sm col-form-label">ลบ</b>
          </div>
          <div class="col-sm-auto">
            <b class="col-sm col-form-label">ลำดับ</b>
          </div>
          <div class="col">
            <b class="col-sm-2 col-form-label">เงื่อนไข</b>
          </div>
          <div class="col">
            <b class="col-sm-2 col-form-label">Characteristics</b>

          </div>
        </div>
        <div *ngFor="let condition of conditions; index as i">
          <div class="row mt-2">
            <div class="col-sm-auto">
              <div class=" btn-delete">
                <i class="fas fa-trash" (click)="onDelete(i)"></i>
              </div>
            </div>
            <div class="col-sm-auto" style="text-align:center">
              <b class="col-sm-auto col-form-label">{{i+1}}</b>
            </div>
            <div class="col">
              <div class="col-sm-12">
                <textarea class="form-control col-12" placeholder="" on-focusout="focusOutFunctionTH($event,i)" value="{{condition.characteristics_TH}}"></textarea>
              </div>
            </div>
            <div class="col">
              <div class="col-sm-12">
                <textarea class="form-control col-12" placeholder="" on-focusout="focusOutFunctionEN($event,i)" value="{{condition.characteristics_ENG}}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align:right">
      <button type="submit" class="btn btn-submit">ยืนยัน</button>
      <button routerLink="/userlevel" type="button" class="btn btn-defualt">ยกเลิก</button>
    </div>
  </form>
</div>


