<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>รายละเอียดรถยนตร์</h1>
      </div>
    </div>
  </div>
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" (keydown.enter)="filter(search)"/>
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/managecarspecification']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
          ประเภทรถ
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'carType'" class=" fas fa-chevron-down" (click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'carType'" class="fas fa-chevron-up" (click)="orderBy('carType')"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'carType'" class="all fas fa-chevron-up" (click)="orderBy('carType')"></i>
        </th>
        <!--<th>รายการรถยนต์
    <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'carList'"  class=" fas fa-chevron-down"(click)="all()"></i>
    <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'carList'" class="fas fa-chevron-up"(click)="orderBy('carList')"></i>
    <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'carList'"  class="all fas fa-chevron-up"(click)="orderBy('carList')"></i>
  </th>-->
        <th>
          ชื่อ (ไทย)
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'name_TH'" class=" fas fa-chevron-down" (click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up" (click)="orderBy('name_TH')"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'name_TH'" class="all fas fa-chevron-up" (click)="orderBy('name_TH')"></i>
        </th>
        <th>
          Name (EN)
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'name_ENG'" class=" fas fa-chevron-down" (click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'name_ENG'" class="fas fa-chevron-up" (click)="orderBy('name_ENG')"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'name_ENG'" class="all fas fa-chevron-up" (click)="orderBy('name_ENG')"></i>
        </th>
        <th>
          ลำดับ
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'sequence'" class=" fas fa-chevron-down" (click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'sequence'" class="fas fa-chevron-up" (click)="orderBy('sequence')"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'sequence'" class="all fas fa-chevron-up" (click)="orderBy('sequence')"></i>
        </th>
        <th>
          วันที่สร้าง
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'created'" class=" fas fa-chevron-down" (click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up" (click)="orderBy('created')"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'created'" class="all fas fa-chevron-up" (click)="orderBy('created')"></i>
        </th>
        <th>
          วันที่แก้ไขล่าสุด
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'modified'" class=" fas fa-chevron-down" (click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'modified'" class="fas fa-chevron-up" (click)="orderBy('modified')"></i>
          <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'modified'" class="all fas fa-chevron-up" (click)="orderBy('modified')"></i>
        </th>
        <th>Active</th>
        <!--<th>ระบุรายละเอียด</th>-->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    
        <!-- {{a[0].name_TH}} -->
      <tr *ngFor="let carspecification of carspecifications.data">
        <td>{{carspecification.carType}}</td>
        <!--<td>{{carspecification.carList}}</td>-->
        <td>{{carspecification.name_TH}}</td>
        <td>{{carspecification.name_ENG}}</td>
        <td>{{carspecification.sequence}}</td>
        <td>{{carspecification.created | date}}</td>
        <td>{{carspecification.modified | date}}</td>
        <td>
          <div class="input-group input-group-sm ">
            <label class="pure-material-checkbox">
              <p *ngIf="carspecification.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
            </label>
          </div>
        </td>
        <!--<td>
   <div class="input-group input-group-sm ">
     <label class="pure-material-checkbox">
       <p *ngIf="carspecification.specified === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
     </label>
   </div>
  </td>-->

        <td class="d-flex">
          <div class=" btn-edit" routerLink="/managecarspecification/{{carspecification.id}}">
            <i class="fas fa-edit"></i>
          </div>
          <div class=" btn-delete">
            <i class="fas fa-trash" (click)="onDelete(carspecification.id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page-footer my-3">
  <app-table-pagination [count]="carspecifications.itemCount" [page]="carspecifications.pageNumber" [limit]="carspecifications.pageSize"
    (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
  </app-table-pagination>
</div>
</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
