<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>การจัดการสิทธิเเอดมิน</h4>
      </div>
    </div>
  </div>
</section>
<div class="page-body">
  <div class="row mb-3">
    <div class="col-sm-2 col-form-label">
      <p style="color: #0264b1;">ชื่อบทบาท<span style="color: red;">*</span></p>
    </div>
    <div class="col-sm">
      <input type="text" *ngIf="Id === '1'|| Id === '2'|| Id === '7'|| Id === '9';else non " class="form-control"
        disabled [(ngModel)]="Name">
    </div>
  </div>

  <div class="mb-3">

    <div class="row">
      <div class="col-2">
        <p style="color: #0264b1;">การอนุญาติ<span style="color: red;">*</span></p>
      </div>
      <div class="col">
        <div class="mb-3" *ngFor="let m of permission" >
          <div style="margin-right: 10rem;"> <b class=" col-form-label">{{m.menuName}}</b></div>
          <div class="mx-4" *ngFor="let p of m.roleMenuPermission">
            <input class="form-check-input" [(ngModel)]="p.is_Check" (change)="changeSelection()" type="checkbox"
              id="inlineCheckbox1" value="option1">
            <b>{{p.permission| splitLast}}</b>
          </div>

        </div>
      </div>
    </div>


    <div class="row justify-content-end">
      <button type="submit" class="btn btn-submit mx-2" (click)="onSubmit()">ยืนยัน</button>
      <a routerLink="/permission" class="btn cancel" style="margin-right: 5px">ยกเลิก</a>
    </div>

  </div>
  <ng-template #non><input type="text" class="form-control" [(ngModel)]="Name"></ng-template>