<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ข้อมูลลงทะเบียน</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">ข้อมูลลงทะเบียน</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" (keydown.enter)="filter(search)" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/manageregisterinformation']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            โมดูล
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'module'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up" (click)="orderBy('module')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'module'" class="all fas fa-chevron-up" (click)="orderBy('module')"></i>
          </th>
          <th>
            หัวเรื่อง (TH)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'title_TH'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'title_TH'" class="fas fa-chevron-up" (click)="orderBy('title_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'title_TH'" class="all fas fa-chevron-up" (click)="orderBy('title_TH')"></i>
          </th>
          <!--<th>
            ข้อความ (TH)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'information_TH'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'information_TH'" class="fas fa-chevron-up" (click)="orderBy('information_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'information_TH'" class="all fas fa-chevron-up" (click)="orderBy('information_TH')"></i>
          </th>-->
          <th>
            Title (ENG)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'title_ENG'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'title_ENG'" class="fas fa-chevron-up" (click)="orderBy('title_ENG')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'title_ENG'" class="all fas fa-chevron-up" (click)="orderBy('title_TH')"></i>
          </th>
          <!--<th>
            Information (ENG)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'information_ENG'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'information_ENG'" class="fas fa-chevron-up" (click)="orderBy('information_ENG')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'information_ENG'" class="all fas fa-chevron-up" (click)="orderBy('information_ENG')"></i>
          </th>-->
          <th>
            วันที่สร้าง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'created'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up" (click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'created'" class="all fas fa-chevron-up" (click)="orderBy('created')"></i>
          </th>
          <th>
            วันที่แก้ไขล่าสุด
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'modified'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'modified'" class="fas fa-chevron-up" (click)="orderBy('modified')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'modified'" class="all fas fa-chevron-up" (click)="orderBy('modified')"></i>
          </th>
          <th>
            ลำดับ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'sequence'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'sequence'" class="fas fa-chevron-up" (click)="orderBy('sequence')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'sequence'" class="all fas fa-chevron-up" (click)="orderBy('sequence')"></i>
          </th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registerinformation of registerinformations.data">
          <td>{{registerinformation.module}}</td>
          <td>{{registerinformation.title_TH}}</td>
          <!--<td>{{registerinformation.information_TH}}</td>-->
          <td>{{registerinformation.title_ENG}}</td>
          <!--<td>{{registerinformation.information_ENG}}</td>-->
        <td>{{registerinformation.created | date}}</td>
        <td>{{registerinformation.modified | date}}</td>
        <td>{{registerinformation.sequence}}</td>
          <td>
            <div class="input-group input-group-sm ">
              <label class="pure-material-checkbox">
                <p *ngIf="registerinformation.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
              </label>
            </div>
          </td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/manageregisterinformation/{{registerinformation.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(registerinformation.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page-footer my-3">
    <app-table-pagination [count]="registerinformations.itemCount" [page]="registerinformations.pageNumber" [limit]="registerinformations.pageSize"
                          (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
