<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>คำถามที่พบบ่อย</h4>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="page-body">

    <div class="col-12 text-right mt-3 mb-3">
        <div class="btn btn-submit" (click)="addform()">
            <i class="fas fa-plus"></i> เพิ่ม
        </div>
    </div>
    <div *ngFor="let item of form; let i=index ">

        <div class="mt-3" style="background-color: rgb(216, 216, 216); padding:8px 5px; border-radius: 10px;">
            <div class="form-group mt-3">
                <div class="table-action">
                    <div class="search">
                        <label class="pure-material-checkbox">
                            <span class="ml-2">คำถาม</span>
                            <span class="required">*</span>
                            <input type="checkbox" class="ml-2" name="active{{i}}" [(ngModel)]="item.active">
                            <span class="ml-2">เปิดใช้งาน</span>
                        </label>
                    </div>

                </div>

                <div class="mb-2">
                    <p for="inputEmail3" class="col-sm-2 col-form-label">ประเภท<span class="required">*</span></p>
                    <div class="col-sm-12">
                        <select class="form-control" name="module{{i}}" [(ngModel)]="item.module" >
                            <option  [ngValue]="null" disabled>Select Module</option>
                            <option value="customer">customer</option>
                            <option value="driver">driver</option>
                        </select>
                        <span class="form-error" *ngIf="submitted && !module">
                            Please select module.
                        </span>
                    </div>
                </div>

                <div class="mb-2">
                    <p for="inputEmail3" class="col-sm-2 col-form-label">คำถาม<span class="required">*</span></p>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="title_TH{{i}}"  [(ngModel)]="item.title_TH">
                        <span class="form-error" *ngIf="submitted && !title_TH">
                            Please enter title.
                        </span>
                    </div>
                </div>

                <div class="mb-2">
                    <p for="inputEmail3" class="col-sm-2 col-form-label">คำตอบ<span class="required">*</span></p>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="detail_TH{{i}}" [(ngModel)]="item.detail_TH">
                        <span class="form-error" *ngIf="submitted && !detail_TH">
                            Please enter detail.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 text-right mt-3">
        <button type="submit" (click)="createFAQ()" class="btn btn-submit">ยืนยัน</button>
        <button routerLink="/FAQ" type="button" class="btn btn-defualt">ยกเลิก</button>
    </div>
</div>