<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>สถานะยกเลิก</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">สถานะยกเลิก</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
    <div class="page-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <table class="css-table table table-boarderBottom">
            <tbody>
              <tr>
                <td style="width: 100px;">
                  <p class="pt-1 m-0">
                    ประเภท
                    <span class="required">*</span>
                  </p>
                </td>
                <td colspan="4">                
                    <div class="input-group input-group-sm ">
                      <input type="text" class="form-control col-6" placeholder="TH"  formControlName="module" [ngClass]="{ 'is-invalid': submitted && formControls.module.errors }" >
                    </div>       
                </td>
              </tr>
              <tr>
                <td style="width: 100px;">
                  <p class="pt-1 m-0">
                    ชื่อ (TH)
                    <span class="required">*</span>
                  </p>
                </td>
                <td colspan="4">
                  <div class="input-group input-group-sm ">
                    <input type="text" class="form-control col-6" placeholder="TH"  formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }" >
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 100px;">
                  <p class="pt-1 m-0">
                    Name (EN)
                    <span class="required">*</span>
                  </p>
                </td>
                <td colspan="4">
                  <div class="input-group input-group-sm ">
                    <input type="text" class="form-control col-6"  placeholder="EN"  formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }" >
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 100px;">
                  <p class="pt-1 m-0">
                    ลำดับ
                    <span class="required">*</span>
                  </p>
                </td>
                <td colspan="4">
                  <div class="input-group input-group-sm ">
                    <input type="number" class="form-control col-6" placeholder=""  formControlName="sequence" [ngClass]="{ 'is-invalid': submitted && formControls.level.errors }" >
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 140px;">
                  <p class="pt-1 m-0">
                    สถานะ
                    <span class="required">*</span>
        
                  </p>
                </td>
                <td colspan="4">
                  <div class="input-group input-group-sm px-3">
                    <label class="pure-material-checkbox">
                      <input type="checkbox" class="form-check-input" formControlName="active">
                      <span class="ml-2">Active</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
        
            </table>
          
      
          <div style="text-align:right">
            <button type="submit" class="btn btn-submit" >ยืนยัน</button>
            <button routerLink="/orderingcancelstatus" type="button" class="btn btn-defualt" >ยกเลิก</button>
          </div>
        </form>
      </div>
    