<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ประเภทนิติบุคคล</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" (keydown.enter)="filter(search)" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/managecorporatetype']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            ประเภท (TH)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'type_TH'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'type_TH'" class="fas fa-chevron-up" (click)="orderByType('type_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'type_TH'" class="all fas fa-chevron-up" (click)="orderByType('type_TH')"></i>
          </th>
          <th>
            Type (EN)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'type_ENG'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'type_ENG'" class="fas fa-chevron-up" (click)="orderByType('type_ENG')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'type_ENG'" class="all fas fa-chevron-up" (click)="orderByType('type_ENG')"></i>
          </th>
          <th>
            วันที่สร้าง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'created'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up" (click)="orderByDate('created')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'created'" class="all fas fa-chevron-up" (click)="orderByDate('created')"></i>
          </th>
          <th>
            วันที่แก้ไขล่าสุด
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'modified'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'modified'" class="fas fa-chevron-up" (click)="orderByDate('modified')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'modified'" class="all fas fa-chevron-up" (click)="orderByDate('modified')"></i>
          </th>
          <!--<th>
    ลำดับ
    <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'sequence'" class=" fas fa-chevron-down" (click)="all()"></i>
    <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'sequence'" class="fas fa-chevron-up" (click)="orderBySequence('sequence')"></i>
    <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'sequence'" class="all fas fa-chevron-up" (click)="orderBySequence('sequence')"></i>
  </th>-->
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let corporatetype of corporatetypes.data">
          <td>{{corporatetype.name_TH}}</td>
          <td>{{corporatetype.name_ENG}}</td>
          <td>{{corporatetype.created | date}}</td>
          <td>{{corporatetype.modified | date}}</td>
          <!--<td>{{corporatetype.sequence}}</td>-->
          <td>
            <div class="input-group input-group-sm ">
              <label class="pure-material-checkbox">
                <p *ngIf="corporatetype.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
              </label>
            </div>
          </td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/managecorporatetype/{{corporatetype.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(corporatetype.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page-footer my-3">
    <app-table-pagination [count]="corporatetypes.itemCount" [page]="corporatetypes.pageNumber" [limit]="corporatetypes.pageSize"
                          (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
