<div class="page-container">
  <div class="page-warp px-0">
    <div class="page-content">
      <h3>ประกาศ - แก้ไข</h3>
    </div>
  </div>
  <!-- <form [formGroup]="form" focusInvalidInput [formGroup]="form" (ngSubmit)="save($event)" class="p-4"> -->
  <div class="page-body">
    <table class="css-table table table-boarderBottom">
      <tbody>
        <tr>
          <td style="width: 140px;">
            <p class="pt-1 m-0">
              หัวเรื่อง
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input class="form-control" [(ngModel)]="form.title">
            </div>
            <span class="form-error" *ngIf="isFormSubmit && !form.title">
              Please enter title.
            </span>
          </td>
        </tr>
        <tr>
          <td style="width: 140px;">
            <p class="pt-1 m-0">
              รายละเอียด
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <angular-editor class="w-100" [config]="editorConfig" [placeholder]="'Enter text here...'"
                [(ngModel)]="form.detail">
              </angular-editor>
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              รูปภาพ
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="file" accept="image/*" class="custom-file-input" name="image" id="image" aria-label="Small"
                required (change)="handleFileInput('image',$event.target.files)">
              <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
                style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
              <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
            </div>
            <div class="image-preview mt-3" *ngIf="image">
              <img class="w-100" [src]="image" alt="" />
            </div>
            <span class="form-error" *ngIf="isFormSubmit && !form.image">
              Please enter image.
            </span>
          </td>
        </tr>
        <tr>
          <td class="">
            <p class="pt-1 m-0">
              วันที่เริ่ม
              <span class="required">*</span>
            </p>
          </td>
          <td>

            <ngx-datepicker class="w-100" [(ngModel)]="form.start_date" [options]="options"></ngx-datepicker>

            <!-- <input type="date" class="form-control" format="dd/MM/yyyy" placeholder="DD/MM/YYYY" [(ngModel)]="form.start_date"> -->
          </td>
          <td class="">
            <p class="pt-1 m-0">
              วันที่สิ้นสุด
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <ngx-datepicker class="w-100" [(ngModel)]="form.end_date" [options]="options"></ngx-datepicker>

          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              เวลาเริ่ม
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <input type="time" class="form-control" value="08:00:00" [(ngModel)]="form.start_time">
          </td>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              เวลาสิ้นสุด
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <input type="time" format="24" class="form-control" value="23:59" [(ngModel)]="form.end_time">
          </td>
        </tr>


        <tr>
          <td style="width: 140px;">
            <p class="pt-1 m-0">
              URL
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="text" class="form-control" [(ngModel)]="form.url">
            </div>
          </td>
        </tr>

        <tr>
          <td style="width: 140px;">
            <p class="pt-1 m-0">
              สถานะ
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <label class="pure-material-checkbox">
                <input type="checkbox" formControlName="status" [(ngModel)]="form.is_active" checked>
                <span class="ml-2">เปิดใช้งาน</span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="p-3 config-news">

              <table class="css-table  table-boarderBottom w-100">
                <tbody>
                  <tr>
                    <td class="" style="width: 130px;">
                      <p class="pt-1 m-0">
                        กลุ่มเป้าหมาย
                        <span class="required">*</span>
                      </p>
                    </td>
                    <td>
                      <div class="form-check">
                        <label class="pure-material-checkbox">
                          <input type="checkbox" checked (change)="targetChange()" [(ngModel)]="form.is_all">
                          <span class="ml-2">ทั้งหมด</span>
                        </label>
                      </div>
                      <div *ngIf="!form.is_all" class="pl-4">
                        <br />
                        <div class="form-group mb-4">
                          <label class="control-label col-md-3">
                            ลูกค้า
                          </label>
                          <div class="col-12">
                            <select class="form-control select2 w-100" [(ngModel)]="form.target_customer">
                              <option value="">เลือกเป้าหมาย</option>
                              <option value="personal">บุคคลทั่วไป</option>
                              <option value="corporate">นิติบุคคล</option>
                            </select>

                          </div>
                        </div>

                        <div class="form-group mb-4">
                          <label class="control-label col-md-3">
                            คนขับรถ
                          </label>
                          <div class="col-12">
                            <select class="form-control select2 w-100" [(ngModel)]="form.target_driver">
                              <option value="">เลือกเป้าหมาย</option>
                              <option value="personal">บุคคลทั่วไป</option>
                              <option value="corporate">นิติบุคคล</option>
                            </select>

                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-actions">
      <div class="row">
        <div class="col-12 text-right">
          <button type="submit" class="btn btn-submit" (click)="save()">ยืนยัน</button>
          <button type="button" class="btn btn-defualt" (click)="back()">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
  <!-- </form> -->
</div>
