<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>เขต/อำเภอ</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">เขต/อำเภอ</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="col-md-6">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="form-group">
        <label for="name_TH">จังหวัด</label>
        <select class="form-control" formControlName="provinceId" [ngClass]="{ 'is-invalid': submitted && formControls.provinceId.errors }">
          <option value="">Select Province</option>
          <option *ngFor="let province of provinces" [ngValue]="province.id">{{province.name_TH}}</option>
          <option *ngIf="provinces === null || undefined" value="">No Data Province</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name_TH">ชื่อ (TH)</label>
        <input type="text" class="form-control" placeholder="TH" value="" formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }">
      </div>
      <div class="form-group">
        <label for="name_ENG">Name (EN)</label>
        <input type="text" class="form-control" placeholder="EN" value="" formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="active">
        <label class="form-check-label" for="exampleActive">Active</label>
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer" style="text-align:right">
      <a routerLink="/district" class="btn btn-danger" style="margin-right: 5px">Cancel</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
