.recent-app {
    height: 163px;
    margin-bottom: 40px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.recent-tab {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.HLDisplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img-100 {
    width: 100%;
}

.highlight-bg1 {
    position: absolute;
    width: 100%;
    height: 120px !important;
    margin: auto;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.highlight-bg2 {
    position: absolute;
    width: 100%;
    height: 75%;
    margin: auto;
    bottom: 0;
    left: 0;
}

.news-title {
    margin: 0px 10px 0px 10px !important;
    line-height: 0.9;
    position: relative;
    top: 57%;
    color: white;
}

.preview-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    height: 26px;
    overflow: hidden;
}

.news-time {
    margin: 0;
    font-size: 8px;
    margin-top: -5px;
}

.news-time span {
    font-size: 8px;
}

.news-time img {
    width: 8px !important;
    height: 10px !important;
}

.recent-app-title {
    margin: 6px 8px 0px 11px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.9rem;
}

.smartphone {
    position: relative;
    width: 344px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    overflow: hidden;
    overflow-y: hidden;
}

.preview {
    position: sticky;
    top: 10%;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    padding-bottom: 16px;
}

.recent-app-title {
    margin: 6px 8px 0px 11px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.icon-toolbar {
    margin-bottom: 4px;
    margin-top: 7px;
    color: #ffffff;
    margin-right: 8px;
    margin-left: 4px;
    padding: 2px 12px;
    border-radius: 14px;
    font-size: 10px !important;
    text-align: right;
    width: fit-content;
    background: #00a0fa;
    float: right;
}

.row-custom {
    position: absolute;
    top: 33px;
    left: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: 100%;
}

.service-image-box {
    width: 100%;
    margin: auto;
    max-width: 80px;
    text-align: center;
}

.service-name {
    text-align: center;
    margin-top: 6px;
    white-space: normal;
    font-size: 8px;
    color: white;
}

.service-image {
    width: 60%;
    margin: auto;
}

.tab {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    margin: auto;
    border-radius: 10px;
    background: #f1f1f100;
    color: #828282;
}

.panels {
    background: #fff;
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel-tab {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold;
}

.radio {
    display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
    display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
    background: #13c6b4d1;
    color: #fff;
    border: solid 1px #dcdcdc;
    transition: 0.5s;
}

.tabs {
    text-align: center;
}

.title-preview {
    font-weight: bold;
    font-size: 14px;
    margin-top: 1px;
    color: #000;
    margin-bottom: 0;
}

.news-option {
    padding: 0 16px;
}

.news-visibility {
    display: inline-block;
    position: absolute;
    right: 0px;
    text-align: right;
    margin-top: -5px;
    margin-right: 16px;
    color: grey;
    font-size: 12px;
}

.badge {
    background: #00a0fa;
    color: #ffffff;
    padding: 3px 8px !important;
    border-radius: 14px;
    font-size: 10px;
}

.ImageDisplay {
    margin-top: 15px;
}

.description {
    padding: 16px;
    color: #222;
    font-size: 12px;
}

.description p {
    font-size: 12px;
    margin: 0;
}

.div-iframe {
    width: 100%;
    height: 36%;
}

.description {
}

.d-web {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 69%;
    width: 100%;
}

.d-download {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 69%;
    width: 100%;
}

.discover-gd {
    width: 100%;
    height: 345px;
    position: absolute;
    background: #8705f0;
    background: linear-gradient(45deg, #2b42bf 30%, #663ab6 100%);
    margin-top: -45px;
}

.discover-gd svg {
    position: absolute;
    bottom: 0;
    width: calc(100% + 2px);
    height: 111px;
}

.card-infos .highlight-bg2 {
    position: absolute;
    width: 100%;
    height: 22%;
    margin: auto;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.t-default {
    width: 20px;
    height: 20px;
    background: #5f2791;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 2px;
    transform: translateY(-50px);
    cursor: pointer;
}

.t-dark {
    width: 20px;
    height: 20px;
    background: linear-gradient(125deg, rgb(99, 219, 237) 50%, rgb(0, 0, 0) 50%);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 2px;
    transform: translateY(0);
    cursor: pointer;
}

.t-light {
    width: 20px;
    height: 20px;
    background: linear-gradient(125deg, rgb(99, 219, 237) 50%, rgba(255, 255, 255, 1) 50%);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 2px;
    transform: translateY(50px);
    cursor: pointer;
}

.card-infos {
    width: 73%;
    height: 307px;
    overflow: hidden;
    margin: auto;
    border-radius: 13px;
    margin-top: 28px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 7%;
    box-shadow: 0 0 10px #00000026;
}

.recent-app {
    height: 127px;
    margin-bottom: 40px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-infos .news-title {
    top: 79%;
}

@media only screen and (max-width: 1366px) {
    .smartphone {
        width: 281px;
        height: 569px;
    }

    .preview {
        top: 5%;
    }

    .t-default {
        left: -20px;
    }

    .t-light {
        left: -20px;
    }

    .t-dark {
        left: -20px;
    }

    .discover-gd {
        height: 242px;
    }

    .card-infos {
        width: 73%;
        height: 255px;
    }

    .recent-app-title {
        font-size: 12px;
    }

    .service-name {
        font-size: 8px;
    }

    .service-box {
        padding-right: 3px;
        padding-left: 3px;
    }

    .recent-app {
        height: 111px;
    }

    .card-infos .news-title {
        top: 196px;
    }

    .preview-title {
        font-size: 8px;
    }

    .news-time span {
        font-size: 7px;
    }

    .card-infos .highlight-bg2 {
        height: 29%;
    }

    .service-image {
        width: 45%;
    }

    .icon-toolbar {
        font-size: 8px !important;
    }
}
.top {
    position: relative;
    .title {
        position: absolute;
        top: 52%;
        left: 12px;
        min-height: 12px;
        width: 233px;
        font-size: 17px;
        margin: auto;
    }
}
.mid {
    position: relative;
    height: 170px;
    background: #fd7423;

    .title {
        position: absolute;
        bottom: 0;
        color: white;
        top: 121px;
        left: 6px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }
    .news {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 6px;
    }
    .view {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 6px;
    }
}
