<div class="page-container">
  <div class="page-warp px-0">
    <div class="page-content">
      <h3>ข่าวสาร - สร้าง</h3>
    </div>
  </div>
  <!-- <form [formGroup]="form" focusInvalidInput [formGroup]="form" (ngSubmit)="save($event)" class="p-4"> -->
  <div class="row page-body">
    <div class="col-lg-8 col-md-9 ">
      <div class="">
        <table class="css-table table table-boarderBottom">
          <tbody>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  หัวเรื่อง
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input class="form-control" [(ngModel)]="form.title">
                </div>
                <span class="form-error" *ngIf="isFormSubmit && !form.title">
                  Please enter title.
                </span>
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  รายละเอียด
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <angular-editor class="w-100" [config]="editorConfig" [placeholder]="'Enter text here...'"
                    [(ngModel)]="form.detail">
                  </angular-editor>
                </div>
              </td>
            </tr>
            <tr>
              <td class="" style="width: 130px;">
                <p class="pt-1 m-0">
                  รูปภาพ
                  <span class="required">*</span>
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="file" accept="image/*" class="custom-file-input" name="image" id="image"
                    aria-label="Small" required (change)="handleFileInput('image',$event.target.files,$event)">
                  <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
                    style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
                  <label class="custom-file-label" for="inputGroupFile04">
                    <div *ngIf="!form.image">Choose File</div>
                    <div *ngIf="form.image">{{form.image.name}}</div>
                  </label>
                </div>
                <div class="image-preview" *ngIf="image">
                  <img class="w-100" [src]="image" alt="" />
                </div>
                <small>Recomment image resolution 1366 x 768 Pixel (Width x Height) and Size not more than 300
                  mb.</small>
                <span class="form-error" *ngIf="isFormSubmit && !form.image">
                  Please enter image.
                </span>
              </td>
            </tr>
            <tr>
              <td class="">
                <p class="pt-1 m-0">
                  วันที่เริ่ม
                  <span class="required">*</span>
                </p>
              </td>
              <td>


                <ngx-datepicker class="w-100" [(ngModel)]="form.start_date" [options]="options"></ngx-datepicker>

                <!-- <input type="date" class="form-control" format="dd/MM/yyyy" placeholder="DD/MM/YYYY" [(ngModel)]="form.start_date"> -->
              </td>
              <td class="">
                <p class="pt-1 m-0">
                  วันที่สิ้นสุด
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <ngx-datepicker class="w-100" [(ngModel)]="form.end_date" [options]="options"></ngx-datepicker>

              </td>
            </tr>
            <tr>
              <td class="" style="width: 130px;">
                <p class="pt-1 m-0">
                  เวลาเริ่ม
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <input type="time" class="form-control" value="08:00:00" [(ngModel)]="form.start_time">
              </td>
              <td class="" style="width: 130px;">
                <p class="pt-1 m-0">
                  เวลาสิ้นสุด
                  <span class="required">*</span>
                </p>
              </td>
              <td>
                <input type="time" format="24" class="form-control" value="23:59" [(ngModel)]="form.end_time">
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  ไฟล์แนบ
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="file" class="custom-file-input" name="file" id="file" aria-label="Small"
                    (change)="handleFileInput('file',$event.target.files)" required>
                  <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
                    style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
                  <label class="custom-file-label" for="inputGroupFile04">
                    <div *ngIf="!form.file">Choose File</div>
                    <div *ngIf="form.file">{{form.file.name}}</div>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  ไฟล์แนบวีดีโอ
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="file" accept="video/avi, video/mp4" class="custom-file-input" name="vidoe" id="vidoe"
                    aria-label="Small" (change)="handleFileInput('video',$event.target.files)" required>
                  <i id="file-close" class="fa fa-times d-none" aria-hidden="true"
                    style="font-size: 18px; position: absolute; z-index: 99; right: 76px; top: 50%; transform: translateY(-50%);"></i>
                  <label class="custom-file-label" for="inputGroupFile04">
                    <div *ngIf="!form.video">Choose File</div>
                    <div *ngIf="form.video">{{form.video.name}}</div>
                  </label>
                </div>
                <small> Your video size should be 300 mb and support .avi .mp4</small>
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  URL
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="text" class="form-control" [(ngModel)]="form.url">
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  URL Video
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input type="text" class="form-control" [(ngModel)]="form.url_video">
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 140px;">
                <p class="pt-1 m-0">
                  สถานะ
                </p>
              </td>
              <td colspan="4">
                <div class="input-group input-group-sm ">
                  <label class="pure-material-checkbox">
                    <input type="checkbox" formControlName="status" [(ngModel)]="form.is_active" checked>
                    <span class="ml-2">เปิดใช้งาน</span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="p-3 config-news">

                  <table class="css-table  table-boarderBottom w-100">
                    <tbody>
                      <tr>
                        <td class="" style="width: 130px;">
                          <p class="pt-1 m-0">
                            การแจ้งเตือน
                          </p>
                        </td>
                        <td>
                          <div class="form-check">
                            <label class="pure-material-checkbox">
                              <input type="checkbox" [(ngModel)]="form.is_noti">
                              <span class="ml-2">แจ้งเตือน</span>
                            </label>

                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="" style="width: 130px;">
                          <p class="pt-1 m-0">
                            กลุ่มเป้าหมาย
                            <span class="required">*</span>
                          </p>
                        </td>
                        <td>
                          <div class="form-check">
                            <label class="pure-material-checkbox">
                              <input type="checkbox" checked (change)="targetChange()" [(ngModel)]="form.is_all">
                              <span class="ml-2">ทั้งหมด</span>
                            </label>
                          </div>
                          <div *ngIf="!form.is_all" class="pl-4">
                            <br />
                            <div class="form-group mb-4">
                              <label class="control-label col-md-3">
                                ลูกค้า
                              </label>
                              <div class="col-12">
                                <select class="form-control select2 w-100" [(ngModel)]="form.target_customer">
                                  <option value="">เลือกเป้าหมาย</option>
                                  <option value="personal,corporate">ทั้งหมด</option>
                                  <option value="personal">บุคคลทั่วไป</option>
                                  <option value="corporate">นิติบุคคล</option>
                                </select>

                              </div>
                            </div>

                            <div class="form-group mb-4">
                              <label class="control-label col-md-3">
                                คนขับรถ
                              </label>
                              <div class="col-12">
                                <select class="form-control select2 w-100" [(ngModel)]="form.target_driver">
                                  <option value="">เลือกเป้าหมาย</option>
                                  <option value="personal,corporate">ทั้งหมด</option>
                                  <option value="personal">บุคคลทั่วไป</option>
                                  <option value="corporate">นิติบุคคล</option>
                                </select>

                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="" style="width: 130px;">
                          <p class="pt-1 m-0">
                            ไฮท์ไลท์
                          </p>
                        </td>

                        <td>
                          <label class="pure-material-checkbox">
                            <input type="checkbox" id="hl" [(ngModel)]="form.is_hl">
                            <span class="ml-2">ต้องการ</span>
                          </label>
                          <div *ngIf="form.is_hl" class="pl-4 row">
                            <br />
                            <div class="form-group mb-4 col-6">
                              <label class="control-label col-md-3">
                                วันที่เริ่ม
                              </label>
                              <div class="col-12">

                                <ngx-datepicker class="w-100" [(ngModel)]="form.hl_start_date" [options]="options">
                                </ngx-datepicker>
                              </div>
                            </div>

                            <div class="form-group mb-4 col-6">
                              <label class="control-label col-md-3">
                                วันที่สิ้นสุด
                              </label>
                              <div class="col-12">

                                <ngx-datepicker class="w-100" [(ngModel)]="form.hl_end_date" [options]="options">
                                </ngx-datepicker>
                              </div>
                            </div>
                            <div class="form-group mb-4 col-6">
                              <label class="control-label col-md-3">
                                เวลาเริ่ม
                              </label>
                              <div class="col-12">

                                <input type="time" class="form-control" value="08:00:00"
                                  [(ngModel)]="form.hl_start_time">
                              </div>
                            </div>

                            <div class="form-group mb-4 col-6">
                              <label class="control-label col-md-3">
                                เวลาสิ้นสุด
                              </label>
                              <div class="col-12">

                                <input type="time" class="form-control" value="08:00:00" [(ngModel)]="form.hl_end_time">
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="" style="width: 130px;">
                          <p class="pt-1 m-0">
                            ผู้เข้าชม
                          </p>
                        </td>
                        <td>
                          <label class="pure-material-checkbox">
                            <input type="checkbox" id="hl" [(ngModel)]="form.is_guest">
                            <span class="ml-2">ต้องการ</span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="form-actions">
          <div class="row">
            <div class="col-12 text-right">
              <button type="submit" class="btn btn-submit" (click)="save()">ยืนยัน</button>
              <button type="button" class="btn btn-defualt" (click)="back()">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 ">
      <div class="preview d-lg-block d-xs-none ">

        <div class="warpper">
          <input class="radio" id="one" name="group" type="radio" checked>
          <input class="radio" id="two" name="group" type="radio">
          <div class="tabs">
            <label class="tab" id="one-tab" for="one">Highlight</label>
            <label class="tab" id="two-tab" for="two">Detail</label>
          </div>

          <div class="panels">
            <div class="panel-tab" id="one-panel">
              <div class="smartphone">
                <div id="limited-theme" class="content">

                  <div class="top">
                    <img class="w-100" src="./assets/images/preview/top.jpg" />
                  </div>
                  <div class="mid">
                    <img class="w-100" [src]="image" />
                    <div class="title">
                      {{form.title}}
                    </div>
                    <img class="view" src="./assets/images/preview/view.png" />
                    <img class="news" src="./assets/images/preview/ข่าวสาร.png" />
                  </div>
                  <div class="bottom">
                    <img class="w-100" src="./assets/images/preview/bottom.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-tab " id="two-panel">
              <div class="smartphone">
                <div class="top">
                  <img class="w-100" src="./assets/images/preview/top_detail.jpg" alt="">
                  <div class="title">
                    {{form.title}}
                  </div>
                </div>
                <img class="w-100" [src]="image" />
                <div class="p-3 detail" [innerHtml]="form.detail">

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- </form> -->
</div>
