

<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>ความเป็นส่วนตัว </h4>
        </div>    
      </div>
    </div>
  </section>
  
  <div class="page-body">
    <div class="table-action" style="color: #0264b1;">
        Personal Privacy
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/managepersonalprivacy']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
    <div class="table-body">
        <table id="example1" class="table table-hover table-bordered table-striped">      
        <thead>
        <tr>
          <th>เวอร์ชัน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'version'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'version'" class="fas fa-chevron-up"(click)="orderBy('version')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'version'"  class="all fas fa-chevron-up"(click)="orderBy('version')"></i>
          </th>
          <th>รายละเอียด
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name_TH'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name_TH'"  class="all fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
          </th>
          <th>วันที่สร้าง
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th>สร้างโดย
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'createdBy'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'createdBy'" class="fas fa-chevron-up"(click)="orderBy('createdBy')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'createdBy'"  class="all fas fa-chevron-up"(click)="orderBy('createdBy')"></i>
          </th>
          <th>สาธารณะ</th>
          <th></th>
  
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let personalprivacy of personalprivacys.data" >
          <td>{{personalprivacy.version}}</td>
          <td style="max-width: 450px;"><div class="text-dis" >{{personalprivacy.name_TH | stripHtml }}</div></td>
          <td>{{personalprivacy.created| date: 'YYYY/MM/dd HH:MM'}}</td>
          <td>{{personalprivacy.createdBy}}</td>
          <td>
            <p *ngIf="personalprivacy.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>  
          </td> 
          <td class="d-flex">
            <div class=" btn-view"  routerLink="/detailpersonalprivacy/{{personalprivacy.id}}" routerLinkActive="router-link-active">
              <i class="far fa-eye"></i>
            </div>
            <div class=" btn-edit" *ngIf="personalprivacy.active === false">
              <i class="fas fa-edit"  routerLink="/managepersonalprivacy/{{personalprivacy.id}}" ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
  </div>
  <ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
