<ng-template class="position-relative" style="min-height: 100vh;" #imageCroperModal>
    <div class="modal-header py-2 d-flex justify-content-between align-items-center" style="background-color: var(--app-primary);">
        <h2 class="text-center text-white m-0">Select image</h2>
        <i class="fas fa-times-circle text-white cursor-pointer" style="font-size: 20px;" (click)="hide()"></i>
    </div>
    <div class="modal-body px-0 pb-0 pt-2">
        <div class="container position-relative" style="height: 720px; overflow: auto;">
            <div class="row h-100">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                    <label *ngIf="!img" for="uploadImageCroper" style="color: var(--app-secondary); width: 100px; height: 100px; border: #7d7d7d solid 2px; border-style: dotted;" class="position-absolute m-0 p-3 rounded"><i class="far fa-folder-open m-auto text-muted cursor-pointer" style="font-size: 56px;"></i></label>
                    <image-cropper *ngIf="img && isCrop"
                        style="width: 90%; max-width: 90%;"
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="1 / 1"
                        [resizeToWidth]="512"
                        format="png"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed($event)"
                    ></image-cropper>
              
                    <img *ngIf="!isCrop" [src]="imageSrc" alt="" style="width: 90%; max-width: 90%;">
                </div>
            </div>
        </div>
 
    </div>
    <div class="modal-footer justify-content-between bottom-0 py-2">
        <div>
            <div *ngIf="img">
                <i class="fas fa-crop cursor-pointer m-2" style="font-size: 28px;" (click)="isCrop = !isCrop"></i>
            </div>
        </div>
        <div>
            <button class="btn btn-danger mb-0" (click)="onCancel()">ยกเลิก</button>
            <button class="btn text-white mb-0 mx-2" (click)="onConfirm()" [disabled]="!img" style="background-color: #253cff;">ตกลง</button>
        </div>
        
    </div>
    <input type="file" [(ngModel)]="img" id="uploadImageCroper" (change)="fileChangeEvent($event); $event.stopPropagation();" accept="image/*" hidden/>
</ng-template>