<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4>คำถามที่พบบ่อย</h4>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <div class="table-action">
          <div class="search">
            <label class="pure-material-checkbox">
              <span class="ml-2">คำถาม</span>
              <span class="required">*</span>
              <input type="checkbox" class="ml-2" formControlName="active">
              <span class="ml-2">เปิดใช้งาน</span>
            </label>
          </div>

        </div>

        <div class="mb-3">
          <p for="inputEmail3" class="col-sm-2 col-form-label">ประเภท<span class="required">*</span></p>
          <div class="col-sm-12">
            <select class="form-control " formControlName="module">
              <option value="" selected disabled>Select Module</option>
              <option value="customer">customer</option>
              <option value="driver">driver</option>
            </select>
            <span class="form-error" *ngIf="submitted && !module">
              Please select module.
            </span>
          </div>
        </div>

        <div class="mb-3">
          <p for="inputEmail3" class="col-sm-2 col-form-label">คำถาม<span class="required">*</span></p>
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="" formControlName="title_TH">
            <span class="form-error" *ngIf="submitted && !title_TH">
              Please enter title.
            </span>
          </div>
        </div>

        <div class="mb-2">
          <p for="inputEmail3" class="col-sm-2 col-form-label">คำตอบ<span class="required">*</span></p>
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="" formControlName="detail_TH">
            <span class="form-error" *ngIf="submitted && !detail_TH">
              Please enter detail.
            </span>
          </div>
        </div>
  
      </div>

    <div class="col-12 text-right mt-3">
      <button type="submit" class="btn btn-submit">ยืนยัน</button>
      <button routerLink="/FAQ" type="button" class="btn btn-defualt">ยกเลิก</button>
    </div>
  </form>
</div>