<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>การจัดส่ง</h4>
        </div>    
      </div>
    </div><!-- /.container-fluid -->
  </section>
<div class="page-body">
  <select class="form-control form-control-sm mb-4 col-2" [(ngModel)]="status" (change)="filter()">
    <option value="99">ทั้งหมด</option>
    <!-- <option value="1">ประกาศหารถ</option> -->
    <option value="3">จองงานล่วงหน้าสำเร็จ</option>
    <option value="0">กำลังดำเนินการ</option>
    <option value="16">สำเร็จ</option>
    <option value="15">ไม่สำเร็จ</option>

  </select>
  <hr>

  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter()">
        ค้นหา
      </div>
    </div>

  </div>
  <div class="table-body">
    <table id="example1" class="table table-hover table-bordered table-striped">

      <thead>
        <tr>
          <th class="delivery-column-style">
            เลขพัสดุ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'trackingCode'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'trackingCode'" class="fas fa-chevron-up" (click)="orderBy('trackingCode')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'trackingCode'" class="all fas fa-chevron-up" (click)="orderBy('trackingCode')"></i>
          </th>
          <th class="delivery-column-style">
            ทะเบียนรถ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'carRegistration'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'carRegistration'" class="fas fa-chevron-up" (click)="orderBy('carRegistration')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'carRegistration'" class="all fas fa-chevron-up" (click)="orderBy('carRegistration')"></i>
          </th>
          <th class="delivery-column-style">
            คนขับรถ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'driverName'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'driverName'" class="fas fa-chevron-up" (click)="orderBy('driverName')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'driverName'" class="all fas fa-chevron-up" (click)="orderBy('driverName')"></i>
          </th>
          <th class="delivery-column-style">
            ระยะทาง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'distance'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'distance'" class="fas fa-chevron-up" (click)="orderBy('distance')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'distance'" class="all fas fa-chevron-up" (click)="orderBy('distance')"></i>
          </th>
          <th class="delivery-column-style">
            สถานะการขนส่ง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'statusName'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'statusName'" class="fas fa-chevron-up" (click)="orderBy('statusName')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'statusName'" class="all fas fa-chevron-up" (click)="orderBy('statusName')"></i>
          </th>
          <th class="delivery-column-style">
            ชื่อผู้ส่ง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'customerName'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'customerName'" class="fas fa-chevron-up" (click)="orderBy('customerName')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'customerName'" class="all fas fa-chevron-up" (click)="orderBy('customerName')"></i>
          </th>
          <th class="delivery-column-style">
            ต้นทาง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'pickupPoint'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'pickupPoint'" class="fas fa-chevron-up" (click)="orderBy('pickupPoint')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'pickupPoint'" class="all fas fa-chevron-up" (click)="orderBy('pickupPoint')"></i>
          </th>
          <th class="delivery-column-style">
            วันที่ส่งของ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'pickupPointDate'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'pickupPointDate'" class="fas fa-chevron-up" (click)="orderBy('pickupPointDate')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'pickupPointDate'" class="all fas fa-chevron-up" (click)="orderBy('pickupPointDate')"></i>
          </th>
          <th class="delivery-column-style">
            ชื่อผู้รับ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'recipientnName'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'recipientnName'" class="fas fa-chevron-up" (click)="orderBy('recipientnName')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'recipientnName'" class="all fas fa-chevron-up" (click)="orderBy('recipientnName')"></i>
          </th>
          <th class="delivery-column-style">
            ปลายทาง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'deliveryPoint'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'deliveryPoint'" class="fas fa-chevron-up" (click)="orderBy('deliveryPoint')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'deliveryPoint'" class="all fas fa-chevron-up" (click)="orderBy('deliveryPoint')"></i>
          </th>
          <th class="delivery-column-style">
            วันที่รับของ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'deliveryPointDate'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'deliveryPointDate'" class="fas fa-chevron-up" (click)="orderBy('deliveryPointDate')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'deliveryPointDate'" class="all fas fa-chevron-up" (click)="orderBy('deliveryPointDate')"></i>
          </th>
          <th class="delivery-column-style">
            ค่าส่ง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'orderingPrice'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'orderingPrice'" class="fas fa-chevron-up" (click)="orderBy('orderingPrice')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'orderingPrice'" class="all fas fa-chevron-up" (click)="orderBy('orderingPrice')"></i>
          </th>
          <th class="delivery-column-style">แผนที่</th>

        </tr>
      </thead>

      <tbody>
        <tr class="row-hover" *ngFor="let orderings of ordering.data" routerLink="/managedelivery/{{orderings.id}}">
          <td style="color: #0cd6cc;">{{orderings?.trackingCode}}</td>
          <td>{{orderings?.carRegistration}}</td>
          <td>{{orderings?.driverName}}</td>
          <td>{{orderings?.distance}}</td>
          <td><span [ngStyle]="{ 'color': orderings?.statusColor}">{{orderings?.statusName}}</span></td>
          <td>{{orderings?.customerName}}</td>
          <td>{{orderings?.pickupPoint}}</td>
          <td>{{orderings?.pickupPointDate}}</td>
          <td>{{orderings?.recipientnName}}</td>
          <td>{{orderings?.deliveryPoint}}</td>
          <td>{{orderings?.deliveryPointDate}}</td>
          <td>{{orderings.orderingPrice}}</td>
          <td class="action-button-column"><a href=""><i class="fas fa-map-marker-alt" style="color: rgb(255, 206, 72);"></i></a>  </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page-footer my-3">
    <app-table-pagination [count]="ordering.itemCount" [page]="ordering.pageNumber" [limit]="ordering.pageSize"
                          (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div> 
