<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>อุปกรณ์ประหยัดพลังงาน</h1>
      </div>

    </div>
  </div>
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" (keydown.enter)="filter(search)" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/manageenergysavingdevice']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            ชื่อ (TH)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'name_TH'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up" (click)="orderBy('name_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'name_TH'" class="all fas fa-chevron-up" (click)="orderBy('name_TH')"></i>
          </th>
          <th>
            Name (EN)
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'name_ENG'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'name_ENG'" class="fas fa-chevron-up" (click)="orderBy('name_ENG')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'name_ENG'" class="all fas fa-chevron-up" (click)="orderBy('name_ENG')"></i>
          </th>
          <th>
            ลำดับ
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'sequence'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'sequence'" class="fas fa-chevron-up" (click)="orderBy('sequence')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'sequence'" class="all fas fa-chevron-up" (click)="orderBy('sequence')"></i>
          </th>
          <th>
            วันที่สร้าง
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'created'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up" (click)="orderByDate('created')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'created'" class="all fas fa-chevron-up" (click)="orderByDate('created')"></i>
          </th>
          <th>
            วันที่แก้ไขล่าสุด
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 3 && column === 'modified'" class=" fas fa-chevron-down" (click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="active === 2 && column === 'modified'" class="fas fa-chevron-up" (click)="orderByDate('modified')"></i>
            <i style="cursor: pointer; font-size: 14px;" *ngIf="column !== 'modified'" class="all fas fa-chevron-up" (click)="orderByDate('modified')"></i>
          </th>
          <!--<th>Specified</th>-->
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <!-- {{a[0].name_TH}} -->
        <tr *ngFor="let energysavingdevice of energysavingdevices.data">
          <td>{{energysavingdevice.name_TH}}</td>
          <td>{{energysavingdevice.name_ENG}}</td>
          <th>{{energysavingdevice.sequence}}</th>
          <td>{{energysavingdevice.created | date}}</td>
          <td>{{energysavingdevice.modified | date}}</td>
          <!--<td>
    <div class="input-group input-group-sm ">
      <label class="pure-material-checkbox">
        <p *ngIf="energysavingdevice.specified === true;else data_not_found " class="btn btn-sm ml-2 btn-check">
          <i class="fas fa-check"></i>
        </p>
      </label>
    </div>
  </td>-->
          <td>
            <div class="input-group input-group-sm ">
              <label class="pure-material-checkbox">
                <p *ngIf="energysavingdevice.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check">
                  <i class="fas fa-check"></i>
                </p>
              </label>
            </div>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/manageenergysavingdevice/{{energysavingdevice.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(energysavingdevice.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="energysavingdevices.itemCount" [page]="energysavingdevices.pageNumber" [limit]="energysavingdevices.pageSize"
                          (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>

<ng-template #data_not_found>
  <p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>
</ng-template>
