<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>ร้องเรียน/คำเเนะนำ</h4>
        </div>    
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="page-body">
    <div class="table-action">
      <div class="search">
        <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
        <div class="btn btn-search" (click)="filter()">
          ค้นหา
        </div>
      </div>
     
    </div>

    <div class="table-body">
        <table id="example1" class="table table-hover table-bordered table-striped">      
        <thead>
        <tr>
          <th>รูปโปรไฟล์</th>
          <th>ชื่อนามสกุล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name'" class="fas fa-chevron-up"(click)="orderBy('name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name'"  class="all fas fa-chevron-up"(click)="orderBy('name')"></i>
          </th>
          <th>ประเภท
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'module'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up"(click)="orderBy('module')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'module'"  class="all fas fa-chevron-up"(click)="orderBy('module')"></i>
          </th>
          <th>หัวข้อ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'title'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'title'" class="fas fa-chevron-up"(click)="orderBy('title')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'title'"  class="all fas fa-chevron-up"(click)="orderBy('title')"></i>
          </th>
          <th>วันที่ทำรายการ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th></th>

        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let complain of complains.data" >
          <td>   
            <div class="row justify-content-center" >
              <img onerror="this.src='assets/images/user.png';" *ngIf="complain.customer !== null" style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;" src="{{complain.customer?.files | imageFilter: 'profilepicture'}}" alt=""> 
              <img onerror="this.src='assets/images/user.png';"*ngIf="complain.driver !== null" style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;" src="{{complain.driver?.files | imageFilter: 'profilepicture'}}" alt=""> 
            </div>       
           
            
          </td>  
          <td >{{complain.name}}</td>
          <td>{{complain.module}}</td>
          <td>{{complain.title}}</td>
          <td>{{complain.created}}</td>
          <td class="d-flex">
            <div class=" btn-view"  routerLink="/detailcomplain/{{complain.id}}/{{complain.module}}" routerLinkActive="router-link-active">
              <i class="far fa-eye"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(complain.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table> 
</div>

    <div class="page-footer my-3">
      <app-table-pagination [count]="complains.itemCount" [page]="complains.pageNumber" [limit]="complains.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>
  