<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ระดับลูกค้า</h1>
      </div>

    </div>
  </div> 
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="css-table table table-boarderBottom">
      <tbody>

        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              ระดับ
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="level" [ngClass]="{ 'is-invalid': submitted && formControls.level.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              จำนวนดาว
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="star" [ngClass]="{ 'is-invalid': submitted && formControls.star.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              จำนวนการเรียกรถ
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="requestCar" [ngClass]="{ 'is-invalid': submitted && formControls.requestCar.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              จำนวนการยกเลิกงาน
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="cancelAmount" [ngClass]="{ 'is-invalid': submitted && formControls.cancelAmount.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 200px;">
            <p class="pt-1 m-0">
              มูลค่ารวม
              <span class="required">*</span>
            </p>
          </td>
          <td colspan="4">
            <div class="input-group input-group-sm ">
              <input type="number" class="form-control col-6" placeholder="" value="" formControlName="orderValue" [ngClass]="{ 'is-invalid': submitted && formControls.orderValue.errors }">
            </div>
          </td>
        </tr>
      </tbody>

    </table>

    <div style="text-align:right" class="col-7" >
      <button type="submit" class="btn btn-submit">ยืนยัน</button>
      <button routerLink="/customerlevelcharacteristic" type="button" class="btn btn-defualt">ยกเลิก</button>
    </div>
  </form>
</div>

