  <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light justify-content-between">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item chat" [routerLink]="['/chat']">
      <i class="fas fa-comment"></i>
      <span *ngIf="chatBage > 0" class="badge">{{chatBage | number}}</span>
    </li>
    <li class="nav-item pl-2">
      <div class="admin-name">{{profile.firstNameEN}} {{profile.lastNameEN}}</div>
    </li>
    <li class="nav-item">
      <img onerror="this.src='assets/images/user.png';" class="avatar"
           src="https://itrans-test-content.humantix.cloud/{{profile.imageprofile}}">
    </li>

  </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <!-- <a href="#" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">iTran</span>
  </a> -->
  <!-- Sidebar -->
  <div class="sidebar pt-4">
    <!-- Sidebar user panel (optional) -->

    <div class="itran-image mt-4 mb-4">
      <img src="./assets/images/logo.png" class="itran-logo" alt="User Image">
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-4">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <ng-container *ngFor="let item of permission.menuPermission">
          <li class="nav-item" *ngIf="item.isShow"
              [ngClass]="{'none': item.id ===2 || item.id ===3 || item.id ===4|| item.id ===10||item.id ===11|| item.id ===14} ">
            <a (click)="btnClick(item.path)" class="nav-link">
              <i class="{{item.icon}}"></i>
              <p class="ml-2">{{item.menuName}}</p>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'menu-open':
                      router.url.split('/')[1] === 'news' ||
                      router.url.split('/')[1] === 'announcement'

                    }" *ngIf="item.id === 2&& item.isShow">
            <a class="nav-link">
              <i class=" fas fa-clipboard"></i>
              <p class="ml-2">
                {{item.menuName}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" *ngIf="checknew">
                <a [routerLink]="['/news']" class="nav-link"
                   [ngClass]="{'open':router.url.split('/')[1] === 'news' }">
                  <p>News</p>
                </a>
              </li>
              <li class="nav-item" *ngIf="checkannount">
                <a [routerLink]="['/announcement']" class="nav-link"
                   [ngClass]="{'open': router.url.split('/')[1] === 'announcement'}">
                  <p>Announcement</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="item.id ===10 && item.isShow">
            <a href="#" class="nav-link">
              <i class=" fas fa-shield-alt"></i>
              <p class="ml-2">
                {{item.menuName}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/adminprofile']" class="nav-link">
                  <p>ข้อมูลแอดมิน</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/permission']" class="nav-link">
                  <p>จัดการสิทธ์แอดมิน</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/changepassword']" class="nav-link">
                  <p>เปลี่ยนรหัสผ่าน</p>
                </a>
              </li>


            </ul>
          </li>

          <li class="nav-item" *ngIf="item.id === 11 && item.isShow">
            <a href="#" class="nav-link">
              <i class=" fas fa-question-circle"></i>
              <p class="ml-2">
                {{item.menuName}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/FAQ']" class="nav-link">
                  <p>คำถามที่พบบ่อย</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/complain" [routerLink]="['/complain']" class="nav-link">
                  <p>ร้องเรียน / แนะนำ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/email" [routerLink]="['/email']" class="nav-link">
                  <p>อีเมล</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/chatlog']" class="nav-link">
                  <p>แชท</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/termsconditions']" class="nav-link">
                  <p>ข้อกำหนดการใช้งาน</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/personalprivacy']" class="nav-link">
                  <p>ความเป็นส่วนตัว </p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/consentmarketing']" class="nav-link">
                  <p>ข้อกำหนดด้านการตลาด</p>
                </a>
              </li>
            </ul>
          </li>
          <!--         <li class="nav-item">
            <a [routerLink]="['/audittails']" class="nav-link">
              <i class="fas fa-file-alt"></i>
              <p class="ml-2">ประวัติการทำรายการ</p>
            </a>
          </li> -->
          <li class="nav-item" *ngIf="item.id ===14 && item.isShow" [ngClass]="{'menu-open':
          router.url.split('/')[1] === 'corporatetype' ||
          router.url.split('/')[1] === 'cartype' ||
          router.url.split('/')[1] === 'carlist' ||
          router.url.split('/')[1] === 'cardescription' ||
          router.url.split('/')[1] === 'carspecification' ||
          router.url.split('/')[1] === 'carfeature' ||
          router.url.split('/')[1] === 'producttype' ||
          router.url.split('/')[1] === 'containertype' ||
          router.url.split('/')[1] === 'userlevel'  ||
          router.url.split('/')[1] === 'orderingcancelstatus' ||
          router.url.split('/')[1] === 'containerspecification' ||
          router.url.split('/')[1] === 'energysavingdevice'
        }">
            <a class="nav-link">
              <i class=" fas fa-clipboard"></i>
              <p class="ml-2">
                {{item.menuName}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/title']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'title' }">
                  <p>คำนำหน้านาม</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/corporatetype']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'corporatetype' }">
                  <p>นิติบุคคล</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/cartype']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'cartype' }">
                  <p>ประเภทรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/carspecification']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'carspecification' }">
                  <p>รายละเอียดรถยนต์</p>
                </a>
              </li>
              <!--  <li class="nav-item">
    <a [routerLink]="['/carlist']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'carlist' }">
      <p>รายการรถยนต์</p>
    </a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/cardescription']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'cardescription' }">
      <p>รายละเอียดรถยนต์</p>
    </a>
  </li>
    <li class="nav-item">
    <a [routerLink]="['/carfeature']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'carfeature' }">
      <p>ลักษณะพิเศษรถยนต์</p>
    </a>
  </li>-->
              <li class="nav-item">
                <a [routerLink]="['/producttype']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'producttype' }">
                  <p>ประเภทสินค้า</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/productpackaging']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'productpackaging' }">
                  <p>บรรจุภัณฑ์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/containertype']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'containertype' }">
                  <p>ประเภทตู้คอนเทนเนอร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/containerspecification']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'containerspecification' }">
                  <p>ขนาดตู้คอนเทนเนอร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/energysavingdevice']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'energysavingdevice' }">
                  <p>อุปกรณ์ประหยัดพลังงาน</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/userlevel']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'userlevel' }">
                  <p>ระดับลูกค้า/คนขับ</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/orderingcancelstatus']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'orderingcancelstatus' }">
                  <p>สถานะยกเลิกงานของลูกค้า</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/welcomeinformation']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'welcomeinformation' }">
                  <p>ข้อความต้อนรับ</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/registerinformation']" class="nav-link" [ngClass]="{'open':router.url.split('/')[1] === 'registerinformation' }">
                  <p>ข้อมูลการลงทะเบียน</p>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
        <!--<a class="nav-link">
              <i class=" fas fa-clipboard"></i>
              <p class="ml-2">
                {{item.menuName}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/corporatetype']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'corporatetype' }">
                  <p>นิติบุคคล</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/cartype']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'cartype' }">
                  <p>ประเภทรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/carlist']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'carlist' }">
                  <p>รายการรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/cardescription']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'cardescription' }">
                  <p>รายละเอียดรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/carspecification']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'carspecification' }">
                  <p>ความสูงรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/carfeature']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'carfeature' }">
                  <p>ลักษณะพิเศษรถยนต์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/producttype']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'producttype' }">
                  <p>ประเภทสินค้า</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/productpackaging']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'productpackaging' }">
                  <p>บรรจุภัณฑ์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/containertype']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'containertype' }">
                  <p>ประเภทตู้คอนเทนเนอร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/containerspecification']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'containerspecification' }">
                  <p>ขนาดตู้คอนเทนเนอร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/energysavingdevice']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'energysavingdevice' }">
                  <p>อุปกรณ์ประหยัดพลังงาน</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/userlevel']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'userlevel' }">
                  <p>ระดับลูกค้า/คนขับ</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/orderingcancelstatus']" class="nav-link"
                  [ngClass]="{'open':router.url.split('/')[1] === 'orderingcancelstatus' }">
                  <p>สถานะยกเลิกงานของลูกค้า</p>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>-->

      </ul>

    </nav>

    <!-- /.sidebar-menu -->
  </div>
  <nav class="nav nav-pills nav-sidebar flex-column mx-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a class="nav-link text-white " (click)="singout()">
          <i class="fas fa-sign-out-alt"></i>
          <p class="ml-2 text-white ">
            Logout

          </p>
        </a>

      </li>
    </ul>
  </nav>
  <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
