.main-sidebar {
    padding-top: 30x;
    z-index: 10;
}
.main-header {
    z-index: 10;
}
.itran-image {
    text-align: center;
    background: white;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    overflow: hidden;
    height: fit-content;
    width: 95%;
    transform: translateX(-7px);
    display: grid;
    align-items: center;
    padding-left: 3%;
    .itran-logo {
        width: 89%;
        margin: 23px;
        margin-left: 0;
    }
}

.nav-treeview {
    padding-left: 40px;
}
.nav-link.open {
    background: #2839ca;
}
.fas {
    width: 32px;
}
.fa-angle-left {
    width: fit-content !important;
}
.nav-item {
    padding: 8px 0;
    color: white;
    display: grid;
    align-items: center;
}
.sidebar a {
    color: #ffffff !important;
}

body.sidebar-mini .itran-image {
    opacity: 0;
}
.avatar {
    width: 42px;
    height: 42px;
    border-radius: 40px;
    margin: 0 10px;
}
.admin-name {
    color: #9d9d9e;
}
.chat {
    position: relative;
    border-right: solid 1px#9d9d9e;
    height: 40px;
    align-self: center;
    margin: 0 8px;
    cursor: pointer;
    .fas {
        font-size: 28px;
        color: #5d5d5d;
        margin-right: 16px;
    }
    .badge {
        position: absolute;
        background: red;
        top: 0;
        right: 13px;
        border-radius: 50px;
    }
}
.nav-link {
    cursor: pointer;
}
.none{
    display: none;
}
.show{
    display: inline;
}
