<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>รายละเอียดร้องเรียน/คำเเนะนำ</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <div class="page-body">
    <div class="mt-2">
      <b>รูปลูกค้า</b>
      <div class="mt-2 mb-3" style="background-color: #333; height:150px; width:150px; border-radius: 50%;overflow: hidden;
        border: #eee solid 1px;">
        <img onerror="this.src='assets/images/user.png';" *ngIf="complains.customer !== null" class="w-100 h-100" src="{{complains.customer?.files | imageFilter: 'profilepicture'}}" alt=""> 
        <img onerror="this.src='assets/images/user.png';"*ngIf="complains.driver !== null" class="w-100 h-100"  src="{{complains.driver?.files | imageFilter: 'profilepicture'}}" alt=""> 
     </div> 
    </div>

      <table class="css-table table table-boarderBottom">
        <tbody>
          
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ชื่อนามสกุล
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input disabled  type="text" class="form-control col-6" [(ngModel)]="complains.name"   >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                ประเภท
              </p>
            </td>
            <td colspan="4">
              <div class="input-group input-group-sm ">
                <input disabled  type="text" class="form-control col-6"  placeholder="EN" [(ngModel)]="complains.module" >
              </div>
            </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                หัวข้อ
              </p>
            </td>
            <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input disabled  type="text" class="form-control col-6"  placeholder="EN" [(ngModel)]="complains.title" >
                </div>
              </td>
          </tr>
          <tr>
            <td style="width: 100px;">
              <p class="pt-1 m-0">
                รายละเอียด
              </p>
            </td>
            <td colspan="4">
                <div class="input-group input-group-sm ">
                  <input disabled type="text" class="form-control col-6"  placeholder="EN" [(ngModel)]="complains.detail" >
                </div>
              </td>
          </tr>
          <tr>
        </tbody>
    
        </table>
      
  
      <div style="text-align:right">
        <button routerLink="/complain" type="button" class="btn btn-defualt" >กลับ</button>
      </div>
  </div>

  