<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4>คำถามที่พบบ่อย</h4>
      </div>    
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/createFAQ']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>

  <div class="table-body">
      <table id="example1" class="table table-hover table-bordered table-striped">      
      <thead>
      <tr>
        <th>ประเภท
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'module'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up"(click)="orderBy('module')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'module'"  class="all fas fa-chevron-up"(click)="orderBy('module')"></i>
        </th>
        <th>คำถาม
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'title_TH'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'title_TH'" class="fas fa-chevron-up"(click)="orderBy('title_TH')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'title_TH'"  class="all fas fa-chevron-up"(click)="orderBy('title_TH')"></i>
        </th>
        <th>คำตอบ
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'detail_TH'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'detail_TH'" class="fas fa-chevron-up"(click)="orderBy('detail_TH')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'detail_TH'"  class="all fas fa-chevron-up"(click)="orderBy('detail_TH')"></i>
        </th>
        <th>วันที่ทำรายการ
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
        </th>
        <th>สถานะ</th>
        <th></th>

      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let FAQ of FAQs.data" >
        <td>{{FAQ.module}}</td>
        <td>{{FAQ.title_TH}}</td>
        <td style="max-width: 450px;"><div class="text-dis">{{FAQ.detail_TH}}</div></td> 
        <td>{{FAQ.created}}</td>
        <td>
        <div class="input-group input-group-sm ">
          <label class="pure-material-checkbox">
            <p *ngIf="FAQ.active === true;else data_not_found " class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p>  
          </label>
        </div>
        </td>
     
        <td class="d-flex">
          <div class=" btn-edit"  routerLink="/manageFAQ/{{FAQ.id}}" routerLinkActive="router-link-active">
            <i class="far fa-edit"></i>
          </div>
          <div class=" btn-delete">
            <i class="fas fa-trash" (click)="onDelete(FAQ.id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 
</div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="FAQs.itemCount" [page]="FAQs.pageNumber" [limit]="FAQs.pageSize"
      (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
