<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>ระดับคนขับ</h1>
      </div>
    </div>
  </div>
</section>
<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
    <div class="action">
      <div class="btn btn-create" [routerLink]="['/managedriverlevelcharacteristic']" routerLinkActive="router-link-active">
        <i class="fas fa-plus"></i> สร้าง
      </div>
    </div>
  </div>
  <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ระดับ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'level'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'level'" class="fas fa-chevron-up"(click)="orderBy('level')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'level'"  class="all fas fa-chevron-up"(click)="orderBy('level')"></i>
          </th>
          <th>จำนวนดาว
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'star'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'star'" class="fas fa-chevron-up"(click)="orderBy('star')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'star'"  class="all fas fa-chevron-up"(click)="orderBy('star')"></i>
          </th>
          <th>จำนวนการร้องเรียนต่อเดือน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'complaintPerMonth'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'complaintPerMonth'" class="fas fa-chevron-up"(click)="orderBy('complaintPerMonth')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'complaintPerMonth'"  class="all fas fa-chevron-up"(click)="orderBy('complaintPerMonth')"></i>
          </th>
          <th>จำนวนการปฏิเสธงานต่อเดือน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'rejectPerMonth'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'rejectPerMonth'" class="fas fa-chevron-up"(click)="orderBy('rejectPerMonth')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'rejectPerMonth'"  class="all fas fa-chevron-up"(click)="orderBy('rejectPerMonth')"></i>
          </th>
          <th>จำนวนการยกเลิกงานต่อเดือน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'cancelPerMonth'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'cancelPerMonth'" class="fas fa-chevron-up"(click)="orderBy('cancelPerMonth')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'cancelPerMonth'"  class="all fas fa-chevron-up"(click)="orderBy('cancelPerMonth')"></i>
          </th>
          <th>จำนวนการร้องเรียนต่อปี
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'complaintPerYear'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'complaintPerYear'" class="fas fa-chevron-up"(click)="orderBy('complaintPerYear')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'complaintPerYear'"  class="all fas fa-chevron-up"(click)="orderBy('complaintPerYear')"></i>
          </th>
          <th>จำนวนการปฏิเสธงานต่อปี
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'rejectPerYear'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'rejectPerYear'" class="fas fa-chevron-up"(click)="orderBy('rejectPerYear')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'rejectPerYear'"  class="all fas fa-chevron-up"(click)="orderBy('rejectPerYear')"></i>
          </th>
          <th>จำนวนการยกเลิกงานต่อเปี
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'cancelPerYear'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'cancelPerYear'" class="fas fa-chevron-up"(click)="orderBy('cancelPerYear')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'cancelPerYear'"  class="all fas fa-chevron-up"(click)="orderBy('cancelPerYear')"></i>
          </th>
          <th>มูลค่าประกัน
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'insuranceValue'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'insuranceValue'" class="fas fa-chevron-up"(click)="orderBy('insuranceValue')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'insuranceValue'"  class="all fas fa-chevron-up"(click)="orderBy('insuranceValue')"></i>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of driverLevelCharacteristics.data">
          <td>{{item.level}}</td>
          <td>{{item.star}}</td>
          <td>{{item.complaintPerMonth}}
          <td>{{item.rejectPerMonth}}</td>
          <td>{{item.cancelPerMonth}}</td>
          <td>{{item.complaintPerYear}}</td>
          <td>{{item.rejectPerYear}}</td>
          <td>{{item.cancelPerYear}}</td>
          <td>{{item.insuranceValue}}</td>
          <td class="d-flex">
            <div class=" btn-edit" routerLink="/managedriverlevelcharacteristic/{{item.id}}">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(item.id)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="page-footer my-3">
    <app-table-pagination [count]="driverLevelCharacteristics.itemCount" [page]="driverLevelCharacteristics.pageNumber" [limit]="driverLevelCharacteristics.pageSize"
                          (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
<ng-template #data_not_found><p style="color: #0cd6cc;" class="btn btn-sm ml-2 btn-check"><i class="fas fa-check"></i></p></ng-template>
