<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>ข้อมูลแอดมิน</h4>
        </div>    
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="page-body">
     
      <div class="table-action">
        <div class="search">
          <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
          <div class="btn btn-search" (click)="filter(search)">
            ค้นหา
          </div>
        </div>
        <div class="action">
          <div class="btn btn-create" [routerLink]="['/manageadminprofile']" routerLinkActive="router-link-active">
            <i class="fas fa-plus"></i> สร้าง
          </div>
        </div>
      </div>
    <div class="table-body">
        <table id="example1" class="table table-hover table-bordered table-striped">      
          <thead>
        <tr>
          <th>รูปแอดมิน</th>
          <th>ชื่อ-นามสกุล (EN)
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name_EN'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name_EN'" class="fas fa-chevron-up"(click)="orderBy('name_EN')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name_EN'"  class="all fas fa-chevron-up"(click)="orderBy('name_EN')"></i>
          </th>
          <th>ชื่อ-นามสกุลคนขับ (TH)
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'name_TH'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'name_TH'" class="fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'name_TH'"  class="all fas fa-chevron-up"(click)="orderBy('name_TH')"></i>
          </th>
          <th>บทบาทของผู้ใช้
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'role_Name'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'role_Name'" class="fas fa-chevron-up"(click)="orderBy('role_Name')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'role_Name'"  class="all fas fa-chevron-up"(click)="orderBy('role_Name')"></i>
          </th>
          <th>หมายเลขโทรศัพท์
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'phoneNumber'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'phoneNumber'" class="fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'phoneNumber'"  class="all fas fa-chevron-up"(click)="orderBy('phoneNumber')"></i>
          </th>
          <th>อีเมล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'email'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'email'" class="fas fa-chevron-up"(click)="orderBy('email')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'email'"  class="all fas fa-chevron-up"(click)="orderBy('email')"></i>
          </th>
          <th>เเก้ไขครั้งล่าสุด
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'modified'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'modified'" class="fas fa-chevron-up"(click)="orderBy('modified')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'modified'"  class="all fas fa-chevron-up"(click)="orderBy('modified')"></i>
          </th>
          <th>เเก้ไขโดย
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'modifiedBy'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'modifiedBy'" class="fas fa-chevron-up"(click)="orderBy('modifiedBy')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'modifiedBy'"  class="all fas fa-chevron-up"(click)="orderBy('modifiedBy')"></i>
          </th>
          <th>สถานะ</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let i of user.data">
          <td>
            <div class="row justify-content-center" >
              <img onerror="this.src='assets/images/user.png';" style="width: 40px; height: 40px; background-color: rgba(124, 124, 124, 0.1); border-radius: 50%; border: #eee solid 1px;" src="https://itrans-test-content.humantix.cloud/{{i.imageprofile}}" alt="">  
            </div>
          </td>
          <td>{{i.name_EN}}</td>
          <td>{{i.name_TH}}</td>
          <td>{{i.role_Name}}</td>
          <td>{{i.phoneNumber}}</td>
          <td>{{i.email}}</td>
          <td>{{i.modified | date: 'YYYY/MM/dd HH:MM'}}</td>
          <td>{{i.modifiedBy}}</td>
       
          <td class="d-flex">           
            <div class=" btn-edit" routerLink="/manageadminprofile/{{i.emplID}}" routerLinkActive="router-link-active">
              <i class="fas fa-edit"></i>
            </div>
            <div class=" btn-delete">
              <i class="fas fa-trash" (click)="onDelete(i.emplID)"></i>

            </div>
          </td>
        </tr>
      </tbody>
    </table> 
</div>

    <div class="page-footer my-3">
      <app-table-pagination [count]="user.itemCount" [page]="user.pageNumber" [limit]="user.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>
  