<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4>อีเมล</h4>
      </div>    
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <div class="table-action">
    <div class="search">
      <input type="text" class="my-2 search-input" placeholder="ค้นหา" [(ngModel)]="search" />
      <div class="btn btn-search" (click)="filter(search)">
        ค้นหา
      </div>
    </div>
   
  </div>

  <div class="table-body">
      <table id="example1" class="table table-hover table-bordered table-striped">      
      <thead>
      <tr>
        <th>อีเมล
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'email'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'email'" class="fas fa-chevron-up"(click)="orderBy('email')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'email'"  class="all fas fa-chevron-up"(click)="orderBy('email')"></i>
        </th>
        <th>ประเภท
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'module'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up"(click)="orderBy('module')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'module'"  class="all fas fa-chevron-up"(click)="orderBy('module')"></i>
        </th>
        <th>ข้อความ
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'message'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'message'" class="fas fa-chevron-up"(click)="orderBy('message')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'message'"  class="all fas fa-chevron-up"(click)="orderBy('message')"></i>
        </th>
        <th>วันที่ทำรายการ
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
          <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
        </th>
        <th></th>

      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let email of emails.data" >
        <td>{{email.email}}</td>
        <td>{{email.module}}</td>
        <td>{{email.message}}</td>
        <td>{{email.created}}</td>
        <td class="d-flex">
          <div class=" btn-view"  routerLink="/detailemail/{{email.id}}/{{email.problemTopic.id}}" routerLinkActive="router-link-active">
            <i class="far fa-eye"></i>
          </div>
          <div class=" btn-delete">
            <i class="fas fa-trash" (click)="onDelete(email.id,email.problemTopic.id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 
</div>

  <div class="page-footer my-3">
    <app-table-pagination [count]="emails.itemCount" [page]="emails.pageNumber" [limit]="emails.pageSize"
      (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
    </app-table-pagination>
  </div>
</div>
