


  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Terms and Conditions</h4>
        </div>    
      </div>
    </div>
  </section>
  
  <div class="page-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    


     <!-- <div class="row mb-2">
      <div class="col-sm-1 col-form-label">
        <p style="color: #0264b1;">เวอร์ชั่น<span style="color: red;">*</span></p>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="" formControlName="version">
        <span class="form-error" *ngIf="isFormSubmit && !version">
         Please enter version.
       </span>
      </div>
    </div> -->


    <div class="row mb-2">
      <div class="col-sm-1 col-form-label">
        <p style="color: #0264b1;">Module<span style="color: red;">*</span></p>
      </div>
      <div class="col-3">
        <select class="form-control form-control-sm mb-4" formControlName="module"  >
          <option value="" disabled>Select Module</option>
          <option value="customer">customer</option>
          <option value="driver">driver</option>
    
        </select>
        <span class="form-error" *ngIf="isFormSubmit && !module">
          Please enter Module.
        </span>
      </div>
    </div>

    


    <div class="row mb-3">
      <div class="col-sm-1 col-form-label">
        <p style="color: #0264b1;">ชื่อ (TH)<span style="color: red;">*</span></p>
      </div>
      <div class="col-6">
        <input [ngxSummernote]="config" type="text" class="form-control " formControlName="name_TH"  >   
        <span class="form-error" *ngIf="isFormSubmit && !name_TH">
          Please enter Name.
        </span>
      </div>
    </div>

    <div class="row mb-3 mt-3">
      <div class="col-sm-1 col-form-label">
        <p style="color: #0264b1;">ชื่อ (EN)<span style="color: red;">*</span></p>
      </div>
      <div class="col-6">
        <input [ngxSummernote]="config" type="text" class="form-control " formControlName="name_ENG"  >   
        <span class="form-error" *ngIf="isFormSubmit && !name_ENG">
          Please enter Name.
        </span>
      </div>
    </div>


   

    <div class="text-right mt-3">
      <button type="submit"  class="btn btn-submit" >ยืนยัน</button>
      <button routerLink="/termsconditions" type="button" class="btn btn-defualt" >ยกเลิก</button>
    </div>
  </form>

  </div>
  