<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>บันทึกการตรวจสอบ</h1>
        </div>
        <div class="col-sm-6">
         
        </div>
      </div>
    </div>
  </section>
    <div class="page-body">
      <div class="table-action">
        <div class="search">
          <select class="search-input  col-3"[(ngModel)]="module" style="padding: 9px 8px;">
            <option value="">เมนูทั้งหมด</option>
            <option *ngFor="let s of selectModule" [ngValue]="s.module">{{s.module}}</option>        

          </select>
          <select class="search-input  col-3" [(ngModel)]="modifiedBy" style="padding: 9px 8px; margin-left: 10px;" >
            <option value="">ทำรายการทั้งหมด</option>
            <option *ngFor="let s of selectModifiedBy" [ngValue]="s.modifiedBy">{{s.modifiedBy}}</option>        
           
          </select>
          <input type="date" class="my-2 search-input" [(ngModel)]="start" style="margin-left: 10px;" />
          <input type="date" class="my-2 search-input"  [(ngModel)]="end"  style="margin-left: 10px;"/>
          <div class="btn btn-search" (click)="filter(created,start,end)">
            ค้นหา
          </div>
        </div>
      
      </div>
    <div class="table-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>วันที่ทำรายการ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'created'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'created'" class="fas fa-chevron-up"(click)="orderBy('created')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'created'"  class="all fas fa-chevron-up"(click)="orderBy('created')"></i>
          </th>
          <th>รายการ
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'function'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'function'" class="fas fa-chevron-up"(click)="orderBy('function')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'function'"  class="all fas fa-chevron-up"(click)="orderBy('function')"></i>
          </th>
          <th>ทำรายการโดย
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'modifiedBy'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'modifiedBy'" class="fas fa-chevron-up"(click)="orderBy('modifiedBy')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'modifiedBy'"  class="all fas fa-chevron-up"(click)="orderBy('modifiedBy')"></i>
          </th>
          <th>โมดูล
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'module'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'module'" class="fas fa-chevron-up"(click)="orderBy('module')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'module'"  class="all fas fa-chevron-up"(click)="orderBy('module')"></i>
          </th>
          <th>เมนู
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'section'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'section'" class="fas fa-chevron-up"(click)="orderBy('section')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'section'"  class="all fas fa-chevron-up"(click)="orderBy('section')"></i>
          </th>
          <th>ผลลัพธ์
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 3 && column === 'content'"  class=" fas fa-chevron-down"(click)="all()"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="active === 2 && column === 'content'" class="fas fa-chevron-up"(click)="orderBy('content')"></i>
            <i style="cursor: pointer; font-size: 14px;"  *ngIf="column !== 'content'"  class="all fas fa-chevron-up"(click)="orderBy('content')"></i>
          </th>
        </tr>
      </thead>
      <tbody>
      
          <!-- {{a[0].name_TH}} -->
        <tr *ngFor="let res of audittail.data">
          <td style="min-width: 145px;">{{res.created| date: 'YYYY/MM/dd HH:MM'}}</td>
          <td>{{res.function}}</td>
          <td>{{res.modifiedBy}}</td>
          <td>{{res.module}}</td>
          <td >{{res.section}}</td>
          <td><div class="text-dis">{{res.content}}</div></td>
          
        </tr>
      </tbody>
    </table>
  </div>

    <div class="page-footer my-3">
      <app-table-pagination [count]="audittail.itemCount" [page]="audittail.pageNumber" [limit]="audittail.pageSize"
        (onPrevious)="previous()" (onNext)="next()" (onSelectPage)="selectedPage($event)">
      </app-table-pagination>
    </div>
  </div>
