<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>คำนำหน้านาม</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">คำนำหน้านาม</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div class="page-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="css-table table table-boarderBottom">
      <tbody>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              ชื่อ (TH)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control col-4" placeholder="TH" value="" formControlName="name_TH" [ngClass]="{ 'is-invalid': submitted && formControls.name_TH.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              Name (EN)
              <span class="required">*</span>
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control col-4" placeholder="EN" value="" formControlName="name_ENG" [ngClass]="{ 'is-invalid': submitted && formControls.name_ENG.errors }">
            </div>
          </td>
        </tr>
        <tr>
          <td class="" style="width: 130px;">
            <p class="pt-1 m-0">
              สถานะ
            </p>
          </td>
          <td>
            <div class="input-group input-group-sm px-3 p-2">
              <label class="pure-material-checkbox">
                <input type="checkbox" class="form-check-input" formControlName="active">
                <span class="ml-2">Active</span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-5" style="text-align:right">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
      <button routerLink="/title" class="btn btn-defualt">ยกเลิก</button>

    </div>
  </form>
</div>

